force-app/main/default/flows/Add_Tasks_based_on_SKU_Mapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Project_Complexity_Calculator</name>
        <label>Project Complexity Calculator</label>
        <locationX>1044</locationX>
        <locationY>159</locationY>
        <actionName>ProjectComplexityCalculator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SKU_Effort_Management_Create</name>
        <label>SKU Effort Management Create</label>
        <locationX>865</locationX>
        <locationY>159</locationY>
        <actionName>SKUEffortManagementCreationService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Project_Complexity_Calculator</targetReference>
        </connector>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Milestone</name>
        <label>Update Milestone</label>
        <locationX>1236</locationX>
        <locationY>159</locationY>
        <actionName>CalculateForecastCompletionMilestone</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>projectIds</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Check_If_is_project_association</name>
        <label>Check If is project association</label>
        <locationX>180</locationX>
        <locationY>161</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_project_association</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsProjectAssociation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order</targetReference>
            </connector>
            <label>Is project association</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Order_is_not_Cancelled</name>
        <label>If Order is not Cancelled</label>
        <locationX>602</locationX>
        <locationY>162</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Order_is_not_cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SKU_Effort_Management_Create</targetReference>
            </connector>
            <label>Order is not cancelled</label>
        </rules>
    </decisions>
    <description>Removed call to milestone creation apex and association subflow</description>
    <interviewLabel>Add Tasks based on SKU Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Tasks based on SKU Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>433</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Order_is_not_Cancelled</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>Order.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Check_If_is_project_association</startElementReference>
    <status>Active</status>
    <variables>
        <name>IsProjectAssociation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
