force-app/main/default/flows/arr_invoiceCreationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Complete_Invoice</name>
        <label>Complete Invoice</label>
        <locationX>683</locationX>
        <locationY>370</locationY>
        <actionName>ARRInvoiceSenderFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopApiResult</targetReference>
        </connector>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>customerName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountNumber</name>
            <value>
                <elementReference>accountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bankBranch</name>
            <value>
                <elementReference>bankBranch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bankNumber</name>
            <value>
                <elementReference>bankNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>buId</name>
            <value>
                <elementReference>BuId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencyCode</name>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerNumber</name>
            <value>
                <elementReference>CustomerNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dispatchID</name>
            <value>
                <elementReference>DispatchId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceAmount</name>
            <value>
                <elementReference>AmountToInvoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isManualInvoice</name>
            <value>
                <elementReference>Manual_Invoice_ck</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>transactionType</name>
            <value>
                <elementReference>Operation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wireTransferItems</name>
            <value>
                <elementReference>wireTransferItems</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ApiOutput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>AssignLoopElementToApiMessage</name>
        <label>AssignLoopElementToApiMessage</label>
        <locationX>1104</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>ApiMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopElement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopApiResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLoopElementToSuccessVariable</name>
        <label>AssignLoopElementToSuccessVariable</label>
        <locationX>1104</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>ApiSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopElement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopApiResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountElement</name>
        <label>CountElement</label>
        <locationX>1104</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>Index</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttributeApiOutputToFlowOutput</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpenInvoiceRequest</name>
        <label>OpenInvoiceRequest</label>
        <locationX>683</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>AmountToInvoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_Requested</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complete_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WireTransferAmount</name>
        <label>WireTransferAmount</label>
        <locationX>413</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>AmountToInvoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SettlementAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manual_Wiretransfer_Deicision</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Open_Invoice_option</name>
        <choiceText>Open Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OpenInvoice</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wire_Transfer_option</name>
        <choiceText>Wire Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WireTransfer</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AttributeApiOutputToFlowOutput</name>
        <label>AttributeApiOutputToFlowOutput</label>
        <locationX>1361</locationX>
        <locationY>372</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ApiSuccessAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Index</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLoopElementToSuccessVariable</targetReference>
            </connector>
            <label>ApiSuccessAssignment</label>
        </rules>
        <rules>
            <name>ApiMessageAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Index</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLoopElementToApiMessage</targetReference>
            </connector>
            <label>ApiMessageAssignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOpenInvoice</name>
        <label>IsOpenInvoice</label>
        <locationX>405</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Open_Invoice_option</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpenInvoiceAmount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Open_Invoice_option</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WireTransferAmount</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual_Wiretransfer_Deicision</name>
        <label>Manual Wiretransfer Deicision</label>
        <locationX>401</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>AddWireTransferItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Manual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Manual_Invoice_ck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Invoice</targetReference>
            </connector>
            <label>Is Manual</label>
        </rules>
    </decisions>
    <interviewLabel>arr_invoiceCreationFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARR - Invoice Creation</label>
    <loops>
        <name>LoopApiResult</name>
        <label>LoopApiResult</label>
        <locationX>846</locationX>
        <locationY>370</locationY>
        <assignNextValueToReference>LoopElement</assignNextValueToReference>
        <collectionReference>ApiOutput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountElement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>AddWireTransferItems</name>
        <label>Add Wire Transfer Items</label>
        <locationX>546</locationX>
        <locationY>598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Complete_Invoice</targetReference>
        </connector>
        <fields>
            <name>WireTransferItemsComponent</name>
            <extensionName>c:ARRWireTransferItems</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>output</name>
                <value>
                    <elementReference>wireTransferItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMaximumAmount</name>
                <value>
                    <elementReference>SettlementAmount</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>wireTransferItems</assignToReference>
                <name>output</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>customerName</assignToReference>
                <name>accountName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountNumber</assignToReference>
                <name>accountNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>bankBranch</assignToReference>
                <name>bankBranch</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>bankNumber</assignToReference>
                <name>bankNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>country</assignToReference>
                <name>country</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>848</locationX>
        <locationY>591</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Result</name>
            <fieldText>{!ApiMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invoice</name>
        <label>Invoice</label>
        <locationX>194</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsOpenInvoice</targetReference>
        </connector>
        <fields>
            <name>Operation</name>
            <choiceReferences>Wire_Transfer_option</choiceReferences>
            <choiceReferences>Open_Invoice_option</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Operation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manual_Invoice_ck</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Manual Invoice</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OpenInvoiceAmount</name>
        <label>OpenInvoiceAmount</label>
        <locationX>683</locationX>
        <locationY>47</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OpenInvoiceRequest</targetReference>
        </connector>
        <fields>
            <name>MSG_Amount_Available</name>
            <fieldText>Amount available to request: {!SettlementAmount}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Amount_Requested</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Amount Requested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>The amount requested must be bigger than zero and equal or less than the settlement available amount({!SettlementAmount}).</errorMessage>
                <formulaExpression>{!Amount_Requested} &gt; 0 &amp;&amp; {!SettlementAmount} &gt;= {!Amount_Requested}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Invoice</startElementReference>
    <status>Draft</status>
    <variables>
        <name>accountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AmountToInvoice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ApiMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApiOutput</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApiSuccess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>bankBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bankNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispatchId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Index</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoopElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SettlementAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>wireTransferItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
