force-app/main/default/flows/Bulk_Queue_Assignment_Input_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Is_Action_Null</name>
        <label>Is Action Null</label>
        <locationX>890</locationX>
        <locationY>48</locationY>
        <defaultConnector>
            <targetReference>Validate_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Action_Null_Status</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Agent</name>
        <label>Is Agent</label>
        <locationX>650</locationX>
        <locationY>342</locationY>
        <defaultConnector>
            <targetReference>Profile_Status_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Agent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Agent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work Order Approver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Action</targetReference>
            </connector>
            <label>Agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Queue_Valid</name>
        <label>Is Queue Valid</label>
        <locationX>84</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Validate_Badge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Queue_Status</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Active</name>
        <label>Is User Active</label>
        <locationX>330</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>Update_User_Active_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsActive.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_the_profile</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Exist</name>
        <label>Is User Exist?</label>
        <locationX>332</locationX>
        <locationY>130</locationY>
        <defaultConnector>
            <targetReference>Update_User_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_User_Satus</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Action</name>
        <label>Validate Action</label>
        <locationX>891</locationX>
        <locationY>247</locationY>
        <defaultConnector>
            <targetReference>Update_Action_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Final_Status</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>Flow to validate input details from csv</description>
    <interviewLabel>Bulk Queue Assignment Input Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk Queue Assignment Input Validation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Action</name>
        <label>Check Action</label>
        <locationX>712</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Action_Null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>BulkQueueAssignment__c</object>
        <outputAssignments>
            <assignToReference>Action</assignToReference>
            <field>Action__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Check_for_the_profile</name>
        <label>Check for the profile</label>
        <locationX>501</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Agent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProfileId.Id</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>ProfileName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Check_User_Satus</name>
        <label>Check User Satus</label>
        <locationX>329</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_Active</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>IsActive.IsActive</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProfileId.Id</assignToReference>
            <field>ProfileId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Details</name>
        <label>Get Record Details</label>
        <locationX>87</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Queue</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>BulkQueueAssignment__c</object>
        <outputAssignments>
            <assignToReference>Action</assignToReference>
            <field>Action__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BadgeId</assignToReference>
            <field>Badge__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QueueName</assignToReference>
            <field>QueueName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Validate_Badge</name>
        <label>Validate Badge</label>
        <locationX>335</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_Exist</targetReference>
        </connector>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BadgeId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserId.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Validate_Queue</name>
        <label>Validate Queue</label>
        <locationX>85</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Queue_Valid</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueId.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Profile_Status_Update</name>
        <label>Profile Status Update</label>
        <locationX>861</locationX>
        <locationY>346</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>Select user with Agent profile</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Validation Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_Record__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BulkQueueAssignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Action_Null_Status</name>
        <label>Update Action Null Status</label>
        <locationX>867</locationX>
        <locationY>132</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>Action cannot be Null. Enter a valid action (Add/Remove)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Validation Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_Record__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BulkQueueAssignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Action_Status</name>
        <label>Update Action Status</label>
        <locationX>1066</locationX>
        <locationY>244</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>Enter a valid action (Add/Remove).</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Validation Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_Record__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BulkQueueAssignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Final_Status</name>
        <label>Update Final Status</label>
        <locationX>1064</locationX>
        <locationY>147</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Validation Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_Record__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BulkQueueAssignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Queue_Status</name>
        <label>Update Queue Status</label>
        <locationX>84</locationX>
        <locationY>349</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>Invalid Queue Name</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Validation Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_Record__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BulkQueueAssignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Active_Status</name>
        <label>Update User Active Status</label>
        <locationX>700</locationX>
        <locationY>50</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>User is Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Validation Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_Record__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BulkQueueAssignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Status</name>
        <label>Update User Status</label>
        <locationX>507</locationX>
        <locationY>27</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>Inavlid Badge Id</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Validation Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_Record__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BulkQueueAssignment__c</object>
    </recordUpdates>
    <startElementReference>Get_Record_Details</startElementReference>
    <status>Active</status>
    <variables>
        <description>To store Action</description>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To store badge Id</description>
        <name>BadgeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To store the user status</description>
        <name>IsActive</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>ProfileId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>ProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To store Queue Id</description>
        <name>QueueId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <description>To store queue name</description>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input bulkqueueassignment record id</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To store User  Id</description>
        <name>UserId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
