force-app/main/default/flows/BusinessHoursOnCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>BusinessHoursRecordNullCheck</name>
        <label>BusinessHoursRecordNullCheck</label>
        <locationX>128</locationX>
        <locationY>725</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BusinessHrRecordNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessHoursRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MapQueueBH.SLA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_BH</targetReference>
            </connector>
            <label>BusinessHrRecordNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>MapQueueBHNullCheck</name>
        <label>MapQueueBHNullCheck</label>
        <locationX>127</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MapQueueBHNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MapQueueBH</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BusinessHoursQuery</targetReference>
            </connector>
            <label>MapQueueBHNotNull</label>
        </rules>
    </decisions>
    <interviewLabel>BusinessHoursOnCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BusinessHoursOnCase</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>BusinessHoursQuery</name>
        <label>BusinessHoursQuery</label>
        <locationX>128</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BusinessHoursRecordNullCheck</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MapQueueBH.Business_Hours_Record_Name__c</elementReference>
            </value>
        </filters>
        <object>BusinessHours</object>
        <outputReference>BusinessHoursRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TimeZoneSidKey</queriedFields>
        <queriedFields>IsDefault</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>CaseQueueDetailsAssignment</name>
        <label>CaseQueueDetailsAssignment</label>
        <locationX>126</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QueueMapping</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QueueDetails</assignToReference>
            <field>Queue_Details__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>QueueMapping</name>
        <label>QueueMapping</label>
        <locationX>125</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MapQueueBHNullCheck</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueDetails</elementReference>
            </value>
        </filters>
        <object>MapQueueBH__mdt</object>
        <outputReference>MapQueueBH</outputReference>
        <queriedFields>Label</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Language</queriedFields>
        <queriedFields>Business_Hours_Record_Name__c</queriedFields>
        <queriedFields>NightShift__c</queriedFields>
        <queriedFields>ShiftOne__c</queriedFields>
        <queriedFields>ShiftTwo__c</queriedFields>
        <queriedFields>MasterLabel</queriedFields>
        <queriedFields>SLA__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Case_BH</name>
        <label>Case BH</label>
        <locationX>129</locationX>
        <locationY>873</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>BusinessHoursRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA__c</field>
            <value>
                <elementReference>MapQueueBH.SLA__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>CaseQueueDetailsAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>BusinessHoursRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BusinessHours</objectType>
    </variables>
    <variables>
        <description>Fetching the case details</description>
        <name>CaseDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>CaseQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>GroupRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>MapQueueBH</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MapQueueBH__mdt</objectType>
    </variables>
    <variables>
        <name>QueueDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Queue Id Prefix</description>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G</stringValue>
        </value>
    </variables>
</Flow>
