force-app/main/default/flows/Cancel_Project_Without_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>If_no_orders</name>
        <label>If_no_orders</label>
        <locationX>343</locationX>
        <locationY>131</locationY>
        <defaultConnectorLabel>Order Found</defaultConnectorLabel>
        <rules>
            <name>Update_Project_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundOrders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Project</targetReference>
            </connector>
            <label>Update_Project_Stage</label>
        </rules>
    </decisions>
    <description>Included does not equal cancelled status validation.Without Logs.</description>
    <interviewLabel>Cancel_Project_Without_Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel_Project_Without_Orders</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_Orders_Related_To_Project</name>
        <label>Search Orders Related To Project</label>
        <locationX>123</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_no_orders</targetReference>
        </connector>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CL</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>FoundOrders</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Project</name>
        <label>Cancel_Project</label>
        <locationX>617</locationX>
        <locationY>133</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Project_Phase__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Execute</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Project_Phase__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Stage__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <startElementReference>Search_Orders_Related_To_Project</startElementReference>
    <status>Active</status>
    <variables>
        <name>FoundOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Orders_Selected</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
