force-app/main/default/flows/case_new.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_if_asset_in_LCT_is_populated</name>
        <label>Check if asset in LCT is populated</label>
        <locationX>1203</locationX>
        <locationY>12</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AssetisNull_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Live_Chat_Transcript.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset_and_CAse_in_LCT_new</targetReference>
            </connector>
            <label>AssetisNull</label>
        </rules>
        <rules>
            <name>AssetNotnull_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Live_Chat_Transcript.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Chat_Transcript_with_the_Found_case</targetReference>
            </connector>
            <label>AssetNotnull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_asset_lookup_is_populated_in_LCT</name>
        <label>Check if asset lookup is populated in LCT</label>
        <locationX>847</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AssetisNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Live_Chat_Transcript.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_asset_and_case_in_LCT</targetReference>
            </connector>
            <label>AssetisNull</label>
        </rules>
        <rules>
            <name>AssetNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Live_Chat_Transcript.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Chat_Transcript_with_the_Created_Case</targetReference>
            </connector>
            <label>AssetNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_case_found</name>
        <label>Is case found?</label>
        <locationX>188</locationX>
        <locationY>306</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matched_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Case Found</label>
        </rules>
        <rules>
            <name>Case_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matched_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_case</targetReference>
            </connector>
            <label>Case Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAssetFOund</name>
        <label>isAssetFOund</label>
        <locationX>180</locationX>
        <locationY>9</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AssetFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_case_based_on_Assetid_isclosed_latestcreated</targetReference>
            </connector>
            <label>AssetFound</label>
        </rules>
    </decisions>
    <decisions>
        <description>STORY 5599779-Default Case Title</description>
        <name>IsSubjectNull</name>
        <label>IsSubjectNull</label>
        <locationX>494</locationX>
        <locationY>409</locationY>
        <defaultConnector>
            <targetReference>Check_if_asset_lookup_is_populated_in_LCT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SubjectNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Live_Chat_Transcript.Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Live_Chat_Transcript.Issue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseSubject</targetReference>
            </connector>
            <label>SubjectNull</label>
        </rules>
    </decisions>
    <description>Updated flow to ignore EMC cases for non EMC chat.
Updated flow to create auto log whenever a case comes in</description>
    <formulas>
        <description>Pull custom label having internal case record type</description>
        <name>Internal_Case</name>
        <dataType>String</dataType>
        <expression>{!$Label.Internal_Case}</expression>
    </formulas>
    <formulas>
        <description>To pull the InternalCaseReadOnly custom label value</description>
        <name>InternalCaseReadOnly</name>
        <dataType>String</dataType>
        <expression>{!$Label.InternalCaseReadOnly}</expression>
    </formulas>
    <formulas>
        <name>LogRecord</name>
        <dataType>String</dataType>
        <expression>{!$Label.LogRecordType}</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Customer Inbound&quot;&amp;&quot;  &quot;&amp; MID({!Matched_Cases.Description}, 0 , 150) &amp; &quot;...&quot;</expression>
    </formulas>
    <interviewLabel>case_new {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case_Find_Create_LiveAgent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_case</name>
        <label>Create new case</label>
        <locationX>512</locationX>
        <locationY>301</locationY>
        <assignRecordIdToReference>NewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>IsSubjectNull</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Live_Chat_Transcript.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Live_Chat_Transcript.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Live_Chat_Transcript.Issue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TranscriptId__c</field>
            <value>
                <elementReference>Live_Chat_Transcript.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>To create a task whenever  a chat comes in STORY 5103477</description>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>563</locationX>
        <locationY>162</locationY>
        <connector>
            <targetReference>Check_if_asset_in_LCT_is_populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Matched_Cases.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Matched_Cases.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Public__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>LogRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Matched_Cases.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Asset</name>
        <label>Lookup Asset</label>
        <locationX>420</locationX>
        <locationY>12</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isAssetFOund</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.Service_Tag__c</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>Asset</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_case_based_on_Assetid_isclosed_latestcreated</name>
        <label>Lookup case based on Assetid, isclosed and latestcreated.</label>
        <locationX>185</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_case_found</targetReference>
        </connector>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Source__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>OLS</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Internal_Case</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>InternalCaseReadOnly</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not Assigned</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Matched_Cases</outputReference>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>CaseNumber</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>update_asset_and_case_in_LCT</name>
        <label>update asset and case in LCT</label>
        <locationX>1048</locationX>
        <locationY>302</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerBUID__c</field>
            <value>
                <elementReference>Asset.Account.BUID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerNumber__c</field>
            <value>
                <elementReference>Asset.Account.AccountNumber</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_and_CAse_in_LCT_new</name>
        <label>Update Asset and CAse in LCT</label>
        <locationX>1112</locationX>
        <locationY>142</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Matched_Cases.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerBUID__c</field>
            <value>
                <elementReference>Asset.Account.BUID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerNumber__c</field>
            <value>
                <elementReference>Asset.Account.AccountNumber</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Chat_Transcript_with_the_Created_Case</name>
        <label>Update Chat Transcript with the Created Case</label>
        <locationX>1080</locationX>
        <locationY>435</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerBUID__c</field>
            <value>
                <elementReference>Asset.Account.BUID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerNumber__c</field>
            <value>
                <elementReference>Asset.Account.AccountNumber</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Chat_Transcript_with_the_Found_case</name>
        <label>Update Chat Transcript with the Found case</label>
        <locationX>1358</locationX>
        <locationY>155</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Matched_Cases.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerBUID__c</field>
            <value>
                <elementReference>Asset.Account.BUID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerNumber__c</field>
            <value>
                <elementReference>Asset.Account.AccountNumber</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <description>STORY 5599779- to add default Case title</description>
        <name>UpdateCaseSubject</name>
        <label>UpdateCaseSubject</label>
        <locationX>696</locationX>
        <locationY>420</locationY>
        <connector>
            <targetReference>Check_if_asset_lookup_is_populated_in_LCT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DefaultCaseTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Lookup_Asset</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1353</locationX>
        <locationY>389</locationY>
        <flowName>Contact_search_logic_for_Live_Chat_Transcript</flowName>
        <inputAssignments>
            <name>Live_Chat_Transcript</name>
            <value>
                <elementReference>Live_Chat_Transcript</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>STORY 5599779- To add default Case Title</description>
        <name>DefaultCaseTitle</name>
        <text>[NEEDS CASE TITLE]</text>
    </textTemplates>
    <variables>
        <name>Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Live_Chat_Transcript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>Matched_Cases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Matched_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
