force-app/main/default/flows/Contact_Search_and_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Contact_Id</name>
        <label>Set Contact Id</label>
        <locationX>426</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>outContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Case_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Country_Code</name>
        <label>Set Default Country Code</label>
        <locationX>1037</locationX>
        <locationY>73</locationY>
        <assignmentItems>
            <assignToReference>PhoneCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultCountryCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DefaultCountryCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>USA &amp; Canada (1)</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Contact_Result</name>
        <label>Check Contact Result</label>
        <locationX>321</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Does_Not_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_For_Contact_Phone</targetReference>
            </connector>
            <label>Contact Does Not Exists</label>
        </rules>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Id</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Search_Result</name>
        <label>Check Contact Search Result</label>
        <locationX>557</locationX>
        <locationY>156</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_By_Phone_Does_Not_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Country_Code</targetReference>
            </connector>
            <label>Contact By Phone Does Not Exists</label>
        </rules>
        <rules>
            <name>Contact_Phone_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Id</targetReference>
            </connector>
            <label>Contact Phone Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Country_Code</name>
        <label>Check Country Code</label>
        <locationX>848</locationX>
        <locationY>74</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Country_Code</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Case_Id</name>
        <label>Check For Case Id</label>
        <locationX>626</locationX>
        <locationY>306</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>InCaseId_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Record</targetReference>
            </connector>
            <label>InCaseId not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Email_and_Phone_is_populated</name>
        <label>Check if Email and Phone is populated</label>
        <locationX>59</locationX>
        <locationY>150</locationY>
        <defaultConnector>
            <targetReference>Search_For_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Email_and_Phone_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inEmailAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inPhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Contact_using_AccntId_FN_LN_EM_PH</targetReference>
            </connector>
            <label>Is Email and Phone  populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Last_Name</name>
        <label>Check Last Name</label>
        <locationX>44</locationX>
        <locationY>28</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_if_Last_Name_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inLastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inFirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Email_and_Phone_is_populated</targetReference>
            </connector>
            <label>Check if Last Name is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Found</name>
        <label>Is Contact Found</label>
        <locationX>218</locationX>
        <locationY>299</locationY>
        <defaultConnector>
            <targetReference>Search_For_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>contact_found_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Case_Id</targetReference>
            </connector>
            <label>contact found yes</label>
        </rules>
    </decisions>
    <description>this flow performs contact search, if not found contact is created
Removed Secondary Phone extension and phone number fields from create contact</description>
    <interviewLabel>Contact Search and Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Search and Create</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Record</name>
        <label>Create Contact Record</label>
        <locationX>968</locationX>
        <locationY>199</locationY>
        <assignRecordIdToReference>outContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_For_Case_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>inAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Code__c</field>
            <value>
                <elementReference>PhoneCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>inEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>inFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>inLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Phone_Ext__c</field>
            <value>
                <elementReference>inPhoneExt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Phone__c</field>
            <value>
                <elementReference>inPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Country_Code</name>
        <label>Get Country Code</label>
        <locationX>676</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Country_Code</targetReference>
        </connector>
        <filters>
            <field>CountryBUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inAccountBUID</elementReference>
            </value>
        </filters>
        <object>Asset_Country__mdt</object>
        <outputAssignments>
            <assignToReference>PhoneCountryCode</assignToReference>
            <field>PhoneCountryCode__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Search_Contact_using_AccntId_FN_LN_EM_PH</name>
        <label>Search Contact using AccntId, FN, LN, EM, PH</label>
        <locationX>63</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Found</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inEmailAddress</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inPhone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>outContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Search_For_Contact</name>
        <label>Search For Contact</label>
        <locationX>245</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Result</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inEmailAddress</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inLastName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>oContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_For_Contact_Phone</name>
        <label>Search For Contact Phone</label>
        <locationX>409</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Search_Result</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inLastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inPhone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>oContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>823</locationX>
        <locationY>309</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>outContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Check_Last_Name</startElementReference>
    <status>Active</status>
    <variables>
        <name>inAccountBUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0013B00000JQ4PHQA1</stringValue>
        </value>
    </variables>
    <variables>
        <name>inCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>5003B000003FbMoQAK</stringValue>
        </value>
    </variables>
    <variables>
        <name>inEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Test@dell.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>inFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>valFirstName1</stringValue>
        </value>
    </variables>
    <variables>
        <name>inLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>valLastName1</stringValue>
        </value>
    </variables>
    <variables>
        <name>inPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1234567890</stringValue>
        </value>
    </variables>
    <variables>
        <description>this is used for primary phone extension</description>
        <name>inPhoneExt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>this is used for secondary phone</description>
        <name>inSecondaryPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>this is used for Secondary phone extension</description>
        <name>inSecondaryPhoneExt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>outContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>valContactId</stringValue>
        </value>
    </variables>
    <variables>
        <name>PhoneCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
