force-app/main/default/flows/Contact_search_logic_for_Live_Chat_Transcript.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_if_Case_has_Contact_populated</name>
        <label>Check if Case has Contact populated</label>
        <locationX>339</locationX>
        <locationY>271</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Contact Populated</label>
        </rules>
        <rules>
            <name>Contact_not_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_case_with_contact_0</targetReference>
            </connector>
            <label>Contact not Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Case_has_Contact_populated_0</name>
        <label>Check if Case has Contact populated</label>
        <locationX>815</locationX>
        <locationY>135</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Populated_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Contact Populated</label>
        </rules>
        <rules>
            <name>Contact_not_Populated_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_case_with_contact</targetReference>
            </connector>
            <label>Contact not Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Case_is_not_null_in_LCT</name>
        <label>Check if Case is not null in LCT</label>
        <locationX>399</locationX>
        <locationY>417</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Case_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Case_has_Contact_populated</targetReference>
            </connector>
            <label>Case is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_contact_found</name>
        <label>Is contact found?</label>
        <locationX>570</locationX>
        <locationY>162</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matched_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Chat_Transcript_with_the_found_contact</targetReference>
            </connector>
            <label>Contact found</label>
        </rules>
        <rules>
            <name>Contact_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matched_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact_based_on_Name_Account_and_Phone</targetReference>
            </connector>
            <label>Contact Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Found1</name>
        <label>Is Contact Found?</label>
        <locationX>771</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matched_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Chat_Transcript_with_the_found_contact</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
        <rules>
            <name>Contact_Not_Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matched_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_contact</targetReference>
            </connector>
            <label>Contact Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_contact_found_0</name>
        <label>Is contact found?</label>
        <locationX>390</locationX>
        <locationY>37</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matched_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Chat_Transcript_with_the_found_contact</targetReference>
            </connector>
            <label>Contact found</label>
        </rules>
        <rules>
            <name>Contact_Not_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matched_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact_based_on_Name_Account_and_Email1</targetReference>
            </connector>
            <label>Contact Not Found</label>
        </rules>
    </decisions>
    <description>Edited for logic regarding contact verification</description>
    <interviewLabel>Contact search logic for Live Chat Transcript {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact find or create for LiveAgent</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_contact</name>
        <label>Create new contact</label>
        <locationX>787</locationX>
        <locationY>404</locationY>
        <assignRecordIdToReference>NewContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Transcript_with_new_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Live_Chat_Transcript.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Live_Chat_Transcript.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Live_Chat_Transcript.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Phone__c</field>
            <value>
                <elementReference>Live_Chat_Transcript.ContactNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Asset</name>
        <label>Lookup Asset</label>
        <locationX>44</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Contact_based_on_Name_Account_Email_and_Phone</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.Asset__c</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>Asset</outputReference>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>51</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Asset</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact_based_on_Name_Account_and_Email1</name>
        <label>Lookup Contact based on Name, Account, and Email</label>
        <locationX>388</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_contact_found</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.FirstName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.LastName__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Matched_Contact</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Primary_Phone__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact_based_on_Name_Account_and_Phone</name>
        <label>Lookup Contact based on Name, Account and Phone</label>
        <locationX>565</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Found1</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.FirstName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.LastName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.ContactNumber__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Matched_Contact</outputReference>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Primary_Phone__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact_based_on_Name_Account_Email_and_Phone</name>
        <label>Lookup Contact based on Name, Account, Email, and Phone</label>
        <locationX>224</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_contact_found_0</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.FirstName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.LastName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.ContactNumber__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Matched_Contact</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Primary_Phone__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_case_with_contact</name>
        <label>update_case_with_contact</label>
        <locationX>781</locationX>
        <locationY>34</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Matched_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Matched_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_case_with_contact_0</name>
        <label>update_case_with_contact</label>
        <locationX>167</locationX>
        <locationY>418</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>NewContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Chat_Transcript_with_the_found_contact</name>
        <label>Update Chat Transcript with the found contact</label>
        <locationX>640</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Check_if_Case_has_Contact_populated_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Matched_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transcript_with_new_Contact</name>
        <label>Update Transcript with new Contact</label>
        <locationX>575</locationX>
        <locationY>411</locationY>
        <connector>
            <targetReference>Check_if_Case_is_not_null_in_LCT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>NewContactID</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <startElementReference>Lookup_Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Live_Chat_Transcript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>Matched_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
