force-app/main/default/flows/Contact_Asset_Find_LiveAgent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Update contact, asset and account on transcript</description>
    <interviewLabel>Contac__Asset_Find_LiveAgent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact__Asset_Find_LiveAgent</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Asset_Based_on_Case</name>
        <label>Lookup Asset Based on Case</label>
        <locationX>171</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
        <filters>
            <field>Delta_SR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_LiveChatTranscript.Delta_Sr__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseAsset</outputReference>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>171</locationX>
        <locationY>284</locationY>
        <connector>
            <targetReference>Update_asset_and_contact_to_transript</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_LiveChatTranscript.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>CaseAsset.AssetId</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_asset_and_contact_to_transript</name>
        <label>Update asset and contact to transript</label>
        <locationX>533</locationX>
        <locationY>149</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_LiveChatTranscript.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CaseAsset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseAsset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CaseAsset.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <startElementReference>Lookup_Asset_Based_on_Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContactAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>LivechatTrascript when the call starts from email</description>
        <name>Email_LiveChatTranscript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>Live_Chat_Transcript</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Tanscript_Case</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
