force-app/main/default/flows/create_case_without_asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Apex_method</name>
        <label>Call Apex method</label>
        <locationX>1324</locationX>
        <locationY>597</locationY>
        <actionName>AssociateServiceTagHandler</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>caseObject</name>
            <value>
                <elementReference>CaseApexVariable</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Check_if_caseApexVariable_is_empty</name>
        <label>Check if caseApexVariable is empty</label>
        <locationX>1086</locationX>
        <locationY>597</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseApexVariable_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseApexVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Apex_method</targetReference>
            </connector>
            <label>CaseApexVariable is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Asset_Exist</name>
        <label>Does Asset Exist</label>
        <locationX>173</locationX>
        <locationY>173</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedAsset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_new_case</targetReference>
            </connector>
            <label>Does not exist</label>
        </rules>
        <rules>
            <name>exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedAsset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Find_create_LA</targetReference>
            </connector>
            <label>exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>STORY 5599779-If the title doesn&#39;t come by default,  need to assign a default title as per UX team.</description>
        <name>IsSubjectNull</name>
        <label>IsSubjectNull</label>
        <locationX>173</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>Update_case_in_LCT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SubjectNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>live_chat_transcript.Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>live_chat_transcript.Issue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>live_chat_transcript.Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoneValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DefaultCaseTitle1</targetReference>
            </connector>
            <label>SubjectNull</label>
        </rules>
    </decisions>
    <description>When Asset(&gt; 5 years) not found create case + Contact flow</description>
    <interviewLabel>create case without asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create case without asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_new_case</name>
        <label>create new case</label>
        <locationX>181</locationX>
        <locationY>383</locationY>
        <assignRecordIdToReference>NewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>IsSubjectNull</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>live_chat_transcript.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NonAgentContactEmail__c</field>
            <value>
                <elementReference>live_chat_transcript.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NonAgentContactFirstName__c</field>
            <value>
                <elementReference>live_chat_transcript.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NonAgentContactLastName__c</field>
            <value>
                <elementReference>live_chat_transcript.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NonAgentContactPhone__c</field>
            <value>
                <elementReference>live_chat_transcript.ContactNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>live_chat_transcript.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Tag__c</field>
            <value>
                <elementReference>live_chat_transcript.Service_Tag__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>live_chat_transcript.Issue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TranscriptId__c</field>
            <value>
                <elementReference>live_chat_transcript.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>button_id__c</field>
            <value>
                <elementReference>live_chat_transcript.LiveChatButtonId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>853</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_caseApexVariable_is_empty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseApexVariable</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Asset</name>
        <label>Lookup Asset</label>
        <locationX>181</locationX>
        <locationY>3</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Asset_Exist</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>live_chat_transcript.Service_Tag__c</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>MatchedAsset</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Story 5599779-If the title doesn&#39;t come by default, we need to assign a default title as per UX team</description>
        <name>DefaultCaseTitle1</name>
        <label>DefaultCaseTitle</label>
        <locationX>481</locationX>
        <locationY>393</locationY>
        <connector>
            <targetReference>Update_case_in_LCT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DefaultCaseTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_in_LCT</name>
        <label>Update case in LCT</label>
        <locationX>481</locationX>
        <locationY>596</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>live_chat_transcript.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <startElementReference>Lookup_Asset</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Case_Find_create_LA</name>
        <label>Case Find create LA</label>
        <locationX>537</locationX>
        <locationY>12</locationY>
        <flowName>case_new</flowName>
        <inputAssignments>
            <name>Live_Chat_Transcript</name>
            <value>
                <elementReference>live_chat_transcript</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Story 5599779-If the title doesn&#39;t come by default, we need to assign a default title as per UX team</description>
        <name>DefaultCaseTitle</name>
        <text>[NEEDS CASE TITLE]</text>
    </textTemplates>
    <textTemplates>
        <name>NoneValue</name>
        <text>None</text>
    </textTemplates>
    <variables>
        <name>CaseApexVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>live_chat_transcript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>MatchedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>MatchedAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>MatchedCOntact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
