force-app/main/default/flows/Create_Case_for_EMC_chat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_priority_as_High_for_S2</name>
        <label>Update priority as High for S2</label>
        <locationX>179</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>CasePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_contact_with_matching_External_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_priority_as_Low_for_S5</name>
        <label>Update priority as Low for S5</label>
        <locationX>560</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>CasePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_contact_with_matching_External_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Priority_as_Medium_for_S3</name>
        <label>Update Priority as Medium for S3</label>
        <locationX>417</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>CasePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_contact_with_matching_External_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_priority_variable_as_Critical_for_S1</name>
        <label>Update priority variable as Critical for S1</label>
        <locationX>45</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>CasePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Critical</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_contact_with_matching_External_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Asset_Found</name>
        <label>Check if Asset Found</label>
        <locationX>269</locationX>
        <locationY>141</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Asset_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_EMC_Case</targetReference>
            </connector>
            <label>Asset Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_asset_in_lct_is_populated</name>
        <label>Check if asset in lct is populated</label>
        <locationX>173</locationX>
        <locationY>1134</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AssetIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LiveChatTranscript.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_account_asset_contact_and_case_in_lct</targetReference>
            </connector>
            <label>AssetIsNull</label>
        </rules>
        <rules>
            <name>AssetNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LiveChatTranscript.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_and_contact_in_live_chat_transcipt</targetReference>
            </connector>
            <label>AssetNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_asset_in_lct_is_populated_1</name>
        <label>check if asset in lct is populated</label>
        <locationX>491</locationX>
        <locationY>1405</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AssetIsNul</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LiveChatTranscript.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_asset_account_case_and_contact_in_lct</targetReference>
            </connector>
            <label>AssetIsNul</label>
        </rules>
        <rules>
            <name>AssetNotNull1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LiveChatTranscript.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_and_contact_in_LiveChat</targetReference>
            </connector>
            <label>AssetNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_contact_exist</name>
        <label>Check if contact exist</label>
        <locationX>282</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contact_in_case</targetReference>
            </connector>
            <label>Contact found</label>
        </rules>
        <rules>
            <name>Contact_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_contact_based_on_Account_and_Email</targetReference>
            </connector>
            <label>Contact not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_contact_found</name>
        <label>Check if contact found</label>
        <locationX>420</locationX>
        <locationY>991</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_found_without_externalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contact_with_External_id</targetReference>
            </connector>
            <label>Contact found</label>
        </rules>
        <rules>
            <name>Contact_not_found_witout_externalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_contact</targetReference>
            </connector>
            <label>Contact not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Severity_and_Update_Case</name>
        <label>Check Severity and Update Case</label>
        <locationX>271</locationX>
        <locationY>351</locationY>
        <defaultConnector>
            <targetReference>Find_contact_with_matching_External_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Severity_S1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LiveChatTranscript.Issue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LiveChatTranscript.Issue__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>S1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_priority_variable_as_Critical_for_S1</targetReference>
            </connector>
            <label>Severity S1</label>
        </rules>
        <rules>
            <name>Severity_S2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LiveChatTranscript.Issue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LiveChatTranscript.Issue__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>S2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_priority_as_High_for_S2</targetReference>
            </connector>
            <label>Severity S2</label>
        </rules>
        <rules>
            <name>Severity_S3</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>LiveChatTranscript.Issue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LiveChatTranscript.Issue__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>S3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Priority_as_Medium_for_S3</targetReference>
            </connector>
            <label>Severity S3</label>
        </rules>
        <rules>
            <name>Severity_S4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LiveChatTranscript.Issue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LiveChatTranscript.Issue__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>S5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_priority_as_Low_for_S5</targetReference>
            </connector>
            <label>Severity S5</label>
        </rules>
    </decisions>
    <description>Create new case for each EMC chat.
Updated the flow to attach contact to created case.
Updated the flow to update Mup Int Identity Id in External Id field.
Optimized the flow</description>
    <interviewLabel>Create Case for EMC chat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case for EMC chat</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_contact</name>
        <label>Create contact</label>
        <locationX>492</locationX>
        <locationY>1185</locationY>
        <assignRecordIdToReference>NewContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_new_contact_in_case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>LiveChatTranscript.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Id__c</field>
            <value>
                <elementReference>LiveChatTranscript.Contact_MUP_IntIdentityID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>LiveChatTranscript.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LiveChatTranscript.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Phone__c</field>
            <value>
                <elementReference>LiveChatTranscript.ContactNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_EMC_Case</name>
        <label>Create EMC Case</label>
        <locationX>271</locationX>
        <locationY>246</locationY>
        <assignRecordIdToReference>NewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Severity_and_Update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Source__c</field>
            <value>
                <stringValue>OLS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>LiveChatTranscript.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LiveChatTranscript.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>LiveChatTranscript.Issue__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_contact_with_matching_External_Id</name>
        <label>Find contact with matching External Id</label>
        <locationX>280</locationX>
        <locationY>680</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_contact_exist</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LiveChatTranscript.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>External_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LiveChatTranscript.Contact_MUP_IntIdentityID__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Primary_Phone__c</queriedFields>
        <queriedFields>Verified__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Asset</name>
        <label>Lookup Asset</label>
        <locationX>269</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Asset_Found</targetReference>
        </connector>
        <filters>
            <field>SerialNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LiveChatTranscript.Service_Tag__c</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>Asset</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_contact_based_on_Account_and_Email</name>
        <label>Lookup contact based on Account and Email</label>
        <locationX>417</locationX>
        <locationY>899</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_contact_found</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LiveChatTranscript.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LiveChatTranscript.FirstName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LiveChatTranscript.LastName__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Primary_Phone__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_and_contact_in_live_chat_transcipt</name>
        <label>Update Account and contact in live chat transcipt</label>
        <locationX>65</locationX>
        <locationY>1265</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LiveChatTranscript.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_and_contact_in_LiveChat</name>
        <label>Update Account, contact and case in LiveChat</label>
        <locationX>399</locationX>
        <locationY>1529</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LiveChatTranscript.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>NewContactId</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_account_asset_contact_and_case_in_lct</name>
        <label>Update account,asset,contact and case in lct</label>
        <locationX>249</locationX>
        <locationY>1263</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LiveChatTranscript.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_asset_account_case_and_contact_in_lct</name>
        <label>Update asset,account,case and contact in lct</label>
        <locationX>575</locationX>
        <locationY>1531</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LiveChatTranscript.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>NewContactId</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact_in_case</name>
        <label>Update contact and priority in case</label>
        <locationX>167</locationX>
        <locationY>985</locationY>
        <connector>
            <targetReference>Check_if_asset_in_lct_is_populated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>CasePriority</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact_with_External_id</name>
        <label>Update contact with External id</label>
        <locationX>303</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Update_contact_in_case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>External_Id__c</field>
            <value>
                <elementReference>LiveChatTranscript.Contact_MUP_IntIdentityID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_new_contact_in_case</name>
        <label>Update new contact and priority in case</label>
        <locationX>492</locationX>
        <locationY>1286</locationY>
        <connector>
            <targetReference>check_if_asset_in_lct_is_populated_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>NewContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>CasePriority</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Lookup_Asset</startElementReference>
    <status>Active</status>
    <variables>
        <name>Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>CasePriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>LiveChatTranscript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>NewCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
