force-app/main/default/flows/Create_Order_Budget_for_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Item_Price_to_Budget_Amount</name>
        <label>Add Item Price to Budget Amount</label>
        <locationX>657</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>TotalBudgetAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItem.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalInternalBudget</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalculateSKUCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Foreach_Order_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Credit_Order</name>
        <label>Credit Order</label>
        <locationX>403</locationX>
        <locationY>339</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Is_credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Credit_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Item_Price_to_Budget_Amount</targetReference>
            </connector>
            <label>Is NOT credit Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Order_Status</name>
        <label>Validate Order Status</label>
        <locationX>575</locationX>
        <locationY>63</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Order_is_not_cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Items</targetReference>
            </connector>
            <label>Order is not cancelled</label>
        </rules>
    </decisions>
    <description>Create Budget to a Project considering the Order that was associated to it.

Currently  querying for item Class description: 
- SVC EDT INSTLN
- SVC CLNT INSTLN
- SVC EIS SVCs
- SVC EDT CNSLT

Setting budget currency.

Add a formula to calculate Sku Cost * Qtd</description>
    <formulas>
        <name>CalculateSKUCost</name>
        <dataType>Number</dataType>
        <expression>{!OrderItem.SKU_Cost__c} * {!OrderItem.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Check if is a Credit order</description>
        <name>Check_Credit_Order</name>
        <dataType>String</dataType>
        <expression>if({!OrderItem.Quantity}&lt;0,NULL,&quot;...&quot;)</expression>
    </formulas>
    <interviewLabel>Create Order Budget for Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDS - Create Order Budget for Project</label>
    <loops>
        <name>Foreach_Order_Item</name>
        <label>For Each Order Item</label>
        <locationX>428</locationX>
        <locationY>208</locationY>
        <assignNextValueToReference>OrderItem</assignNextValueToReference>
        <collectionReference>OrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Credit_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Budget</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Budget</name>
        <label>Create Budget</label>
        <locationX>702</locationX>
        <locationY>208</locationY>
        <assignRecordIdToReference>BudgetId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Internal_Budget</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Order.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Budget from Order {!Order.OrderNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Amount__c</field>
            <value>
                <elementReference>TotalBudgetAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Include_In_Financials__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Project__c</field>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>pse__Budget__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Internal_Budget</name>
        <label>Create Internal Budget</label>
        <locationX>927</locationX>
        <locationY>212</locationY>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Order.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Internal Budget from Order {!Order.OrderNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Amount__c</field>
            <value>
                <elementReference>TotalInternalBudget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Include_In_Financials__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Project__c</field>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Type__c</field>
            <value>
                <stringValue>Internal Budget</stringValue>
            </value>
        </inputAssignments>
        <object>pse__Budget__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>340</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Order_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Items</name>
        <label>Get Order Items</label>
        <locationX>175</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Foreach_Order_Item</targetReference>
        </connector>
        <filters>
            <field>Item_Class_Description__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SVC EDT INSTLN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Item_Class_Description__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SVC CLNT INSTLN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Item_Class_Description__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SVC EIS SVCs</stringValue>
            </value>
        </filters>
        <filters>
            <field>Item_Class_Description__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SVC EDT CNSLT</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>OrderItems</outputReference>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>SKU_Cost__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>180</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputReference>Project</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Get_Project</startElementReference>
    <status>Active</status>
    <variables>
        <name>BudgetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalBudgetAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalInternalBudget</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
