force-app/main/default/flows/Create_Project_By_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Project_by_OrderId</name>
        <label>Create Project by OrderId</label>
        <locationX>698</locationX>
        <locationY>117</locationY>
        <actionName>ProjectCreator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>If_Project_Was_Created</targetReference>
        </connector>
        <inputParameters>
            <name>orderIds</name>
            <value>
                <elementReference>orderid</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>projectId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Project_Priority_Async</name>
        <label>Affinity - Set Project Priority Async</label>
        <locationX>946</locationX>
        <locationY>481</locationY>
        <actionName>ProjectPriorityVerificationService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>If_Order_Was_Unnassociated</targetReference>
        </connector>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Order_Unnassociated</name>
        <label>Set Order Unnassociated</label>
        <locationX>698</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>OrderUnnassociated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Project_by_OrderId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Order_Has_Project</name>
        <label>If Order Has Project</label>
        <locationX>389</locationX>
        <locationY>109</locationY>
        <defaultConnector>
            <targetReference>Create_Project_by_OrderId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Order_Has_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unassociate_Order</targetReference>
            </connector>
            <label>Order Has Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Order_Was_Unnassociated</name>
        <label>If Order Was Unnassociated</label>
        <locationX>1090</locationX>
        <locationY>598</locationY>
        <defaultConnector>
            <targetReference>Associate_Order_to_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderUnnassociated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Project_Was_Created</name>
        <label>If Project Was Created</label>
        <locationX>939</locationX>
        <locationY>118</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Project_Was_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>projectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Project_Priority_Async</targetReference>
            </connector>
            <label>Project Was Created</label>
        </rules>
    </decisions>
    <formulas>
        <name>PauseTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-(59.8/1440)</expression>
    </formulas>
    <interviewLabel>Create Project By Order  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Project By Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_order_Info</name>
        <label>Get order Info</label>
        <locationX>180</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Order_Has_Project</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderid</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>Order.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Order.Project__c</assignToReference>
            <field>Project__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_order_Info</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Associate_Order_to_Project</name>
        <label>Associate Order to Project</label>
        <locationX>1516</locationX>
        <locationY>670</locationY>
        <flowName>IDS_Associate_Project_to_Order</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>orderid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>projectId</assignToReference>
            <name>ProjectId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Unassociate_Order</name>
        <label>Unassociate Order</label>
        <locationX>396</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>Set_Order_Unnassociated</targetReference>
        </connector>
        <flowName>IDS_Unassociate_Order</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>orderid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderUnnassociated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>projectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Pause</name>
        <label>Pause</label>
        <locationX>1368</locationX>
        <locationY>486</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>PausePause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Associate_Order_to_Project</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>PauseTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause</label>
        </waitEvents>
    </waits>
</Flow>
