force-app/main/default/flows/Dispatch_Customer_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Data_Destruction_Assignment</name>
        <label>Data Destruction Assignment</label>
        <locationX>107</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>DataDestructionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dispatch_Common_Decision_Point</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>KYC_Assignment</name>
        <label>KYC Assignment</label>
        <locationX>577</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>KYCFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dispatch_Common_Decision_Point</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>KYHD_Update</name>
        <label>KYHD Update</label>
        <locationX>725</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>KYHDFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dispatch_Common_Decision_Point</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dispatch_Common_Decision_Point</name>
        <label>Dispatch Common Decision Point</label>
        <locationX>378</locationX>
        <locationY>26</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_KYC_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KYCFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_KYC_Customer_Reminder</targetReference>
            </connector>
            <label>Create KYC record</label>
        </rules>
        <rules>
            <name>Create_KYHD_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KYHDFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_KYHD_Customer_Reminder</targetReference>
            </connector>
            <label>Create KYHD Record</label>
        </rules>
        <rules>
            <name>Create_AssetAgeCustomerReminderRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetLessThan30Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Create AssetAgeCustomerReminderRecord</label>
        </rules>
        <rules>
            <name>Check_Create_Data_Destruction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataDestructionFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Data_Destruction</targetReference>
            </connector>
            <label>Check Create Data Destruction</label>
        </rules>
    </decisions>
    <formulas>
        <description>Formuale</description>
        <name>AssetDateformulae</name>
        <dataType>Number</dataType>
        <expression>{!WorkOrder_CreatedDate} - {!Asset_CreatedDate}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Dispatch Customer Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dispatch Customer Notification</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Data_Destruction</name>
        <label>Create_Data_Destruction</label>
        <locationX>91</locationX>
        <locationY>82</locationY>
        <connector>
            <targetReference>Data_Destruction_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Link__c</field>
            <value>
                <stringValue>https://kb.dell.com/infocenter/index?page=content&amp;id=PNP12908&amp;actp=SEARCH&amp;viewlocale=en_US&amp;searchid=1523859634795#Table%20of%20Contents</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Data Destruction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder__c</field>
            <value>
                <stringValue>The hard drive I’m sending you is eligible for data destruction as part of your ProSupport service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Data Destruction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>WorkOrder</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Reminder__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_KYC_Customer_Reminder</name>
        <label>Create_KYC_Customer_Reminder</label>
        <locationX>345</locationX>
        <locationY>319</locationY>
        <connector>
            <targetReference>KYC_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Link__c</field>
            <value>
                <stringValue>http://kb.dell.com/infocenter/index?page=content&amp;id=PNP18971&amp;actp=SEARCH&amp;viewlocale=en_US&amp;searchid=1467997393019</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Keep Your Component</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder__c</field>
            <value>
                <stringValue>This customer has Keep Your Component and may not be required to return parts that have been replaced. – PNP18971</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>KYC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>WorkOrder</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Reminder__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_KYHD_Customer_Reminder</name>
        <label>Create_KYHD_Customer_Reminder</label>
        <locationX>726</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>KYHD_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>Link__c</field>
            <value>
                <stringValue>https://kb.dell.com/infocenter/index?page=content&amp;id=PNP14779&amp;actp=SEARCH&amp;viewlocale=en_US&amp;searchid=1523857936125</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Keep Your Hard Drive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder__c</field>
            <value>
                <stringValue>You have the Keep Your Hard Drive service, so you do not need to return the hard drive being replaced.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>KYHD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>WorkOrder</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Reminder__c</object>
    </recordCreates>
    <startElementReference>Dispatch_Common_Decision_Point</startElementReference>
    <status>Active</status>
    <variables>
        <description>it will fetch the Asset CreatedDate</description>
        <name>Asset_CreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetLessThan30Days</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>it contains CustomerReminderId</description>
        <name>CustomerReminderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DataDestructionFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This flag will be passed from the process builder</description>
        <name>KYCFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This Flag will be set from the process builder</description>
        <name>KYHDFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Link</description>
        <name>Link_CustomerReminder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>https://kb.dell.com/infocenter/index?page=content&amp;id=PNP13233</stringValue>
        </value>
    </variables>
    <variables>
        <description>message</description>
        <name>ReminderMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Due to the age of the product, please make sure the customer is aware of the available support options and legal obligations. Set the appropriate expectations. For details click the link below.</stringValue>
        </value>
    </variables>
    <variables>
        <description>ID of the WOrk Order</description>
        <name>WorkOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>this Field holds the Workorder CreatedDate</description>
        <name>WorkOrder_CreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>to store the WorkOrder AssetId</description>
        <name>WorkOrderAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
