force-app/main/default/flows/Dispatch_Exceptions_Upsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_WorkOrderI</name>
        <label>Check WorkOrderI</label>
        <locationX>191</locationX>
        <locationY>88</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Flag</targetReference>
            </connector>
            <label>Is not null</label>
        </rules>
    </decisions>
    <interviewLabel>Dispatch_Exceptions_Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dispatch_Exceptions_Upsert</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exception_Record</name>
        <label>Create Exception Record</label>
        <locationX>301</locationX>
        <locationY>200</locationY>
        <assignRecordIdToReference>ExceptionId</assignRecordIdToReference>
        <inputAssignments>
            <field>ISP_Caution_Code__c</field>
            <value>
                <elementReference>ISP_Caution_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_ETA_Date__c</field>
            <value>
                <elementReference>ISP_ETA_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Event_Code__c</field>
            <value>
                <elementReference>ISP_Event_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_DLP_Exception_Code__c</field>
            <value>
                <elementReference>ISP_FSD_DLP_Exception_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_DLP_Exception_Date_Time__c</field>
            <value>
                <elementReference>ISP_FSD_DLP_Exception_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_DLP_Exception_Description__c</field>
            <value>
                <elementReference>ISP_FSD_DLP_Exception_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_DLP__c</field>
            <value>
                <elementReference>ISP_FSD_DLP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Exception_Type__c</field>
            <value>
                <elementReference>ISP_FSD_Exception_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_File_Type__c</field>
            <value>
                <elementReference>ISP_File_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Operation_Type__c</field>
            <value>
                <elementReference>ISP_Operation_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Progress_Event__c</field>
            <value>
                <elementReference>ISP_Progress_Event</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Reason_Code__c</field>
            <value>
                <elementReference>ISP_Reason_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchException__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Flag</name>
        <label>Update Flag</label>
        <locationX>148</locationX>
        <locationY>211</locationY>
        <connector>
            <targetReference>Create_Exception_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DeltaUpdateFlag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <startElementReference>Check_WorkOrderI</startElementReference>
    <status>Active</status>
    <variables>
        <name>ExceptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ISP_Caution_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_ETA_Date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Event_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_File_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_DLP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_DLP_Exception_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_DLP_Exception_Date_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_DLP_Exception_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_Exception_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Operation_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Progress_Event</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Reason_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
