force-app/main/default/flows/Dispatch_APS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>checkIfServiceTagAddressBUId</name>
        <label>checkIfServiceTagAddressBUId</label>
        <locationX>158</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>ShowComponentScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>checkIfServiceTagAddBUId</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>addressBUID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>serviceTag</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowErrorMessageScreen</targetReference>
            </connector>
            <label>checkIfServiceTagAddBUId</label>
        </rules>
    </decisions>
    <decisions>
        <name>flowStreamForPartsDisplay</name>
        <label>flowStreamForPartsDisplay</label>
        <locationX>467</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PartsComponent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordWOId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedString</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>displayautopartselectionnew</targetReference>
            </connector>
            <label>PartsComponent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Id_Exists</name>
        <label>Record Id Exists</label>
        <locationX>165</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>flowStreamForPartsDisplay</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Record_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Address_BUId</targetReference>
            </connector>
            <label>Record Id</label>
        </rules>
    </decisions>
    <description>Removed the header and Footer</description>
    <interviewLabel>Dispatch_APS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dispatch_APS</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Populate_Address_BUId</name>
        <label>Populate Address BUId</label>
        <locationX>165</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Service_Tag_No</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>addressBUID</assignToReference>
            <field>AddressBUID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assetId</assignToReference>
            <field>AssetId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Populate_Service_Tag_No</name>
        <label>Populate Service Tag No</label>
        <locationX>163</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfServiceTagAddressBUId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>serviceTag</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>displayautopartselectionnew</name>
        <label>displayautopartselectionnew</label>
        <locationX>457</locationX>
        <locationY>175</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>autoPartSelection</name>
            <extensionName>c:Dispatch_AutoPartSelectionNextScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedString</name>
                <value>
                    <elementReference>selectedString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderId</name>
                <value>
                    <elementReference>recordWOId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowComponentScreen</name>
        <label>ShowComponentScreen</label>
        <locationX>44</locationX>
        <locationY>512</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DispatchAutoPartSelection</name>
            <extensionName>c:Dispatch_AutoPartSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressBUID</name>
                <value>
                    <elementReference>addressBUID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTag</name>
                <value>
                    <elementReference>serviceTag</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>addressBUID</assignToReference>
                <name>addressBUID</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceTag</assignToReference>
                <name>serviceTag</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowErrorMessageScreen</name>
        <label>ShowErrorMessageScreen</label>
        <locationX>302</locationX>
        <locationY>516</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>No Service Tag or Address BU found for this dispatch</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Record_Id_Exists</startElementReference>
    <status>Active</status>
    <variables>
        <name>addressBUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&#39;&#39;&#39;</stringValue>
        </value>
    </variables>
    <variables>
        <description>Will hold the Asset Id</description>
        <name>assetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>will have the Contact Id</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordWOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>serviceTag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&#39;&#39;</stringValue>
        </value>
    </variables>
</Flow>
