force-app/main/default/flows/DispatchCheckPartsMatch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignFieldValues</name>
        <label>AssignFieldValues</label>
        <locationX>556</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>Dummy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cAAS.Part_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dummy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>||</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dummy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>li.Part__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dummy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dummy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>li.PartNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfWorkLIMatchesCPart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementiCount</name>
        <label>IncrementiCount</label>
        <locationX>572</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>iCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignFieldValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitializeAllPartsExistInWorkOrder</name>
        <label>InitializeAllPartsExistInWorkOrder</label>
        <locationX>127</locationX>
        <locationY>125</locationY>
        <assignmentItems>
            <assignToReference>AllPartsExistInWorkOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughAllParts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitializeiCount</name>
        <label>InitializeiCount</label>
        <locationX>373</locationX>
        <locationY>174</locationY>
        <assignmentItems>
            <assignToReference>iCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughAllWorkOrderLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAllPartsFoundToFalse</name>
        <label>SetAllPartsFoundToFalse</label>
        <locationX>125</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>AllPartsExistInWorkOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetAllPartsFoundToTrue</name>
        <label>SetAllPartsFoundToTrue</label>
        <locationX>349</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>AllPartsExistInWorkOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckIfWorkLIMatchesCPart</name>
        <label>CheckIfWorkLIMatchesCPart</label>
        <locationX>362</locationX>
        <locationY>453</locationY>
        <defaultConnector>
            <targetReference>LoopThroughAllWorkOrderLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IncludeParts_ExcludeParts</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>cTextPart</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>li.PartNumber__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cAAS.Part_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Include</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cAAS.Part_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exclude</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAllPartsFoundToTrue</targetReference>
            </connector>
            <label>IncludeParts_ExcludeParts</label>
        </rules>
    </decisions>
    <interviewLabel>DispatchCheckPartsMatch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DispatchCheckPartsMatch</label>
    <loops>
        <name>LoopThroughAllParts</name>
        <label>LoopThroughAllParts</label>
        <locationX>129</locationX>
        <locationY>246</locationY>
        <assignNextValueToReference>cTextPart</assignNextValueToReference>
        <collectionReference>TextPartsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>InitializeiCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetAllPartsFoundToFalse</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughAllWorkOrderLineItems</name>
        <label>LoopThroughAllWorkOrderLineItems</label>
        <locationX>371</locationX>
        <locationY>295</locationY>
        <assignNextValueToReference>li</assignNextValueToReference>
        <collectionReference>WOLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IncrementiCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopThroughAllParts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>SplitPartCriteriaText</startElementReference>
    <status>Active</status>
    <subflows>
        <name>SplitPartCriteriaText</name>
        <label>SplitPartCriteriaText</label>
        <locationX>127</locationX>
        <locationY>14</locationY>
        <connector>
            <targetReference>InitializeAllPartsExistInWorkOrder</targetReference>
        </connector>
        <flowName>SplitTextOnCommas</flowName>
        <inputAssignments>
            <name>InText</name>
            <value>
                <elementReference>InputPartsSeparatedByComma</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TextPartsList</assignToReference>
            <name>SplitStrings</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AllPartsExistInWorkOrder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>cAAS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Attribute_Set__c</objectType>
    </variables>
    <variables>
        <name>cCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Criterion__c</objectType>
    </variables>
    <variables>
        <name>cPartFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>cTextPart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dummy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InputPartsSeparatedByComma</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>li</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>TextPartsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
