force-app/main/default/flows/Dispatch_Parts_Order_Status_Upsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_Work_Order</name>
        <label>Check Work Order</label>
        <locationX>93</locationX>
        <locationY>140</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Flag</targetReference>
            </connector>
            <label>Is not null</label>
        </rules>
    </decisions>
    <interviewLabel>Dispatch_Parts_Order_Status_Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dispatch_Parts_Order_Status_Upsert</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Status_Update</name>
        <label>Create Order Status Update</label>
        <locationX>196</locationX>
        <locationY>272</locationY>
        <assignRecordIdToReference>PartOrderStatusId</assignRecordIdToReference>
        <inputAssignments>
            <field>ISP_DSP_DLP_Code__c</field>
            <value>
                <elementReference>ISP_DSP_DLP_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Partner_Event_Date__c</field>
            <value>
                <elementReference>ISP_Partner_Event_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Partner_Name__c</field>
            <value>
                <elementReference>ISP_Partner_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Partner_Operation__c</field>
            <value>
                <elementReference>ISP_Partner_Operation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Partner_Status_Code__c</field>
            <value>
                <elementReference>ISP_Partner_Status_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Partner_Type__c</field>
            <value>
                <elementReference>ISP_Partner_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Status_Code_Type__c</field>
            <value>
                <elementReference>ISP_Status_Code_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchOrderStatus__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Flag</name>
        <label>Update Flag</label>
        <locationX>265</locationX>
        <locationY>145</locationY>
        <connector>
            <targetReference>Create_Order_Status_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DeltaUpdateFlag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <startElementReference>Check_Work_Order</startElementReference>
    <status>Active</status>
    <variables>
        <name>ISP_DSP_DLP_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Partner_Event_Date</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Partner_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Partner_Operation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Partner_Status_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Partner_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Status_Code_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartOrderStatusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
