force-app/main/default/flows/Dispatch_Get_DSP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CallDynamicDispatch</name>
        <label>CallDynamicDispatch</label>
        <locationX>1736</locationX>
        <locationY>153</locationY>
        <actionName>ValidateDSPinGSCV</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DDResponse</targetReference>
        </connector>
        <inputParameters>
            <name>BatteryShipFlag</name>
            <value>
                <elementReference>DispBatteryShipFlag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Billable</name>
            <value>
                <elementReference>DispBillable</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BUID</name>
            <value>
                <elementReference>DispBUID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CCN</name>
            <value>
                <elementReference>DispCCN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>City</name>
            <value>
                <elementReference>DispCity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ISOCountryCode</name>
            <value>
                <elementReference>DispCountryCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ItemClass</name>
            <value>
                <elementReference>DispItemClass</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOB</name>
            <value>
                <elementReference>DispLOB</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OOWFlag</name>
            <value>
                <elementReference>DispOOW</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreferedDSP</name>
            <value>
                <elementReference>ExclusionDSPsfromCPandLP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PostalCode</name>
            <value>
                <elementReference>DispPostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreferenceType</name>
            <value>
                <stringValue>EXCLUSION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RegionId</name>
            <value>
                <elementReference>DispRegionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceHour</name>
            <value>
                <elementReference>DispServiceHour</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceLevel</name>
            <value>
                <elementReference>DispServiceLevel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceProviderCode</name>
        </inputParameters>
        <inputParameters>
            <name>ServiceSubType</name>
            <value>
                <elementReference>DispServiceSubType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceTag</name>
            <value>
                <elementReference>DispSvcTag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>State</name>
            <value>
                <elementReference>DispState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>WorkOrderNumber</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Response</assignToReference>
            <name>ResponseCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DSPfromDD</assignToReference>
            <name>ValidDSP</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CommunicationChannel</assignToReference>
            <name>CommunicationChannel</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DSPScheduleEnabled</assignToReference>
            <name>DSPScheduleEnabled</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DSPSchedulingURL</assignToReference>
            <name>DSPSchedulingURL</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ValidateDSPinGSCV</name>
        <label>ValidateDSPinGSCV</label>
        <locationX>191</locationX>
        <locationY>689</locationY>
        <actionName>ValidateDSPinGSCV</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckGSCVValidation</targetReference>
        </connector>
        <inputParameters>
            <name>BatteryShipFlag</name>
            <value>
                <elementReference>DispBatteryShipFlag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Billable</name>
            <value>
                <elementReference>DispBillable</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BUID</name>
            <value>
                <elementReference>DispBUID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CCN</name>
            <value>
                <elementReference>DispCCN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>City</name>
            <value>
                <elementReference>DispCity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ISOCountryCode</name>
            <value>
                <elementReference>DispCountryCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ItemClass</name>
            <value>
                <elementReference>DispItemClass</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOB</name>
            <value>
                <elementReference>DispLOB</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OOWFlag</name>
            <value>
                <elementReference>DispOOW</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PostalCode</name>
            <value>
                <elementReference>DispPostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreferedDSP</name>
            <value>
                <elementReference>CPProviderCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreferenceType</name>
            <value>
                <stringValue>INCLUSION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RegionId</name>
            <value>
                <elementReference>DispRegionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceHour</name>
            <value>
                <elementReference>DispServiceHour</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceLevel</name>
            <value>
                <elementReference>DispServiceLevel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceProviderCode</name>
        </inputParameters>
        <inputParameters>
            <name>ServiceSubType</name>
            <value>
                <elementReference>DispServiceSubType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceTag</name>
            <value>
                <elementReference>DispSvcTag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>State</name>
            <value>
                <elementReference>DispState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>WorkOrderNumber</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Response</assignToReference>
            <name>ResponseCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DSPScheduleEnabled</assignToReference>
            <name>DSPScheduleEnabled</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DSPSchedulingURL</assignToReference>
            <name>DSPSchedulingURL</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CommunicationChannel</assignToReference>
            <name>CommunicationChannel</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ValidateLPDSPinGSCV</name>
        <label>ValidateLPDSPinGSCV</label>
        <locationX>986</locationX>
        <locationY>851</locationY>
        <actionName>ValidateDSPinGSCV</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GSCVCoverageExist</targetReference>
        </connector>
        <inputParameters>
            <name>BatteryShipFlag</name>
            <value>
                <elementReference>DispBatteryShipFlag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Billable</name>
            <value>
                <elementReference>DispBillable</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BUID</name>
            <value>
                <elementReference>DispBUID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CCN</name>
            <value>
                <elementReference>DispCCN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>City</name>
            <value>
                <elementReference>DispCity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ISOCountryCode</name>
            <value>
                <elementReference>DispCountryCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ItemClass</name>
            <value>
                <elementReference>DispItemClass</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOB</name>
            <value>
                <elementReference>DispLOB</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OOWFlag</name>
            <value>
                <elementReference>DispOOW</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PostalCode</name>
            <value>
                <elementReference>DispPostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreferedDSP</name>
            <value>
                <elementReference>LPProviderCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreferenceType</name>
            <value>
                <stringValue>INCLUSION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RegionId</name>
            <value>
                <elementReference>DispRegionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceHour</name>
            <value>
                <elementReference>DispServiceHour</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceLevel</name>
            <value>
                <elementReference>DispServiceLevel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceProviderCode</name>
        </inputParameters>
        <inputParameters>
            <name>ServiceSubType</name>
            <value>
                <elementReference>DispServiceSubType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceTag</name>
            <value>
                <elementReference>DispSvcTag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>State</name>
            <value>
                <elementReference>DispState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>WorkOrderNumber</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Response</assignToReference>
            <name>ResponseCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CommunicationChannel</assignToReference>
            <name>CommunicationChannel</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DSPScheduleEnabled</assignToReference>
            <name>DSPScheduleEnabled</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DSPSchedulingURL</assignToReference>
            <name>DSPSchedulingURL</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ValidateRepeatDSPinGSCV</name>
        <label>ValidateRepeatDSPinGSCV</label>
        <locationX>1402</locationX>
        <locationY>433</locationY>
        <actionName>ValidateDSPinGSCV</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GSCVValForRepeatDSP</targetReference>
        </connector>
        <inputParameters>
            <name>BatteryShipFlag</name>
            <value>
                <elementReference>DispBatteryShipFlag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Billable</name>
            <value>
                <elementReference>DispBillable</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BUID</name>
            <value>
                <elementReference>DispBUID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CCN</name>
            <value>
                <elementReference>DispCCN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>City</name>
            <value>
                <elementReference>DispCity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ISOCountryCode</name>
            <value>
                <elementReference>DispCountryCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ItemClass</name>
            <value>
                <elementReference>DispItemClass</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOB</name>
            <value>
                <elementReference>DispLOB</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OOWFlag</name>
            <value>
                <elementReference>DispOOW</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PostalCode</name>
            <value>
                <elementReference>DispPostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreferedDSP</name>
            <value>
                <elementReference>RepeatDSPCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreferenceType</name>
            <value>
                <stringValue>INCLUSION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RegionId</name>
            <value>
                <elementReference>DispRegionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceHour</name>
            <value>
                <elementReference>DispServiceHour</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceLevel</name>
            <value>
                <elementReference>DispServiceLevel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceProviderCode</name>
        </inputParameters>
        <inputParameters>
            <name>ServiceSubType</name>
            <value>
                <elementReference>DispServiceSubType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceTag</name>
            <value>
                <elementReference>DispSvcTag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>State</name>
            <value>
                <elementReference>DispState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>WorkOrderNumber</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Response</assignToReference>
            <name>ResponseCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CommunicationChannel</assignToReference>
            <name>CommunicationChannel</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DSPScheduleEnabled</assignToReference>
            <name>DSPScheduleEnabled</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DSPSchedulingURL</assignToReference>
            <name>DSPSchedulingURL</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>AssignCP</name>
        <label>AssignCP</label>
        <locationX>32</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>CPCheckCoverage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedCP.CheckCoverage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPProviderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedCP.ProviderName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPWithLOBSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPProviderCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedCP.ProviderCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughCPCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCPWithLOBnull</name>
        <label>AssignCPWithLOBnull</label>
        <locationX>217</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>CPProviderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedCP.ProviderName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPCheckCoverage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedCP.CheckCoverage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPProviderCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedCP.ProviderCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughCPCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDSPAssignmentFailure</name>
        <label>AssignDSPAssignmentFailure</label>
        <locationX>2051</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Problem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DSP Assignment Failure</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignDSPfromDD</name>
        <label>AssignDSPfromDD</label>
        <locationX>1830</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>AssignedProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignedProvider</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedProviderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignedProviderName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSPSelectionMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dynamic Dispatch</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignLP</name>
        <label>AssignLP</label>
        <locationX>591</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>LpProviderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedLP.ProviderName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LPCheckCoverage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedLP.CheckCoverage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LPWithLOBInclSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LPProviderCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedLP.ProviderCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughLPCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLPExcl</name>
        <label>AssignLPExcl</label>
        <locationX>977</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>LPExclusionProviderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedLP.ProviderName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LPExcWithLOBSelcted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LPExclusionProviderCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedLP.ProviderCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughLPCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLPExcWithLOBNull1</name>
        <label>AssignLPExcWithLOBNull1</label>
        <locationX>1155</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>LPExclusionProviderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedLP.ProviderName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LPExclusionProviderCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedLP.ProviderCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughLPCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLPWithLOBnull</name>
        <label>AssignLPWithLOBnull</label>
        <locationX>823</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>LPCheckCoverage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedLP.CheckCoverage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LpProviderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedLP.ProviderName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LPProviderCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedLP.ProviderCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughLPCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProviderfromLP</name>
        <label>AssignProviderfromLP</label>
        <locationX>1157</locationX>
        <locationY>1108</locationY>
        <assignmentItems>
            <assignToReference>AssignedProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LPProviderCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedProviderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LpProviderName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSPSelectionMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Preference</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignProviderName</name>
        <label>AssignProviderName</label>
        <locationX>368</locationX>
        <locationY>982</locationY>
        <assignmentItems>
            <assignToReference>AssignedProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPProviderCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedProviderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPProviderName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSPSelectionMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Preference</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignRepeatDSP</name>
        <label>AssignRepeatDSP</label>
        <locationX>1404</locationX>
        <locationY>677</locationY>
        <assignmentItems>
            <assignToReference>AssignedProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RepeatDSPCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedProviderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RepeatDSPName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSPSelectionMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Repeat</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CheckCPCount</name>
        <label>CheckCPCount</label>
        <locationX>39</locationX>
        <locationY>101</locationY>
        <assignmentItems>
            <assignToReference>CPCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CPDSPRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CPRecordExists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CheckLPCount</name>
        <label>CheckLPCount</label>
        <locationX>929</locationX>
        <locationY>131</locationY>
        <assignmentItems>
            <assignToReference>LPRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>LPDSPRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LPRecordExist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CoverageFails</name>
        <label>CoverageFails</label>
        <locationX>868</locationX>
        <locationY>1117</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Problem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DSP Assignment Failure</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CPExcl</name>
        <label>AssignCPExcl</label>
        <locationX>428</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>CPExclusionProviderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedCP.ProviderName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPExcwithLOBSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPExclusionProviderCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedCP.ProviderCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughCPCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GSCVCoveFailsforCPInc</name>
        <label>GSCVCoveFailsforCPInc</label>
        <locationX>23</locationX>
        <locationY>978</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Problem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DSP Assignment Failure</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckCoverage</name>
        <label>CheckCoverage</label>
        <locationX>206</locationX>
        <locationY>565</locationY>
        <defaultConnector>
            <targetReference>ToCheckLP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CPProviderCodeExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CPProviderCode</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ValidateDSPinGSCV</targetReference>
            </connector>
            <label>CPProviderCodeExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCPInclusion</name>
        <label>CheckCPInclusion</label>
        <locationX>371</locationX>
        <locationY>202</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CPIncExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectedCP.PreferenceType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inclusion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPIncLOBCheck</targetReference>
            </connector>
            <label>CPIncExist?</label>
        </rules>
        <rules>
            <name>CPExc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectedCP.PreferenceType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exclusion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPExclusionParameter</targetReference>
            </connector>
            <label>CPExc?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckGSCVValidation</name>
        <label>CheckGSCVValidation</label>
        <locationX>192</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>GSCVCoveFailsforCPInc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ValidationSuccess</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CPCheckCoverage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProviderName</targetReference>
            </connector>
            <label>ValidationSuccess/CheckCoverage = N</label>
        </rules>
    </decisions>
    <decisions>
        <name>CPExclusionParameter</name>
        <label>CPExclusionParameter</label>
        <locationX>509</locationX>
        <locationY>295</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CPExclusion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectedCP.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DispLOB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPExcl</targetReference>
            </connector>
            <label>CPExclusionWithLOBCheck</label>
        </rules>
        <rules>
            <name>CPExclusionWithLOBNullCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectedCP.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>CPExcwithLOBSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPExcl</targetReference>
            </connector>
            <label>CPExclusionWithLOBNullCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>CPIncLOBCheck</name>
        <label>CPIncLOBCheck</label>
        <locationX>276</locationX>
        <locationY>296</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CPLOBExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectedCP.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DispLOB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCP</targetReference>
            </connector>
            <label>CPLOBExist</label>
        </rules>
        <rules>
            <name>CPLOBwithNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectedCP.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>CPWithLOBSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCPWithLOBnull</targetReference>
            </connector>
            <label>CPLOBwithNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CPRecordExists</name>
        <label>CPRecordExists</label>
        <locationX>273</locationX>
        <locationY>95</locationY>
        <defaultConnector>
            <targetReference>ToCheckLP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CPExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CPCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughCPCollection</targetReference>
            </connector>
            <label>CPExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>DDResponse</name>
        <label>DDResponse</label>
        <locationX>1819</locationX>
        <locationY>318</locationY>
        <defaultConnector>
            <targetReference>AssignDSPAssignmentFailure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DSPExistsfromDD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookUPDSPRecord</targetReference>
            </connector>
            <label>DSPExistsfromDD</label>
        </rules>
    </decisions>
    <decisions>
        <name>GSCVCoverageExist</name>
        <label>GSCVCoverageExist</label>
        <locationX>990</locationX>
        <locationY>965</locationY>
        <defaultConnector>
            <targetReference>CoverageFails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CoverageExist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LPCheckCoverage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProviderfromLP</targetReference>
            </connector>
            <label>CoverageExist/LPCC = N</label>
        </rules>
    </decisions>
    <decisions>
        <name>GSCVValForRepeatDSP</name>
        <label>GSCVValForRepeatDSP</label>
        <locationX>1408</locationX>
        <locationY>541</locationY>
        <defaultConnector>
            <targetReference>CallDynamicDispatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RepeatDSPGSCVVal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DispRegionId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRepeatDSP</targetReference>
            </connector>
            <label>RepeatDSPGSCVVal or Reg!=4</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_Service_Type_LaborOnly_or_Parts_and_Labor</name>
        <label>IS Service Type LaborOnly or Parts and Labor</label>
        <locationX>531</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CallDynamicDispatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ServiceTypeLaborOnly_Parts_and_Labor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DispServiceSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Labor Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DispServiceSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parts and Labor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_Pref_LOB</targetReference>
            </connector>
            <label>ServiceTypeLaborOnly/Parts and Labor</label>
        </rules>
    </decisions>
    <decisions>
        <name>LPExclusion</name>
        <label>LPExclusion</label>
        <locationX>1129</locationX>
        <locationY>304</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>LpExcWithLOB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectedLP.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DispatchLOB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLPExcl</targetReference>
            </connector>
            <label>LpExcWithLOB</label>
        </rules>
        <rules>
            <name>LPExcWithLOBNnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectedLP.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>LPExcWithLOBSelcted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLPExcWithLOBNull1</targetReference>
            </connector>
            <label>LPExcWithLOBNnull</label>
        </rules>
    </decisions>
    <decisions>
        <name>LPIncDSP_CPExcDSP</name>
        <label>LPIncDSP&lt;&gt;CPExcDSP</label>
        <locationX>978</locationX>
        <locationY>747</locationY>
        <defaultConnector>
            <targetReference>RepeatCheckReq</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>LPIncDSP_CPExcDSP1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LPProviderCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CPExclusionProviderCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LPProviderCode</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ValidateLPDSPinGSCV</targetReference>
            </connector>
            <label>LPIncDSP&lt;&gt;CPExcDSP1</label>
        </rules>
    </decisions>
    <decisions>
        <name>LPIncLOBCheck</name>
        <label>LPIncLOBCheck</label>
        <locationX>719</locationX>
        <locationY>423</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>LPWithLOBExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectedLP.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DispLOB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLP</targetReference>
            </connector>
            <label>LPWithLOBExist</label>
        </rules>
        <rules>
            <name>LPWithLOBNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectedLP.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>LPWithLOBInclSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLPWithLOBnull</targetReference>
            </connector>
            <label>LPWithLOBNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>LPIncorExc</name>
        <label>LPIncorExc</label>
        <locationX>947</locationX>
        <locationY>299</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>LPInc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectedLP.PreferenceType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inclusion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LPIncLOBCheck</targetReference>
            </connector>
            <label>LPInc</label>
        </rules>
        <rules>
            <name>LPExc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectedLP.PreferenceType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exclusion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LPExclusion</targetReference>
            </connector>
            <label>LPExc</label>
        </rules>
    </decisions>
    <decisions>
        <name>LPRecordExist</name>
        <label>LPRecordExist</label>
        <locationX>973</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>RepeatCheckReq</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>LPExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LPRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughLPCollection</targetReference>
            </connector>
            <label>LPExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>733</locationX>
        <locationY>1</locationY>
        <defaultConnector>
            <targetReference>CheckLPCount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Is_Null_Check_on_Check_Preference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LPDSPRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RepeatCheckReq</targetReference>
            </connector>
            <label>Is Null Check on Check Preference</label>
        </rules>
    </decisions>
    <decisions>
        <name>RepeatCheckReq</name>
        <label>RepeatCheckReq</label>
        <locationX>1153</locationX>
        <locationY>3</locationY>
        <defaultConnector>
            <targetReference>CallDynamicDispatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RepeatCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DispatchRegionForRepeatCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssignedProvider</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>RecordAssetLookup</targetReference>
            </connector>
            <label>RepeatCheck?</label>
        </rules>
    </decisions>
    <decisions>
        <name>RepeatDSPExists</name>
        <label>RepeatDSPExists?</label>
        <locationX>1403</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>CallDynamicDispatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RepDSPExists1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RepeatDSPCode</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>RepeatDSPCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CPExclusionProviderCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RepeatDSPCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LPExclusionProviderCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidateRepeatDSPinGSCV</targetReference>
            </connector>
            <label>RepDSPExists1</label>
        </rules>
    </decisions>
    <decisions>
        <name>ToCheckLP</name>
        <label>ToCheckLP</label>
        <locationX>553</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>RepeatCheckReq</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>LPNeed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LinkNumber</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CheckLinkPreference</targetReference>
            </connector>
            <label>NeedLP</label>
        </rules>
    </decisions>
    <description>Changed the RegionId to String from Integer</description>
    <formulas>
        <name>DispatchRegionForRepeatCheck</name>
        <dataType>String</dataType>
        <expression>Case({!DispRegionId}, &#39;1&#39;, &quot;Y&quot;, &#39;2&#39;, &quot;N&quot;, &#39;3&#39;, &quot;Y&quot;, &#39;4&#39;, &quot;Y&quot;, &quot;None&quot;)</expression>
    </formulas>
    <formulas>
        <name>ExclusionDSPsfromCPandLP</name>
        <dataType>String</dataType>
        <expression>{!CPExclusionProviderCode} &amp; &#39;,&#39; &amp; {!LPExclusionProviderCode}</expression>
    </formulas>
    <formulas>
        <name>last7daysWO</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 8</expression>
    </formulas>
    <interviewLabel>Dispatch Get DSP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dispatch Get DSP</label>
    <loops>
        <name>LoopThroughCPCollection</name>
        <label>LoopThroughCPCollection</label>
        <locationX>42</locationX>
        <locationY>204</locationY>
        <assignNextValueToReference>CollectedCP</assignNextValueToReference>
        <collectionReference>CPDSPRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckCPInclusion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckCoverage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughLPCollection</name>
        <label>LoopThroughLPCollection</label>
        <locationX>732</locationX>
        <locationY>167</locationY>
        <assignNextValueToReference>CollectedLP</assignNextValueToReference>
        <collectionReference>LPDSPRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LPIncorExc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LPIncDSP_CPExcDSP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Account_Pref_LOB</name>
        <label>Check Account Pref LOB</label>
        <locationX>37</locationX>
        <locationY>4</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckCPCount</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DispatchAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>Coverage_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DispatchCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DispLOB</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOB__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>ProviderType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DSP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Preference</stringValue>
            </value>
        </filters>
        <object>LinkPreference__c</object>
        <outputReference>CPDSPRecord</outputReference>
        <queriedFields>CheckCoverage__c</queriedFields>
        <queriedFields>PreferenceType__c</queriedFields>
        <queriedFields>ProviderName__c</queriedFields>
        <queriedFields>LOB__c</queriedFields>
        <queriedFields>ProviderCode__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>CheckLinkPreference</name>
        <label>CheckLinkPreference</label>
        <locationX>606</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>RepeatCheckReq</targetReference>
        </faultConnector>
        <filters>
            <field>Coverage_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DispatchCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DispLOB</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LinkNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProviderType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DSP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Link Preference</stringValue>
            </value>
        </filters>
        <object>LinkPreference__c</object>
        <outputReference>LPDSPRecord</outputReference>
        <queriedFields>CheckCoverage__c</queriedFields>
        <queriedFields>LOB__c</queriedFields>
        <queriedFields>PreferenceType__c</queriedFields>
        <queriedFields>ProviderName__c</queriedFields>
        <queriedFields>ProviderCode__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUPDSPRecord</name>
        <label>LookUPDSPRecord</label>
        <locationX>1788</locationX>
        <locationY>482</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignDSPfromDD</targetReference>
        </connector>
        <filters>
            <field>CountryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DispCountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>PartnerCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DSPfromDD</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DSP</stringValue>
            </value>
        </filters>
        <object>DispatchDSPDLP__c</object>
        <outputAssignments>
            <assignToReference>AssignedProvider</assignToReference>
            <field>PartnerCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AssignedProviderName</assignToReference>
            <field>PartnerName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RecordAssetLookup</name>
        <label>RecordAssetLookup</label>
        <locationX>1487</locationX>
        <locationY>8</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RepeatDSP</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DispSvcTag</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>DispAssetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RepeatDSP</name>
        <label>RepeatDSP</label>
        <locationX>1397</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RepeatDSPExists</targetReference>
        </connector>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DispAssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CountryCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DispCountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>last7daysWO</elementReference>
            </value>
        </filters>
        <filters>
            <field>DSP__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parts and Labor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Labor Only</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delay/Service Interruption</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Acknowledgement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Problem</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>RepeatDSPName</assignToReference>
            <field>DSPName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RepeatDSPCode</assignToReference>
            <field>DSP__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <startElementReference>IS_Service_Type_LaborOnly_or_Parts_and_Labor</startElementReference>
    <status>Active</status>
    <variables>
        <name>AssignedProvider</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssignedProviderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CollectedCP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LinkPreference__c</objectType>
    </variables>
    <variables>
        <name>CollectedLP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LinkPreference__c</objectType>
    </variables>
    <variables>
        <name>CommunicationChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CPCheckCoverage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CPDSPRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LinkPreference__c</objectType>
    </variables>
    <variables>
        <name>CPExclusionProviderCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPExclusionProviderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPExclusionProviderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPExcusWithLOB</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CPExcwithLOBSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CPInclusionWithLOB</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CPPrefType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPProviderCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPProviderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPWithLOBSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DispAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispatchAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispatchAccountLinkNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispatchCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispatchCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispatchLOB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispatchRegion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DispBatteryShipFlag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>N</stringValue>
        </value>
    </variables>
    <variables>
        <name>DispBillable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>N</stringValue>
        </value>
    </variables>
    <variables>
        <name>DispBUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispCCN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispItemClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispLOB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispOOW</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>N</stringValue>
        </value>
    </variables>
    <variables>
        <name>DispPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispRegionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispServiceHour</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispServiceLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispServiceSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispSvcTag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DSPfromDD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DSPScheduleEnabled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>N</stringValue>
        </value>
    </variables>
    <variables>
        <name>DSPSchedulingURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DSPSelectionMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GSCVResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LinkNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LPCheckCoverage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LPDSPRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LinkPreference__c</objectType>
    </variables>
    <variables>
        <name>LPExclusionProviderCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LPExclusionProviderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LPExclusionProviderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LPExcWithLOBSelcted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LPProviderCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LPProviderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LpProviderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LPRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LPWithLOBInclSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ProviderCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProviderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProviderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RepeatDSPCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RepeatDSPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
