force-app/main/default/flows/DispatchCheckCommodityMatch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignFieldValues</name>
        <label>AssignFieldValues</label>
        <locationX>550</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>Dummy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cAAS.Commodity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dummy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>||</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dummy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>li.PartCommodity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dummy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dummy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cCriteria.Commodity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncrementiCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementiCount</name>
        <label>IncrementiCount</label>
        <locationX>557</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>iCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfWorkLIMatchesCCommodity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitializeAllCommoditiesExistInWorkOrder</name>
        <label>InitializeAllCommoditiesExistInWorkOrder</label>
        <locationX>127</locationX>
        <locationY>125</locationY>
        <assignmentItems>
            <assignToReference>AllCommoditiesExistInWorkOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughAllCommodities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitializeiCount</name>
        <label>InitializeiCount</label>
        <locationX>380</locationX>
        <locationY>144</locationY>
        <assignmentItems>
            <assignToReference>iCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughAllWorkOrderLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAllCommoditiesFoundToFalse</name>
        <label>SetAllCommoditiesFoundToFalse</label>
        <locationX>131</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>AllCommoditiesExistInWorkOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetAllCommoditiesFoundToTrue</name>
        <label>SetAllCommoditiesFoundToTrue</label>
        <locationX>368</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>AllCommoditiesExistInWorkOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckIfWorkLIMatchesCCommodity</name>
        <label>CheckIfWorkLIMatchesCCommodity</label>
        <locationX>370</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>LoopThroughAllWorkOrderLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IncludeTrue</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>cTextCommodity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>li.PartCommodity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cAAS.Commodity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Include</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cAAS.Commodity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exclude</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAllCommoditiesFoundToTrue</targetReference>
            </connector>
            <label>IncludeTrue_ExcludeFalse</label>
        </rules>
    </decisions>
    <interviewLabel>DispatchCheckCommodityMatch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DispatchCheckCommodityMatch</label>
    <loops>
        <name>LoopThroughAllCommodities</name>
        <label>LoopThroughAllCommodities</label>
        <locationX>126</locationX>
        <locationY>230</locationY>
        <assignNextValueToReference>cTextCommodity</assignNextValueToReference>
        <collectionReference>TextCommoditiesList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>InitializeiCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetAllCommoditiesFoundToFalse</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughAllWorkOrderLineItems</name>
        <label>LoopThroughAllWorkOrderLineItems</label>
        <locationX>366</locationX>
        <locationY>283</locationY>
        <assignNextValueToReference>li</assignNextValueToReference>
        <collectionReference>WOLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignFieldValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopThroughAllCommodities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>SplitCommdityCriteriaText</startElementReference>
    <status>Active</status>
    <subflows>
        <name>SplitCommdityCriteriaText</name>
        <label>SplitCommdityCriteriaText</label>
        <locationX>127</locationX>
        <locationY>14</locationY>
        <connector>
            <targetReference>InitializeAllCommoditiesExistInWorkOrder</targetReference>
        </connector>
        <flowName>SplitTextOnCommas</flowName>
        <inputAssignments>
            <name>InText</name>
            <value>
                <elementReference>InputCommoditiesSeparatedByComma</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TextCommoditiesList</assignToReference>
            <name>SplitStrings</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AllCommoditiesExistInWorkOrder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>cAAS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Attribute_Set__c</objectType>
    </variables>
    <variables>
        <name>cCommodityFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>cCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Criterion__c</objectType>
    </variables>
    <variables>
        <name>cTextCommodity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dummy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InputCommoditiesSeparatedByComma</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>li</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>TextCommoditiesList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
