force-app/main/default/flows/Dispatch_CAR_Upsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_for_Work_Order_Id</name>
        <label>Check for Work Order Id</label>
        <locationX>148</locationX>
        <locationY>93</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_flag</targetReference>
            </connector>
            <label>Is not null</label>
        </rules>
    </decisions>
    <interviewLabel>Dispa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dispatch_CAR_Upsert</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CAR_Update</name>
        <label>Create CAR Update</label>
        <locationX>287</locationX>
        <locationY>218</locationY>
        <assignRecordIdToReference>CARUpdateId</assignRecordIdToReference>
        <inputAssignments>
            <field>ISP_Carrier_Name__c</field>
            <value>
                <elementReference>ISP_Carrier_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Carrier_Type__c</field>
            <value>
                <elementReference>ISP_Carrier_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Event_Timestamp__c</field>
            <value>
                <elementReference>ISP_Event_Timestamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Oper_Type__c</field>
            <value>
                <elementReference>ISP_Oper_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Record_Id__c</field>
            <value>
                <elementReference>ISP_Record_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Way_Bill_Num__c</field>
            <value>
                <elementReference>ISP_Way_Bill_Num</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchCARUpdate__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_flag</name>
        <label>Update flag</label>
        <locationX>113</locationX>
        <locationY>232</locationY>
        <connector>
            <targetReference>Create_CAR_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DeltaUpdateFlag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <startElementReference>Check_for_Work_Order_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>CARUpdateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ISP_Carrier_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Carrier_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Event_Timestamp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Oper_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Way_Bill_Num</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
