force-app/main/default/flows/Dispatch_Parts_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>check_parts_id_is_null</name>
        <label>check parts id is null</label>
        <locationX>359</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Update_Parts_Order_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartsOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parts_Order_Record</targetReference>
            </connector>
            <label>Is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_Order_Id</name>
        <label>Check Work Order Id</label>
        <locationX>30</locationX>
        <locationY>36</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Work_Order_Id_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Flag</targetReference>
            </connector>
            <label>Work Order Id not blank</label>
        </rules>
    </decisions>
    <interviewLabel>Dispatch_Parts_Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dispatch_Parts_Order</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Parts_Order_Record</name>
        <label>Create Parts Order Record</label>
        <locationX>588</locationX>
        <locationY>225</locationY>
        <assignRecordIdToReference>PartsOrderId</assignRecordIdToReference>
        <inputAssignments>
            <field>ISP_DLP_Cancellation_Reply__c</field>
            <value>
                <elementReference>ISP_DLP_Cancellation_Reply</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_DLP_Name__c</field>
            <value>
                <elementReference>ISP_DLP_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Event_Code__c</field>
            <value>
                <elementReference>ISP_Event_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Completion_Date_Time__c</field>
            <value>
                <elementReference>ISP_FSD_Completion_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Confirmation_Date_Time__c</field>
            <value>
                <elementReference>ISP_FSD_Confirmation_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_DLP__c</field>
            <value>
                <elementReference>ISP_FSD_DLP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Defrl_Date__c</field>
            <value>
                <elementReference>ISP_FSD_Defrl_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Line_Num__c</field>
            <value>
                <elementReference>ISP_FSD_Line_Num</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_New_Flg__c</field>
            <value>
                <elementReference>ISP_FSD_New_Flg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_PUDO_Id__c</field>
            <value>
                <elementReference>ISP_FSD_PUDO_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_PUDO_Location__c</field>
            <value>
                <elementReference>ISP_FSD_PUDO_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_PUDO_Status__c</field>
            <value>
                <elementReference>ISP_FSD_PUDO_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Parts_Order_ETA__c</field>
            <value>
                <elementReference>ISP_FSD_Parts_Order_ETA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Reject_Reason__c</field>
            <value>
                <elementReference>ISP_FSD_Reject_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Rejection_Date_Time__c</field>
            <value>
                <elementReference>ISP_FSD_Rejection_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Seq__c</field>
            <value>
                <elementReference>ISP_FSD_Seq</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Transport_Confirmation_Date_Time__c</field>
            <value>
                <elementReference>ISP_FSD_Transport_Confirmation_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Transport_Reject_Reason__c</field>
            <value>
                <elementReference>ISP_FSD_Transport_Reject_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Transport_Rejection_Date_Time__c</field>
            <value>
                <elementReference>ISP_FSD_Transport_Rejection_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_File_Type__c</field>
            <value>
                <elementReference>ISP_File_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Operation_Type__c</field>
            <value>
                <elementReference>ISP_Operation_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_AddrLine1__c</field>
            <value>
                <elementReference>ISP_PUDO_AddrLine1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_AddrLine2__c</field>
            <value>
                <elementReference>ISP_PUDO_AddrLine2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_AddrLine3__c</field>
            <value>
                <elementReference>ISP_PUDO_AddrLine3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_AddrLine4__c</field>
            <value>
                <elementReference>ISP_PUDO_AddrLine4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_BUID__c</field>
            <value>
                <elementReference>ISP_PUDO_BUID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_City__c</field>
            <value>
                <elementReference>ISP_PUDO_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_Country_Code__c</field>
            <value>
                <elementReference>ISP_PUDO_Country_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_Country__c</field>
            <value>
                <elementReference>ISP_PUDO_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_Desc__c</field>
            <value>
                <elementReference>ISP_PUDO_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_Name__c</field>
            <value>
                <elementReference>ISP_PUDO_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_Post_Code__c</field>
            <value>
                <elementReference>ISP_PUDO_Post_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_Type__c</field>
            <value>
                <elementReference>ISP_PUDO_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Source__c</field>
            <value>
                <elementReference>ISP_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_TDLP_Cancellation_Reply__c</field>
            <value>
                <elementReference>ISP_TDLP_Cancellation_Reply</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Work_Order</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchPartsOrder__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Parts_Order</name>
        <label>Check for Parts Order</label>
        <locationX>180</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_parts_id_is_null</targetReference>
        </connector>
        <filters>
            <field>ISP_FSD_Seq__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ISP_FSD_Seq</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Order</elementReference>
            </value>
        </filters>
        <object>DispatchPartsOrder__c</object>
        <outputAssignments>
            <assignToReference>PartsOrderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Flag</name>
        <label>Update Flag</label>
        <locationX>32</locationX>
        <locationY>166</locationY>
        <connector>
            <targetReference>Check_for_Parts_Order</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Order</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DeltaUpdateFlag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parts_Order_Record</name>
        <label>Update Parts Order Record</label>
        <locationX>381</locationX>
        <locationY>343</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartsOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISP_DLP_Cancellation_Reply__c</field>
            <value>
                <elementReference>ISP_DLP_Cancellation_Reply</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_DLP_Name__c</field>
            <value>
                <elementReference>ISP_DLP_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Event_Code__c</field>
            <value>
                <elementReference>ISP_Event_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Completion_Date_Time__c</field>
            <value>
                <elementReference>ISP_FSD_Completion_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Confirmation_Date_Time__c</field>
            <value>
                <elementReference>ISP_FSD_Confirmation_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_DLP__c</field>
            <value>
                <elementReference>ISP_FSD_DLP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Defrl_Date__c</field>
            <value>
                <elementReference>ISP_FSD_Defrl_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Line_Num__c</field>
            <value>
                <elementReference>ISP_FSD_Line_Num</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_New_Flg__c</field>
            <value>
                <elementReference>ISP_FSD_New_Flg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_PUDO_Id__c</field>
            <value>
                <elementReference>ISP_FSD_PUDO_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_PUDO_Location__c</field>
            <value>
                <elementReference>ISP_FSD_PUDO_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_PUDO_Status__c</field>
            <value>
                <elementReference>ISP_FSD_PUDO_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Parts_Order_ETA__c</field>
            <value>
                <elementReference>ISP_FSD_Parts_Order_ETA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Reject_Reason__c</field>
            <value>
                <elementReference>ISP_FSD_Reject_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Rejection_Date_Time__c</field>
            <value>
                <elementReference>ISP_FSD_Rejection_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Seq__c</field>
            <value>
                <elementReference>ISP_FSD_Seq</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Transport_Confirmation_Date_Time__c</field>
            <value>
                <elementReference>ISP_FSD_Transport_Confirmation_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Transport_Reject_Reason__c</field>
            <value>
                <elementReference>ISP_FSD_Transport_Reject_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Transport_Rejection_Date_Time__c</field>
            <value>
                <elementReference>ISP_FSD_Transport_Rejection_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_File_Type__c</field>
            <value>
                <elementReference>ISP_File_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Operation_Type__c</field>
            <value>
                <elementReference>ISP_Operation_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_AddrLine1__c</field>
            <value>
                <elementReference>ISP_PUDO_AddrLine1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_AddrLine2__c</field>
            <value>
                <elementReference>ISP_PUDO_AddrLine2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_AddrLine3__c</field>
            <value>
                <elementReference>ISP_PUDO_AddrLine3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_AddrLine4__c</field>
            <value>
                <elementReference>ISP_PUDO_AddrLine4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_BUID__c</field>
            <value>
                <elementReference>ISP_PUDO_BUID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_City__c</field>
            <value>
                <elementReference>ISP_PUDO_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_Country_Code__c</field>
            <value>
                <elementReference>ISP_PUDO_Country_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_Country__c</field>
            <value>
                <elementReference>ISP_PUDO_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_Desc__c</field>
            <value>
                <elementReference>ISP_PUDO_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_Name__c</field>
            <value>
                <elementReference>ISP_PUDO_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_Post_Code__c</field>
            <value>
                <elementReference>ISP_PUDO_Post_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_PUDO_Type__c</field>
            <value>
                <elementReference>ISP_PUDO_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Source__c</field>
            <value>
                <elementReference>ISP_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_TDLP_Cancellation_Reply__c</field>
            <value>
                <elementReference>ISP_TDLP_Cancellation_Reply</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchPartsOrder__c</object>
    </recordUpdates>
    <startElementReference>Check_Work_Order_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>ISP_DLP_Cancellation_Reply</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_DLP_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Event_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_File_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_Completion_Date_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_Confirmation_Date_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_Defrl_Date</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_DLP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_Line_Num</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ISP_FSD_New_Flg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_Parts_Order_ETA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_PUDO_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_PUDO_Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_PUDO_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_Reject_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_Rejection_Date_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_Seq</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ISP_FSD_Transport_Confirmation_Date_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_Transport_Reject_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_Transport_Rejection_Date_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Operation_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_PUDO_AddrLine1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_PUDO_AddrLine2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_PUDO_AddrLine3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_PUDO_AddrLine4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_PUDO_BUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_PUDO_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_PUDO_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_PUDO_Country_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_PUDO_Desc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_PUDO_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_PUDO_Post_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_PUDO_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_TDLP_Cancellation_Reply</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISPFSDSeq</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartsOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Work_Order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Work_Order_Line_Item</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
