force-app/main/default/flows/Dispatch_Waybill_Upsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_for_Waybill_ID</name>
        <label>Check for Waybill ID</label>
        <locationX>198</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Create_Waybill_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>WaybillID_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WaybillID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Waybill_Information</targetReference>
            </connector>
            <label>WaybillID not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_Order_Id</name>
        <label>Check Work Order Id</label>
        <locationX>189</locationX>
        <locationY>46</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Work_Order_Id_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_flag</targetReference>
            </connector>
            <label>Is Work Order Id not blank</label>
        </rules>
    </decisions>
    <interviewLabel>Dispatch_Waybill_Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dispatch_Waybill_Upsert</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Waybill_Info</name>
        <label>Create Waybill Info</label>
        <locationX>407</locationX>
        <locationY>324</locationY>
        <assignRecordIdToReference>WaybillID</assignRecordIdToReference>
        <inputAssignments>
            <field>ISP_FSD_Carrier_Name__c</field>
            <value>
                <elementReference>CarrierName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_DPS_Number__c</field>
            <value>
                <elementReference>DPSNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Name__c</field>
            <value>
                <elementReference>FSDName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Part_Number__c</field>
            <value>
                <elementReference>PartNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Type__c</field>
            <value>
                <elementReference>FSDType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_WayBill_Date__c</field>
            <value>
                <elementReference>WaybillDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_WayBill_Direction__c</field>
            <value>
                <elementReference>WaybillDirection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_WayBill_Number__c</field>
            <value>
                <elementReference>WaybillNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_WayBill_Shipping_Method__c</field>
            <value>
                <elementReference>ShippingMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_WayBill_Shipping_Weight__c</field>
            <value>
                <elementReference>ShippingWeight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchWaybill__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Waybill_Infor</name>
        <label>Get Waybill Infor</label>
        <locationX>192</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Waybill_ID</targetReference>
        </connector>
        <filters>
            <field>ISP_FSD_Carrier_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CarrierName</elementReference>
            </value>
        </filters>
        <filters>
            <field>ISP_FSD_WayBill_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WaybillNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>DispatchWaybill__c</object>
        <outputAssignments>
            <assignToReference>WaybillID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_flag</name>
        <label>Update flag</label>
        <locationX>369</locationX>
        <locationY>111</locationY>
        <connector>
            <targetReference>Get_Waybill_Infor</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DeltaUpdateFlag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Waybill_Information</name>
        <label>Update Waybill Information</label>
        <locationX>198</locationX>
        <locationY>438</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WaybillID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISP_FSD_Carrier_Name__c</field>
            <value>
                <elementReference>CarrierName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_DPS_Number__c</field>
            <value>
                <elementReference>DPSNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Name__c</field>
            <value>
                <elementReference>FSDName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Part_Number__c</field>
            <value>
                <elementReference>PartNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Type__c</field>
            <value>
                <elementReference>FSDType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_WayBill_Date__c</field>
            <value>
                <elementReference>WaybillDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_WayBill_Direction__c</field>
            <value>
                <elementReference>WaybillDirection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_WayBill_Number__c</field>
            <value>
                <elementReference>WaybillNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_WayBill_Shipping_Method__c</field>
            <value>
                <elementReference>ShippingMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_WayBill_Shipping_Weight__c</field>
            <value>
                <elementReference>ShippingWeight</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchWaybill__c</object>
    </recordUpdates>
    <startElementReference>Check_Work_Order_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>CarrierName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DPSNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FSDName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FSDType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingWeight</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WaybillDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WaybillDirection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WaybillID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WaybillNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
