force-app/main/default/flows/Dispatch_Detail_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Current_Status</name>
        <label>Assign Current Status</label>
        <locationX>486</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentWOStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_on_TimeZone_MDT</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PendingReviewStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Review</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Current_Status</name>
        <label>Check Current Status</label>
        <locationX>303</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>Assign_Current_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Current_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currentWOStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentWOStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Schedule</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentWOStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Problem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_on_TimeZone_MDT</targetReference>
            </connector>
            <label>Is Current Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Work_Order_id</name>
        <label>Check for Work Order id</label>
        <locationX>109</locationX>
        <locationY>71</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookUp_Work_Order</targetReference>
            </connector>
            <label>Is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Incoming_Status</name>
        <label>Check Incoming Status</label>
        <locationX>300</locationX>
        <locationY>179</locationY>
        <defaultConnector>
            <targetReference>Lookup_on_TimeZone_MDT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Pending_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PendingReviewStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Current_Status</targetReference>
            </connector>
            <label>Is Pending Review</label>
        </rules>
    </decisions>
    <formulas>
        <name>EndDate_var</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Form_ScheduleEndDat_var})-({!hoursOffsetValue_var}/24)-({!Minutes_Offset_var}/1440)</expression>
    </formulas>
    <formulas>
        <name>Form_Schedue_StartDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(SUBSTITUTE( {!ScheduleStartDate},&#39;T&#39;,&#39; &#39;))</expression>
    </formulas>
    <formulas>
        <name>Form_ScheduleEndDat_var</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(SUBSTITUTE( {!ScheduleEndDate},&#39;T&#39;,&#39; &#39;))</expression>
    </formulas>
    <formulas>
        <name>hoursOffsetValue_var</name>
        <dataType>Number</dataType>
        <expression>VALUE(LEFT({!offsetValue_var_frmul}, FIND(&quot;:&quot;,{!offsetValue_var_frmul})-1) )+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>isScheduleFlag_var</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISNULL({!ScheduleEndDate})),true,false)</expression>
    </formulas>
    <formulas>
        <name>Minutes_Offset_var</name>
        <dataType>Number</dataType>
        <expression>VALUE(RIGHT(
{!offsetValue_var_frmul},
(LEN({!offsetValue_var_frmul})-FIND(&quot;:&quot;, {!offsetValue_var_frmul}))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>offset</description>
        <name>offsetValue_var_frmul</name>
        <dataType>String</dataType>
        <expression>MID({!Delta_TimeZone_var}, 5, 6)</expression>
    </formulas>
    <formulas>
        <name>scheduling_Internal_Logic_var</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL( {!ScheduleStartDate})),&#39;Scheduled&#39;,&#39;Neither&#39;)</expression>
    </formulas>
    <formulas>
        <name>setWOEpitomeRefNumber</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL({!Epitome_FSD_Ref})),{!Epitome_FSD_Ref}, {!woEpitomeRefNum})</expression>
    </formulas>
    <formulas>
        <description>StartDate</description>
        <name>StartDate_var</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( {!Form_Schedue_StartDate})-({!hoursOffsetValue_var}/24)-({!Minutes_Offset_var}/1440)</expression>
    </formulas>
    <interviewLabel>Dispatch_Detail_Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dispatch_Detail_Update</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_on_TimeZone_MDT</name>
        <label>Lookup on TimeZone MDT</label>
        <locationX>490</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Work_Order_Detail</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>schedulingTimeZone</elementReference>
            </value>
        </filters>
        <object>Timezone__mdt</object>
        <outputAssignments>
            <assignToReference>Delta_TimeZone_var</assignToReference>
            <field>DeltaTimezone__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUp_Work_Order</name>
        <label>LookUp Work Order</label>
        <locationX>298</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Incoming_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>woEpitomeRefNum</assignToReference>
            <field>Epitome_FSD_Ref__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>workOrderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentWOStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>schedulingTimeZone</assignToReference>
            <field>Timezone__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order_Detail</name>
        <label>Update Work Order Detail</label>
        <locationX>666</locationX>
        <locationY>181</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallType__c</field>
            <value>
                <elementReference>CallType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DLP_Name__c</field>
            <value>
                <elementReference>DLPName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DLP__c</field>
            <value>
                <elementReference>DLP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPSType__c</field>
            <value>
                <elementReference>DPSType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DSPName__c</field>
            <value>
                <elementReference>DSPName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeltaUpdateFlag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>EndDate_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Epitome_FSD_Ref__c</field>
            <value>
                <elementReference>setWOEpitomeRefNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSD_DSP_Selection__c</field>
            <value>
                <elementReference>DSPSelectionMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSD_Transport_DLP__c</field>
            <value>
                <elementReference>DLPTransport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISPShippingMethod__c</field>
            <value>
                <elementReference>ShippingMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsScheduled__c</field>
            <value>
                <elementReference>isScheduleFlag_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Labor_Status__c</field>
            <value>
                <elementReference>LaborStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parts_Status__c</field>
            <value>
                <elementReference>PartsStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleEndDate__c</field>
            <value>
                <elementReference>ScheduleEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleStartDate__c</field>
            <value>
                <elementReference>ScheduleStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>StartDate_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <elementReference>SubStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>schedulingInternalLogic__c</field>
            <value>
                <elementReference>scheduling_Internal_Logic_var</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <startElementReference>Check_for_Work_Order_id</startElementReference>
    <status>Active</status>
    <variables>
        <name>CallType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentWOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Delta_TimeZone_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>DLP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DLPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DLPTransport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DPSType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DSPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DSPSelectionMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Epitome_FSD_Ref</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LaborStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartsStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScheduleEndDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScheduleStartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>schedulingTimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>ShippingMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>woEpitomeRefNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
