force-app/main/default/flows/Dispatch_ManualParts_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_for_Work_Order_Id</name>
        <label>Check for Work Order Id</label>
        <locationX>104</locationX>
        <locationY>69</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Flag</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_work_order_line_item</name>
        <label>Check work order line item</label>
        <locationX>532</locationX>
        <locationY>186</locationY>
        <defaultConnector>
            <targetReference>Create_Work_order_line_item_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderLineItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_work_order_line_item_record</targetReference>
            </connector>
            <label>exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordIdCheck</name>
        <label>RecordIdCheck</label>
        <locationX>187</locationX>
        <locationY>437</locationY>
        <defaultConnector>
            <targetReference>Create_Work_order_line_item_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RecordIdCheckFalse</defaultConnectorLabel>
        <rules>
            <name>RecordIdCheckTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderLineItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_work_order_line_item_record</targetReference>
            </connector>
            <label>RecordIdCheckTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>WorkOrderIdCheck</name>
        <label>WorkOrderIdCheck</label>
        <locationX>93</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Search_By_WorkOrder_Id_and_Part_Numbrer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WorkOrderIdCheckFalse</defaultConnectorLabel>
        <rules>
            <name>WorkOrderIdCheckTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderLineItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Work_Order_Line_Item</targetReference>
            </connector>
            <label>WorkOrderIdCheckTrue</label>
        </rules>
    </decisions>
    <interviewLabel>Dispatch_ManualParts_Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dispatch_ManualParts_Update</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Work_order_line_item_record</name>
        <label>Create Work order line item record</label>
        <locationX>455</locationX>
        <locationY>418</locationY>
        <assignRecordIdToReference>WorkOrderLineItemId</assignRecordIdToReference>
        <inputAssignments>
            <field>Defective_PPID__c</field>
            <value>
                <elementReference>ISPDefectivePPID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fulfilled_Qty__c</field>
            <value>
                <elementReference>ISPFulfilled_Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISPManufacturPartId__c</field>
            <value>
                <elementReference>ISPManufacturPartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISPOCBBacklogETA__c</field>
            <value>
                <elementReference>ISPOCBBacklogETA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISPOCBMessage__c</field>
            <value>
                <elementReference>ISPOCBMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISPOrder_Qty__c</field>
            <value>
                <elementReference>ISPOrder_Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISPPartSubType__c</field>
            <value>
                <elementReference>ISPPartSubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISPShippedQty__c</field>
            <value>
                <elementReference>ISPShipped_Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Capture_Flag__c</field>
            <value>
                <elementReference>ISPCaptureFlg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Received_Quantity__c</field>
            <value>
                <elementReference>ISPReturnReceivedQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Used_Quantity__c</field>
            <value>
                <elementReference>ISPUsed_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartCommodity__c</field>
            <value>
                <elementReference>ISPCommodity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartDescription__c</field>
            <value>
                <elementReference>ISPDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartNumber__c</field>
            <value>
                <elementReference>ISPPartNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartType__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_Action__c</field>
            <value>
                <elementReference>ISPFSDPartAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Qty__c</field>
            <value>
                <elementReference>ISPReturn_Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selected_Work_Order__c</field>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StockQty__c</field>
            <value>
                <elementReference>ISPOnhandQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use_Alt_Part_Flag__c</field>
            <value>
                <elementReference>UseAltPart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Search_By_WorkOrder_Id_and_Part_Numbrer</name>
        <label>Search By WorkOrder Id and Part Numbrer</label>
        <locationX>102</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordIdCheck</targetReference>
        </connector>
        <filters>
            <field>PartNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ISPPartNo</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>WorkOrderLineItemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Search_Work_Order_Line_Item</name>
        <label>Search Work Order Line Item</label>
        <locationX>302</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_work_order_line_item</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderLineItemId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>WorkOrderLineItemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Flag</name>
        <label>Update Flag</label>
        <locationX>267</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>WorkOrderIdCheck</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DeltaUpdateFlag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_work_order_line_item_record</name>
        <label>Update work order line item record</label>
        <locationX>350</locationX>
        <locationY>306</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderLineItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Defective_PPID__c</field>
            <value>
                <elementReference>ISPDefectivePPID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fulfilled_Qty__c</field>
            <value>
                <elementReference>ISPFulfilled_Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISPManufacturPartId__c</field>
            <value>
                <elementReference>ISPManufacturPartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISPOCBBacklogETA__c</field>
            <value>
                <elementReference>ISPOCBBacklogETA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISPOCBMessage__c</field>
            <value>
                <elementReference>ISPOCBMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISPOrder_Qty__c</field>
            <value>
                <elementReference>ISPOrder_Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISPPartSubType__c</field>
            <value>
                <elementReference>ISPPartSubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISPShippedQty__c</field>
            <value>
                <elementReference>ISPShipped_Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Capture_Flag__c</field>
            <value>
                <elementReference>ISPCaptureFlg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Received_Quantity__c</field>
            <value>
                <elementReference>ISPReturnReceivedQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Used_Quantity__c</field>
            <value>
                <elementReference>ISPUsed_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartCommodity__c</field>
            <value>
                <elementReference>ISPCommodity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartDescription__c</field>
            <value>
                <elementReference>ISPDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartNumber__c</field>
            <value>
                <elementReference>ISPPartNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartType__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_Action__c</field>
            <value>
                <elementReference>ISPFSDPartAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Qty__c</field>
            <value>
                <elementReference>ISPReturn_Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StockQty__c</field>
            <value>
                <elementReference>ISPOnhandQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use_Alt_Part_Flag__c</field>
            <value>
                <elementReference>UseAltPart</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <startElementReference>Check_for_Work_Order_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>ISPCaptureFlg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISPCommodity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISPDefectivePPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISPDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISPFSDLineNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISPFSDPartAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISPFulfilled_Qty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ISPManufacturPartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISPOCBBacklogETA</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISPOCBMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISPOnhandQty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISPOrder_Qty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ISPPartNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISPPartSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISPReturn_Qty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ISPReturnReceivedQty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISPShipped_Qty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ISPTPMPartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISPUsed_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ISPUsedQuantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UseAltPart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
