force-app/main/default/flows/DispatchCheckRemainingCriteria.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Part_Quantity</name>
        <label>Add Part Quantity</label>
        <locationX>234</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>QuantityAllParts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PartQuantity_Formulae_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Also_Ship_and_Info_Part_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Parts_That_Is_Not_Also_Shipped</name>
        <label>Add Parts That Is Not Also Shipped</label>
        <locationX>367</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>QuantityExcludeAlsoShippedParts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PartQuantity_Formulae_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CostCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Criteria_Match_to_False</name>
        <label>Set Criteria Match to False</label>
        <locationX>672</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>criteriaMatched</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Criteria_Match_To_True</name>
        <label>Set Criteria Match To True</label>
        <locationX>144</locationX>
        <locationY>122</locationY>
        <assignmentItems>
            <assignToReference>criteriaMatched</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughAllWorkOrderLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCriteriaMetToTrue</name>
        <label>SetCriteriaMetToTrue</label>
        <locationX>180</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>HasWOLineMatchCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughAllWorkOrderLineItems</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Also_Ship_and_Info_Part_Check</name>
        <label>Also Ship and Info Part Check</label>
        <locationX>379</locationX>
        <locationY>424</locationY>
        <defaultConnector>
            <targetReference>CostCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Part</defaultConnectorLabel>
        <rules>
            <name>Main_Part</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>li.Line_Item_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Info Parts-Hard Drive-MPS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>li.Line_Item_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Info Parts-Hard Drive-APS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>li.Line_Item_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>APS-Also ship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>li.Line_Item_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Parts_That_Is_Not_Also_Shipped</targetReference>
            </connector>
            <label>Main Part</label>
        </rules>
    </decisions>
    <decisions>
        <name>CostCheck</name>
        <label>CostCheck</label>
        <locationX>584</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Set_Criteria_Match_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CostCheckFalse</defaultConnectorLabel>
        <rules>
            <name>CostCheckTrue</name>
            <conditionLogic>1 OR (2 AND 3) OR (4 AND 5) OR (6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>cAAS.Cost__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cAAS.Cost__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greater Than</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>li.ISP_Cost__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>cCriteria.Cost__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cAAS.Cost__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Less Than</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>li.ISP_Cost__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>cCriteria.Cost__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cAAS.Cost__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equals To</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>li.ISP_Cost__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cCriteria.Cost__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRUCheck</targetReference>
            </connector>
            <label>CostCheckTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>CRUCheck</name>
        <label>CRUCheck</label>
        <locationX>769</locationX>
        <locationY>634</locationY>
        <defaultConnector>
            <targetReference>Set_Criteria_Match_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CRUCheckFalse</defaultConnectorLabel>
        <rules>
            <name>CRUCheckTrue</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>cAAS.CRU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cAAS.CRU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cCriteria.CRU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CRUFlag</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FRUCheck</targetReference>
            </connector>
            <label>CRUCheckTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>FRUCheck</name>
        <label>FRUCheck</label>
        <locationX>966</locationX>
        <locationY>705</locationY>
        <defaultConnector>
            <targetReference>Set_Criteria_Match_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FRUCheckFalse</defaultConnectorLabel>
        <rules>
            <name>FRUCheckTrue</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>cAAS.FRU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cAAS.FRU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cCriteria.FRU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FRUFlag</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCriteriaMetToTrue</targetReference>
            </connector>
            <label>FRUCheckTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>QuantityCheck</name>
        <label>QuantityCheck</label>
        <locationX>673</locationX>
        <locationY>160</locationY>
        <defaultConnector>
            <targetReference>Set_Criteria_Match_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>QuantityCheckFalse</defaultConnectorLabel>
        <rules>
            <name>QuantityCheckTrue</name>
            <conditionLogic>1 OR (2 AND 3) OR (4 AND 5) OR (6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>cAAS.Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cAAS.Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greater than</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuantityAllParts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>cCriteria.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cAAS.Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Less than</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuantityAllParts</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>cCriteria.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cAAS.Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equal to</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cCriteria.Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QuantityAllParts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QuantityNotAlsoShippedCheck</targetReference>
            </connector>
            <label>QuantityCheckTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>QuantityNotAlsoShippedCheck</name>
        <label>QuantityNotAlsoShippedCheck</label>
        <locationX>889</locationX>
        <locationY>169</locationY>
        <defaultConnector>
            <targetReference>Set_Criteria_Match_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>QuantityNotAlsoShippedCheckFalse</defaultConnectorLabel>
        <rules>
            <name>QuantityNotAlsoShippedCheckTrue</name>
            <conditionLogic>1 OR (2 AND 3) OR (4 AND 5) OR (6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>cAAS.Quantity_excluding_Also_Shipped_Parts__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cAAS.Quantity_excluding_Also_Shipped_Parts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greater Than</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuantityExcludeAlsoShippedParts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>cCriteria.Quantity_excluding_Also_Shipped_Parts__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cAAS.Quantity_excluding_Also_Shipped_Parts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Less Than</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuantityExcludeAlsoShippedParts</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>cCriteria.Quantity_excluding_Also_Shipped_Parts__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cAAS.Quantity_excluding_Also_Shipped_Parts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equals To</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cCriteria.Quantity_excluding_Also_Shipped_Parts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QuantityExcludeAlsoShippedParts</elementReference>
                </rightValue>
            </conditions>
            <label>QuantityNotAlsoShippedCheckTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>ReturnFalseIfAllLIsCheckedAndMatched</name>
        <label>CheckHasWOLineCriteriaMatch</label>
        <locationX>412</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Set_Criteria_Match_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CheckHasWOLineCriteriaMatchFalse</defaultConnectorLabel>
        <rules>
            <name>CheckHasWOLineCriteriaMatchTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasWOLineMatchCriteria</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QuantityCheck</targetReference>
            </connector>
            <label>CheckHasWOLineCriteriaMatchTrue</label>
        </rules>
    </decisions>
    <description>Check dispatch remaining criteria, this is start of the revised logic</description>
    <formulas>
        <name>CRUFlag</name>
        <dataType>Boolean</dataType>
        <expression>IF ( {!li.CustomerReplaceableUnit__c} == &#39;Y&#39;, true, false)</expression>
    </formulas>
    <formulas>
        <name>FRUFlag</name>
        <dataType>Boolean</dataType>
        <expression>IF( {!li.FieldReplaceableUnit__c} == &#39;Y&#39;, true, false)</expression>
    </formulas>
    <formulas>
        <name>PartQuantity_Formulae_Var</name>
        <dataType>Number</dataType>
        <expression>Value({!li.Part_Quantity__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>DispatchCheckRemainingCriteria {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DispatchCheckRemainingCriteria</label>
    <loops>
        <name>LoopThroughAllWorkOrderLineItems</name>
        <label>LoopThroughAllWorkOrderLineItems</label>
        <locationX>160</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>li</assignNextValueToReference>
        <collectionReference>WOLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Part_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ReturnFalseIfAllLIsCheckedAndMatched</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Set_Criteria_Match_To_True</startElementReference>
    <status>Active</status>
    <variables>
        <name>cAAS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Attribute_Set__c</objectType>
    </variables>
    <variables>
        <name>cCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Criterion__c</objectType>
    </variables>
    <variables>
        <name>cMatchAllLIs</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>criteriaMatched</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>cWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>Dummy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasWOLineMatchCriteria</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>li</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>QuantityAllParts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuantityExcludeAlsoShippedParts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>WOLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
