force-app/main/default/flows/Dispatch_Service_Events_Upsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendExceptionEmail</name>
        <label>sendExceptionEmail</label>
        <locationX>935</locationX>
        <locationY>382</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Exception_Record</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A Error Occured While Ceating Service Event</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>Service_Cloud_DEV_Admins@dell.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Input_Parameter</name>
        <label>Assign Input Parameter</label>
        <locationX>61</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>Event_DateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reject_Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RejectReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ISP_Engineer_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EngineerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSP_Reference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DSPRefNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSP_Office_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DSPOfficeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Event_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ExceptionAssignment</name>
        <label>ExceptionAssignment</label>
        <locationX>766</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>ApiErrorCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>101</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApiErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceEventId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendExceptionEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ExceptionOutput_if_Work_Order_is_Null</name>
        <label>ExceptionOutput- if Work Order is Null</label>
        <locationX>530</locationX>
        <locationY>18</locationY>
        <assignmentItems>
            <assignToReference>ApiErrorCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>101</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApiErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WorkOrder is Null. This is Mandatory Field</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceEventId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ExceptionOutput_if_Work_Order_is_Null_0</name>
        <label>ExceptionOutput- if Work Order is Null</label>
        <locationX>526</locationX>
        <locationY>119</locationY>
        <assignmentItems>
            <assignToReference>ApiErrorCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>101</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApiErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ReplyCode is Null. This is Mandatory Field</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceEventId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OutputAssignment</name>
        <label>OutputAssignment</label>
        <locationX>271</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>EventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceEventId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApiErrorCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>100</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApiErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>CancelCutOff</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CANCEL_SCHEDULE_CUTOFF</stringValue>
        </value>
    </constants>
    <constants>
        <name>CancelScheduleEvent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CANCEL_SCHEDULE</stringValue>
        </value>
    </constants>
    <constants>
        <name>RescheduleEvent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RESCHEDULE_SERVICE</stringValue>
        </value>
    </constants>
    <constants>
        <name>ScheduleEvent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CONFIRM_SCHEDULE</stringValue>
        </value>
    </constants>
    <constants>
        <name>SuccessfulCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>100000</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Reply_Code</name>
        <label>Check for Reply Code</label>
        <locationX>263</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>Check_for_Service_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Reply_Code_100000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReplyCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SuccessfulCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Event_Record</targetReference>
            </connector>
            <label>Reply Code 100000</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Service_Event_Id_is_not_null</name>
        <label>Check if Service Event Id is not null</label>
        <locationX>476</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>Update_Service_Event_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_if_Service_Event_Id_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceEventId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Event_Record</targetReference>
            </connector>
            <label>Check if Service Event Id is  null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Event</name>
        <label>Check Service Event</label>
        <locationX>67</locationX>
        <locationY>122</locationY>
        <defaultConnector>
            <targetReference>Assign_Input_Parameter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_Service_Event_Value</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServiceEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScheduleEvent</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RescheduleEvent</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CancelScheduleEvent</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CancelCutOff</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Repy_Code_Blank_Check</targetReference>
            </connector>
            <label>Check Service Event Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_Order_Id</name>
        <label>Check Work Order Id</label>
        <locationX>265</locationX>
        <locationY>18</locationY>
        <defaultConnector>
            <targetReference>ExceptionOutput_if_Work_Order_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Work_Order_Id_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Flag</targetReference>
            </connector>
            <label>Work Order Id is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Repy_Code_Blank_Check</name>
        <label>Repy Code Blank Check</label>
        <locationX>265</locationX>
        <locationY>123</locationY>
        <defaultConnector>
            <targetReference>ExceptionOutput_if_Work_Order_is_Null_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Reply_Code_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReplyCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Reply_Code</targetReference>
            </connector>
            <label>Reply Code is Not Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>var_CurrentUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.Username}</expression>
    </formulas>
    <interviewLabel>Dispatch_Service_Event_Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dispatch_Service_Events_Upsert</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exception_Record</name>
        <label>Create Exception Record</label>
        <locationX>818</locationX>
        <locationY>232</locationY>
        <assignRecordIdToReference>ExceptionLogRecordId</assignRecordIdToReference>
        <inputAssignments>
            <field>Apex_Class__c</field>
            <value>
                <stringValue>Work Order Service Event Creation Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>ApiErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Code__c</field>
            <value>
                <elementReference>ApiErrorCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Record_SF_Id__c</field>
            <value>
                <elementReference>ExceptionLogRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Dated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method_Name__c</field>
            <value>
                <stringValue>Method 0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Module__c</field>
            <value>
                <stringValue>Dispatch Management</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Name__c</field>
            <value>
                <elementReference>var_CurrentUserName</elementReference>
            </value>
        </inputAssignments>
        <object>ExceptionLogger__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Event_Record</name>
        <label>Create Service Event Record</label>
        <locationX>182</locationX>
        <locationY>364</locationY>
        <assignRecordIdToReference>ServiceEventId</assignRecordIdToReference>
        <connector>
            <targetReference>OutputAssignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ExceptionAssignment</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>DSP_Code__c</field>
            <value>
                <elementReference>DSPCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DSP_Details__c</field>
            <value>
                <elementReference>DSP_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DSP_Office_Id__c</field>
            <value>
                <elementReference>DSP_Office_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DSP_Reference__c</field>
            <value>
                <elementReference>ISPConfirmationNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Code__c</field>
            <value>
                <elementReference>EventCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_DateTime__c</field>
            <value>
                <elementReference>Event_DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Source__c</field>
            <value>
                <elementReference>EventSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Engineer_Id__c</field>
            <value>
                <elementReference>ISP_Engineer_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason__c</field>
            <value>
                <elementReference>Reject_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reply_Code_Description__c</field>
            <value>
                <elementReference>ReplyMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reply_Code__c</field>
            <value>
                <elementReference>ReplyCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Event__c</field>
            <value>
                <elementReference>ServiceEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Transaction_DateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchServiceEvent__c</object>
    </recordCreates>
    <recordLookups>
        <description>search for existing service event under work order</description>
        <name>Check_for_Service_Event</name>
        <label>Check for Service Event</label>
        <locationX>543</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Service_Event_Id_is_not_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ExceptionAssignment</targetReference>
        </faultConnector>
        <filters>
            <field>DSP_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DSPCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Event_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reply_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReplyCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>DispatchServiceEvent__c</object>
        <outputAssignments>
            <assignToReference>ServiceEventId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Flag</name>
        <label>Update Flag</label>
        <locationX>69</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>Check_Service_Event</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DeltaUpdateFlag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Event_Record</name>
        <label>Update Service Event Record</label>
        <locationX>720</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>OutputAssignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ExceptionAssignment</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceEventId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DSP_Code__c</field>
            <value>
                <elementReference>DSPCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DSP_Reference__c</field>
            <value>
                <elementReference>ISPConfirmationNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Code__c</field>
            <value>
                <elementReference>EventCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_DateTime__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Transaction_DateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchServiceEvent__c</object>
    </recordUpdates>
    <startElementReference>Check_Work_Order_Id</startElementReference>
    <status>Active</status>
    <variables>
        <description>Error Code - 100 on Sucess, 101 on failure</description>
        <name>ApiErrorCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Api Error Message</description>
        <name>ApiErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>Created</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DSP_Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DSP_Office_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DSP_Reference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DSPCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DSPOfficeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DSPRefNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EngineerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Event_DateTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventDateTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>EventId</description>
        <name>EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Event Source from API Input</description>
        <name>EventSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>ExceptionLogRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>ISP_Engineer_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To Store ISPConfirmationNumber from Service</description>
        <name>ISPConfirmationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>Reject_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RejectReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reply_Code_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReplyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReplyMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>ServiceEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vendor_Transaction_DateTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
