force-app/main/default/flows/Dispatch_Parts_Order_Items_Upsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_Part_Order_Line_Item_Id_value</name>
        <label>Check Part Order Line Item Id value</label>
        <locationX>392</locationX>
        <locationY>261</locationY>
        <defaultConnector>
            <targetReference>Update_Part_Order_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Line_Item_Id_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartOrderLineItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Part_Order_Item_record</targetReference>
            </connector>
            <label>Is Line Item Id blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_Order_Id</name>
        <label>Check Work Order Id</label>
        <locationX>101</locationX>
        <locationY>64</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_flag</targetReference>
            </connector>
            <label>Is not null</label>
        </rules>
    </decisions>
    <interviewLabel>Dispatch_Parts_Order_Items_Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dispatch_Parts_Order_Items_Upsert</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Part_Order_Item_record</name>
        <label>Create Part Order Item record</label>
        <locationX>234</locationX>
        <locationY>385</locationY>
        <assignRecordIdToReference>PartOrderItemId</assignRecordIdToReference>
        <inputAssignments>
            <field>ISP_Attempted_Delivery_Date_Time__c</field>
            <value>
                <elementReference>ISP_Attempted_Delivery_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_COM_Date_Time__c</field>
            <value>
                <elementReference>ISP_COM_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Carrier__c</field>
            <value>
                <elementReference>ISP_Carrier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_DPS_Number__c</field>
            <value>
                <elementReference>ISP_DPS_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Description__c</field>
            <value>
                <elementReference>ISP_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_ETA_Date_Time__c</field>
            <value>
                <elementReference>ISP_ETA_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Event_Code__c</field>
            <value>
                <elementReference>ISP_Event_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_HUB__c</field>
            <value>
                <elementReference>ISP_FSD_HUB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Not_In_Use__c</field>
            <value>
                <elementReference>ISP_FSD_Not_In_Use</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Quantity_Type_Code__c</field>
            <value>
                <elementReference>ISP_FSD_Quantity_Type_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_File_Type__c</field>
            <value>
                <elementReference>ISP_File_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Job_Number__c</field>
            <value>
                <elementReference>ISP_Job_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_New_PPID__c</field>
            <value>
                <elementReference>ISP_New_PPID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_New_Status_Flg__c</field>
            <value>
                <elementReference>ISP_New_Status_Flg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_OHP_Date_Time__c</field>
            <value>
                <elementReference>ISP_OHP_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Old_PPID__c</field>
            <value>
                <elementReference>ISP_Old_PPID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Operation_Type__c</field>
            <value>
                <elementReference>ISP_Operation_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Order_Seq_Num__c</field>
            <value>
                <elementReference>ISP_Order_Seq_Num</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_POD_Date_Time__c</field>
            <value>
                <elementReference>ISP_POD_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_POD_Signatory__c</field>
            <value>
                <elementReference>ISP_POD_Signatory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Part_Line_Num__c</field>
            <value>
                <elementReference>ISP_Part_Line_Num</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Part__c</field>
            <value>
                <elementReference>ISP_Part</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Qty__c</field>
            <value>
                <elementReference>ISP_Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_REC_Date_Time__c</field>
            <value>
                <elementReference>ISP_REC_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Return_Date__c</field>
            <value>
                <elementReference>ISP_Return_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_SHP_Date_Time__c</field>
            <value>
                <elementReference>ISP_SHP_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Service_Tag__c</field>
            <value>
                <elementReference>ISP_Service_Tag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Status__c</field>
            <value>
                <elementReference>ISP_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Sub_Line__c</field>
            <value>
                <elementReference>ISP_Sub_Line</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Type__c</field>
            <value>
                <elementReference>ISP_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Unit_Price__c</field>
            <value>
                <elementReference>ISP_Unit_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Used__c</field>
            <value>
                <elementReference>ISP_Used</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_UserName__c</field>
            <value>
                <elementReference>ISP_UserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Waybill_Date__c</field>
            <value>
                <elementReference>ISP_Waybill_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Waybill_Direction__c</field>
            <value>
                <elementReference>ISP_Waybill_Direction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Waybill_Shipping_Method__c</field>
            <value>
                <elementReference>ISP_Waybill_Shipping_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Waybill_Shipping_Weight__c</field>
            <value>
                <elementReference>ISP_Waybill_Shipping_Weight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Waybill__c</field>
            <value>
                <elementReference>ISP_Waybill</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_With_Carrier_Date_Time__c</field>
            <value>
                <elementReference>ISP_With_Carrier_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchPartsOrderLine__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Part_Order_Line_Item</name>
        <label>Get Part Order Line Item</label>
        <locationX>306</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Part_Order_Line_Item_Id_value</targetReference>
        </connector>
        <filters>
            <field>ISP_Part__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ISP_Part</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>DispatchPartsOrderLine__c</object>
        <outputAssignments>
            <assignToReference>PartOrderLineItemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_flag</name>
        <label>Update flag</label>
        <locationX>113</locationX>
        <locationY>189</locationY>
        <connector>
            <targetReference>Get_Part_Order_Line_Item</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DeltaUpdateFlag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Part_Order_Line_Item</name>
        <label>Update Part Order Line Item</label>
        <locationX>628</locationX>
        <locationY>290</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartOrderLineItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISP_Attempted_Delivery_Date_Time__c</field>
            <value>
                <elementReference>ISP_Attempted_Delivery_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_COM_Date_Time__c</field>
            <value>
                <elementReference>ISP_COM_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Carrier__c</field>
            <value>
                <elementReference>ISP_Carrier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_DPS_Number__c</field>
            <value>
                <elementReference>ISP_DPS_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Description__c</field>
            <value>
                <elementReference>ISP_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_ETA_Date_Time__c</field>
            <value>
                <elementReference>ISP_ETA_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Event_Code__c</field>
            <value>
                <elementReference>ISP_Event_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_HUB__c</field>
            <value>
                <elementReference>ISP_FSD_HUB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Not_In_Use__c</field>
            <value>
                <elementReference>ISP_FSD_Not_In_Use</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_FSD_Quantity_Type_Code__c</field>
            <value>
                <elementReference>ISP_FSD_Quantity_Type_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_File_Type__c</field>
            <value>
                <elementReference>ISP_File_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Job_Number__c</field>
            <value>
                <elementReference>ISP_Job_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_New_PPID__c</field>
            <value>
                <elementReference>ISP_New_PPID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_New_Status_Flg__c</field>
            <value>
                <elementReference>ISP_New_Status_Flg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_OHP_Date_Time__c</field>
            <value>
                <elementReference>ISP_OHP_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Old_PPID__c</field>
            <value>
                <elementReference>ISP_Old_PPID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Operation_Type__c</field>
            <value>
                <elementReference>ISP_Operation_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Order_Seq_Num__c</field>
            <value>
                <elementReference>ISP_Order_Seq_Num</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_POD_Date_Time__c</field>
            <value>
                <elementReference>ISP_POD_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_POD_Signatory__c</field>
            <value>
                <elementReference>ISP_POD_Signatory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Part_Line_Num__c</field>
            <value>
                <elementReference>ISP_Part_Line_Num</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Part__c</field>
            <value>
                <elementReference>ISP_Part</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Qty__c</field>
            <value>
                <elementReference>ISP_Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_REC_Date_Time__c</field>
            <value>
                <elementReference>ISP_REC_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Return_Date__c</field>
            <value>
                <elementReference>ISP_Return_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_SHP_Date_Time__c</field>
            <value>
                <elementReference>ISP_SHP_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Service_Tag__c</field>
            <value>
                <elementReference>ISP_Service_Tag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Status__c</field>
            <value>
                <elementReference>ISP_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Sub_Line__c</field>
            <value>
                <elementReference>ISP_Sub_Line</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Type__c</field>
            <value>
                <elementReference>ISP_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Unit_Price__c</field>
            <value>
                <elementReference>ISP_Unit_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Used__c</field>
            <value>
                <elementReference>ISP_Used</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_UserName__c</field>
            <value>
                <elementReference>ISP_UserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Waybill_Date__c</field>
            <value>
                <elementReference>ISP_Waybill_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Waybill_Direction__c</field>
            <value>
                <elementReference>ISP_Waybill_Direction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Waybill_Shipping_Method__c</field>
            <value>
                <elementReference>ISP_Waybill_Shipping_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Waybill_Shipping_Weight__c</field>
            <value>
                <elementReference>ISP_Waybill_Shipping_Weight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_Waybill__c</field>
            <value>
                <elementReference>ISP_Waybill</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISP_With_Carrier_Date_Time__c</field>
            <value>
                <elementReference>ISP_With_Carrier_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchPartsOrderLine__c</object>
    </recordUpdates>
    <startElementReference>Check_Work_Order_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>ISP_Attempted_Delivery_Date_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Carrier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_COM_Date_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_DPS_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_ETA_Date_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Event_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_File_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_HUB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_Not_In_Use</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_FSD_Quantity_Type_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Job_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_New_PPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_New_Status_Flg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_OHP_Date_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Old_PPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Operation_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Order_Seq_Num</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ISP_Part</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Part_Line_Num</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ISP_POD_Date_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_POD_Signatory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Qty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ISP_REC_Date_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Return_Date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Service_Tag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_SHP_Date_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Sub_Line</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Unit_Price</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ISP_Used</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Waybill</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Waybill_Date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Waybill_Direction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Waybill_Shipping_Method</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_Waybill_Shipping_Weight</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISP_With_Carrier_Date_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartOrderItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PartOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
