force-app/main/default/flows/GR_Auto_populate_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>It will check for the case classification : No Boot / System Performance</description>
        <name>CheckForCaseClassification</name>
        <label>CheckForCaseClassification</label>
        <locationX>712</locationX>
        <locationY>296</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoBootAction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseClassificationValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Boot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertRecordAction_NoBoot</targetReference>
            </connector>
            <label>NoBootAction</label>
        </rules>
        <rules>
            <name>SystemPerformanceAction</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseClassificationValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slow boot time</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseClassificationValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slow browser performance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseClassificationValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slow performance with 100% Hard Drive activity using Windows 8 /8.1/10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseClassificationValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slow shutdown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseClassificationValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>slow system performance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseClassificationValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System does not shutdown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseClassificationValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System freezing/locking up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertRecordAction_SlowSystemPerformance</targetReference>
            </connector>
            <label>SystemPerformanceAction</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckForRecordAction1</name>
        <label>CheckForRecordAction1</label>
        <locationX>239</locationX>
        <locationY>349</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordActionIdVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRecordAction</targetReference>
            </connector>
            <label>RecordExists</label>
        </rules>
        <rules>
            <name>recordDoesnotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordActionIdVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckForCaseClassification</targetReference>
            </connector>
            <label>recordDoesnotExist</label>
        </rules>
    </decisions>
    <description>Created as part of guided resolution agent journet project. It gives capability to auto populate flows in the guided action list component based on the case classification values</description>
    <interviewLabel>GR Auto populate flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GR Auto populate flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>It will insert the No Boot Action</description>
        <name>InsertRecordAction_NoBoot</name>
        <label>InsertRecordAction_NoBoot</label>
        <locationX>567</locationX>
        <locationY>92</locationY>
        <inputAssignments>
            <field>FlowDefinition</field>
            <value>
                <stringValue>No_Boot_Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pinned</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>RecordAction</object>
    </recordCreates>
    <recordCreates>
        <name>InsertRecordAction_SlowSystemPerformance</name>
        <label>InsertRecordAction_SlowSystemPerformance</label>
        <locationX>859</locationX>
        <locationY>106</locationY>
        <inputAssignments>
            <field>FlowDefinition</field>
            <value>
                <stringValue>System_Performance_flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pinned</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>RecordAction</object>
    </recordCreates>
    <recordDeletes>
        <name>DeleteRecordAction</name>
        <label>DeleteRecordAction</label>
        <locationX>331</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>CheckForCaseClassification</targetReference>
        </connector>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>RecordAction</object>
    </recordDeletes>
    <recordLookups>
        <name>CheckForRecordAction</name>
        <label>CheckForRecordAction</label>
        <locationX>160</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckForRecordAction1</targetReference>
        </connector>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>RecordAction</object>
        <outputAssignments>
            <assignToReference>RecordActionIdVar</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateRecordAction</name>
        <label>updateRecordAction</label>
        <locationX>34</locationX>
        <locationY>478</locationY>
        <connector>
            <targetReference>DeleteRecordAction</targetReference>
        </connector>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>RecordAction</object>
    </recordUpdates>
    <startElementReference>CheckForRecordAction</startElementReference>
    <status>Active</status>
    <variables>
        <description>Store case classification value in this variable</description>
        <name>CaseClassificationValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>To store case ID</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>History</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordActionHistory</objectType>
    </variables>
    <variables>
        <name>RecordActionIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordactionvariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>test</description>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
