force-app/main/default/flows/IDS_Import_Order_Failed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Order_Fails_to_be_retrieved</name>
        <label>Order Fails to be retrieved</label>
        <locationX>293</locationX>
        <locationY>496</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Validate_Order_Import_Queue</name>
        <label>Validate Order Import Queue</label>
        <locationX>295</locationX>
        <locationY>17</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderImportQueue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderImportQueue.ProcessedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project</targetReference>
            </connector>
            <label>Processed Date is Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>ChatterMessage</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!ProjectManager}), NULL, &quot;@[&quot; &amp; {!ProjectManager} &amp; &quot;] &quot;) &amp; IF(ISBLANK({!ProjectSupportAnalyst}), NULL, &quot;@[&quot;&amp; {!ProjectSupportAnalyst} &amp; &quot;] &quot;) &amp; &quot;Order &quot; &amp; {!OrderImportQueue.Order_Number__c} &amp; &quot; fails to be retrieved after 48 hour period&quot;</expression>
    </formulas>
    <interviewLabel>IDS - Import Order Failed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDS - Import Order Failed</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Import_Queue</name>
        <label>Get Order Import Queue</label>
        <locationX>25</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Order_Import_Queue</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderImportQueueId</elementReference>
            </value>
        </filters>
        <object>Order_Import_Queue__c</object>
        <outputReference>OrderImportQueue</outputReference>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>ProcessedDate__c</queriedFields>
        <queriedFields>Order_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>293</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Manager</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderImportQueue.Project__c</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputReference>Project</outputReference>
        <queriedFields>pse__Project_Manager__c</queriedFields>
        <queriedFields>Project_Support_Analyst__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Manager</name>
        <label>Get Project Manager</label>
        <locationX>293</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Support_Analyst</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project.pse__Project_Manager__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ProjectManager</assignToReference>
            <field>pse__Salesforce_User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Support_Analyst</name>
        <label>Get Project Support Analyst</label>
        <locationX>292</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Fails_to_be_retrieved</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project.Project_Support_Analyst__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ProjectSupportAnalyst</assignToReference>
            <field>pse__Salesforce_User__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Order_Import_Queue</startElementReference>
    <status>Active</status>
    <variables>
        <name>OrderImportQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Import_Queue__c</objectType>
    </variables>
    <variables>
        <name>OrderImportQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>ProjectManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectSupportAnalyst</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
