force-app/main/default/flows/IDS_DPID_Rule_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_output_to_association</name>
        <label>Set output_to_association</label>
        <locationX>622</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>BeAssociation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderIdByAssociation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectIdToAssociation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output_to_not_association</name>
        <label>Set Output to not association</label>
        <locationX>628</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>BeAssociation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Existing_Project_By_DPId</name>
        <label>Existing Project By DPId</label>
        <locationX>308</locationX>
        <locationY>599</locationY>
        <defaultConnector>
            <targetReference>Set_Output_to_not_association</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No project found</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project.pse__Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project.pse__Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_output_to_association</targetReference>
            </connector>
            <label>Yes Existing Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Federal_Order_Validation</name>
        <label>Federal Order Validation</label>
        <locationX>99</locationX>
        <locationY>449</locationY>
        <defaultConnector>
            <targetReference>Set_Output_to_not_association</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_same_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedOrderIsFederal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OrderFoundIsFederal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project</targetReference>
            </connector>
            <label>Has same type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_DP_Id</name>
        <label>Has DP Id</label>
        <locationX>103</locationX>
        <locationY>156</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_DP_Id_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderFound.DPID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_by_DPId</targetReference>
            </connector>
            <label>Yes DP Id Not Null</label>
        </rules>
    </decisions>
    <description>Added federal order validation</description>
    <formulas>
        <name>MatchedOrderIsFederal</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(UPPER({!MatchedOrder.OCI_Order_Type__c}), &quot;FED&quot;) || CONTAINS(UPPER({!MatchedOrder.Sales_Channel__c}), &quot;FED&quot;)</expression>
    </formulas>
    <formulas>
        <name>OrderFoundIsFederal</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(UPPER({!OrderFound.OCI_Order_Type__c}), &quot;FED&quot;) || CONTAINS(UPPER({!OrderFound.Sales_Channel__c}), &quot;FED&quot;)</expression>
    </formulas>
    <interviewLabel>DPID_Rule_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDS DPID Rule Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_By_Id</name>
        <label>Get Order By Id</label>
        <locationX>103</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_DP_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>OrderFound.CreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.CurrencyIsoCode</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.CustomerNumber__c</assignToReference>
            <field>CustomerNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.DPID__c</assignToReference>
            <field>DPID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.OCI_Order_Type__c</assignToReference>
            <field>OCI_Order_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.Sales_Channel__c</assignToReference>
            <field>Sales_Channel__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>97</locationX>
        <locationY>596</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Project_By_DPId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectObj.Id</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputReference>Project</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>pse__Stage__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_by_DPId</name>
        <label>Get Project by DPId</label>
        <locationX>101</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Federal_Order_Validation</targetReference>
        </connector>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFound.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>DPID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFound.DPID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>MatchedOrder.OCI_Order_Type__c</assignToReference>
            <field>OCI_Order_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>projectObj.Id</assignToReference>
            <field>Project__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MatchedOrder.Sales_Channel__c</assignToReference>
            <field>Sales_Channel__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Order_By_Id</startElementReference>
    <status>Draft</status>
    <variables>
        <name>BeAssociation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MatchedOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Order_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderIdByAssociation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>ProjectIdToAssociation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>projectObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
</Flow>
