force-app/main/default/flows/IDS_Customer_Number_Rule_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_output_to_association</name>
        <label>Set output_to_association</label>
        <locationX>438</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>BeAssociation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderIdByAssociation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderFound.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectIdToAssociation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_output_to_no_association</name>
        <label>Set output_to_no_association</label>
        <locationX>451</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>BeAssociation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Existing_project_with_CustomerNumber</name>
        <label>Existing project with CustomerNumber</label>
        <locationX>56</locationX>
        <locationY>677</locationY>
        <defaultConnector>
            <targetReference>Set_output_to_no_association</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No project found</defaultConnectorLabel>
        <rules>
            <name>Yes_existing_project_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_output_to_association</targetReference>
            </connector>
            <label>Yes existing project Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Federal_Order_Validation</name>
        <label>Federal Order Validation</label>
        <locationX>54</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>Set_output_to_no_association</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_same_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedOrderIsFederal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OrderFoundIsFederal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Date_Range</targetReference>
            </connector>
            <label>Has same type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_CustomerNumber</name>
        <label>Has CustomerNumber</label>
        <locationX>53</locationX>
        <locationY>115</locationY>
        <defaultConnector>
            <targetReference>Set_output_to_no_association</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CustomerNumber Is Null</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Customer_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderFound.CustomerNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_By_CustomerNumber</targetReference>
            </connector>
            <label>Yes Has Customer Number</label>
        </rules>
    </decisions>
    <description>Added federal order validation</description>
    <formulas>
        <name>MatchedOrderIsFederal</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(UPPER({!MatchedOrder.OCI_Order_Type__c}), &quot;FED&quot;) || CONTAINS(UPPER({!MatchedOrder.Sales_Channel__c}), &quot;FED&quot;)</expression>
    </formulas>
    <formulas>
        <name>OrderFoundIsFederal</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(UPPER({!OrderFound.OCI_Order_Type__c}), &quot;FED&quot;) || CONTAINS(UPPER({!OrderFound.Sales_Channel__c}), &quot;FED&quot;)</expression>
    </formulas>
    <interviewLabel>IDS_Customer_Number_Rule_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDS Customer Number Rule Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_By_Id</name>
        <label>Get Order By Id</label>
        <locationX>52</locationX>
        <locationY>12</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_CustomerNumber</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>OrderFound.CurrencyIsoCode</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.CustomerNumber__c</assignToReference>
            <field>CustomerNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.EffectiveDate</assignToReference>
            <field>EffectiveDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.OCI_Order_Type__c</assignToReference>
            <field>OCI_Order_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.Sales_Channel__c</assignToReference>
            <field>Sales_Channel__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_By_CustomerNumber</name>
        <label>Get Project By CustomerNumber</label>
        <locationX>54</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Federal_Order_Validation</targetReference>
        </connector>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFound.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>CustomerNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFound.CustomerNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OrderFound.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>MatchedOrder.OCI_Order_Type__c</assignToReference>
            <field>OCI_Order_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>projectObj.Id</assignToReference>
            <field>Project__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MatchedOrder.Sales_Channel__c</assignToReference>
            <field>Sales_Channel__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Date_Range</name>
        <label>Get Project Date Range</label>
        <locationX>56</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_project_with_CustomerNumber</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectObj.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>OrderFound.EffectiveDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closure</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>OrderFound.EffectiveDate</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputAssignments>
            <assignToReference>Project.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Order_By_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>BeAssociation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MatchedOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Order_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderIdByAssociation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>ProjectIdToAssociation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>projectObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>Projects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
</Flow>
