force-app/main/default/flows/IDS_PO_Number_Rule_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_output_for_association</name>
        <label>Set output for association</label>
        <locationX>538</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>ShouldAssociate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectIdAssociate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderIdAssociate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderFound.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_output_for_not_associating</name>
        <label>Set output for not associating</label>
        <locationX>1024</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>ShouldAssociate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Federal_Order_Validation</name>
        <label>Federal Order Validation</label>
        <locationX>532</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>Set_output_for_not_associating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_same_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedOrderIsFederal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OrderFoundIsFederal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project</targetReference>
            </connector>
            <label>Has same type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Existing_Project_w_PoNumber</name>
        <label>Has Existing Project w/ PoNumber</label>
        <locationX>535</locationX>
        <locationY>630</locationY>
        <defaultConnector>
            <targetReference>Set_output_for_not_associating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Project found</defaultConnectorLabel>
        <rules>
            <name>Project_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_output_for_association</targetReference>
            </connector>
            <label>Project found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_PO_Number</name>
        <label>Has PO Number?</label>
        <locationX>527</locationX>
        <locationY>66</locationY>
        <defaultConnector>
            <targetReference>Set_output_for_not_associating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PO Number found</defaultConnectorLabel>
        <rules>
            <name>Order_has_PO_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderFound.PoNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderFound.CustomerNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderFound.BUID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_By_PO_Number_CustomerNumber_BUID</targetReference>
            </connector>
            <label>Order has PO Number</label>
        </rules>
    </decisions>
    <description>Added federal order validation</description>
    <formulas>
        <name>MatchedOrderIsFederal</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(UPPER({!MatchedOrder.OCI_Order_Type__c}), &quot;FED&quot;) || CONTAINS(UPPER({!MatchedOrder.Sales_Channel__c}), &quot;FED&quot;)</expression>
    </formulas>
    <formulas>
        <name>OrderFoundIsFederal</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(UPPER({!OrderFound.OCI_Order_Type__c}), &quot;FED&quot;) || CONTAINS(UPPER({!OrderFound.Sales_Channel__c}), &quot;FED&quot;)</expression>
    </formulas>
    <interviewLabel>IDS - PO Number Rule Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDS - PO Number Rule Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_By_Id</name>
        <label>Get Order By Id</label>
        <locationX>280</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_PO_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>OrderFound.BUID__c</assignToReference>
            <field>BUID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.CreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.CurrencyIsoCode</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.CustomerNumber__c</assignToReference>
            <field>CustomerNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.OCI_Order_Type__c</assignToReference>
            <field>OCI_Order_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.PoNumber</assignToReference>
            <field>PoNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.Sales_Channel__c</assignToReference>
            <field>Sales_Channel__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_By_PO_Number_CustomerNumber_BUID</name>
        <label>Get Order By PO Number/CustomerNumber/BUID</label>
        <locationX>529</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Federal_Order_Validation</targetReference>
        </connector>
        <filters>
            <field>BUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFound.BUID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFound.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>CustomerNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFound.CustomerNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OrderFound.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PoNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFound.PoNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>MatchedOrder.OCI_Order_Type__c</assignToReference>
            <field>OCI_Order_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectFound.Id</assignToReference>
            <field>Project__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MatchedOrder.Sales_Channel__c</assignToReference>
            <field>Sales_Channel__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>534</locationX>
        <locationY>512</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Existing_Project_w_PoNumber</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectFound.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closure</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputReference>Project</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Get_Order_By_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>MatchedOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Order_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Not Found</stringValue>
        </value>
    </variables>
    <variables>
        <name>OrderFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderIdAssociate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>ProjectFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>ProjectIdAssociate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShouldAssociate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
