force-app/main/default/flows/IDS_All_Orders_Cancelled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Order_Id</name>
        <label>Set Order Id</label>
        <locationX>114</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>order_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_order_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Others_Cancelled_Orders_Found</name>
        <label>Others Cancelled Orders Found</label>
        <locationX>486</locationX>
        <locationY>451</locationY>
        <defaultConnectorLabel>No Orders Found</defaultConnectorLabel>
        <rules>
            <name>Yes_orders_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CancelledOrders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Project</targetReference>
            </connector>
            <label>Yes orders found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_not_in_Execution_Phase</name>
        <label>Project not in Execution Phase</label>
        <locationX>483</locationX>
        <locationY>181</locationY>
        <defaultConnectorLabel>Project_In_Execution_Phase_or_past_it</defaultConnectorLabel>
        <rules>
            <name>Project_in_prior_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>project.pse__Project_Phase__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Execute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>project.pse__Project_Phase__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_other_cancelled_orders_from_same_project</targetReference>
            </connector>
            <label>Project in prior status</label>
        </rules>
    </decisions>
    <interviewLabel>IDS - All Orders Cancelled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDS - All Orders Cancelled</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>309</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>order_id</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>order.CreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>order.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>order.Project__c</assignToReference>
            <field>Project__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>order.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_other_cancelled_orders_from_same_project</name>
        <label>Get other cancelled orders from same project</label>
        <locationX>484</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Others_Cancelled_Orders_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>order_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>order.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CL</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>CancelledOrders</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>305</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_not_in_Execution_Phase</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>order.Project__c</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputAssignments>
            <assignToReference>project.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>project.pse__Project_Phase__c</assignToReference>
            <field>pse__Project_Phase__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>project.pse__Stage__c</assignToReference>
            <field>pse__Stage__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Project</name>
        <label>Cancel_Project</label>
        <locationX>486</locationX>
        <locationY>577</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>project.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Stage__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <startElementReference>Set_Order_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>CancelledOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>input_order_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>order_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
</Flow>
