force-app/main/default/flows/IDS_Associate_Project_to_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Skills_to_Resource_Request</name>
        <label>Add Skills to Resource Request</label>
        <locationX>1226</locationX>
        <locationY>33</locationY>
        <actionName>ResourceRequestSkillAutomator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Project_Sales_Rep</targetReference>
        </connector>
        <inputParameters>
            <name>addedUpdatedOrders</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_and_Associate_Order_Sites</name>
        <label>Create and Associate Order Sites</label>
        <locationX>1384</locationX>
        <locationY>406</locationY>
        <actionName>SiteManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Post_Order_Association_To_Owner_On_Project_Chatter</targetReference>
        </connector>
        <inputParameters>
            <name>orderIds</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Association_Rejected_to_Owner</name>
        <label>Post Association Rejected to Owner</label>
        <locationX>1009</locationX>
        <locationY>309</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Order_Association_To_Owner_On_Project_Chatter</name>
        <label>Post_Order_Association_To_Owner_On_Project_Chatter</label>
        <locationX>1384</locationX>
        <locationY>605</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!ProjectOwnerString} The order {!Order.OrderNumber__c} was associated to the Project.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>1095</locationX>
        <locationY>765</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Associate_Order_to_Project</name>
        <label>Associate Order to Project</label>
        <locationX>488</locationX>
        <locationY>33</locationY>
        <assignmentItems>
            <assignToReference>Order.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_As_Currency</name>
        <label>Set Error As Currency</label>
        <locationX>705</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>CurrencyError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Association_Rejected_to_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_As_Visibility</name>
        <label>Set Error As Visibility</label>
        <locationX>703</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>VisibilityError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Association_Rejected_to_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Project_Id_On_Order</name>
        <label>Store Project Id on Order</label>
        <locationX>688</locationX>
        <locationY>765</locationY>
        <assignmentItems>
            <assignToReference>Order.Approval_Project_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order.Association_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Manager.pse__Salesforce_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order.Approval_Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validate_Order_Currency</name>
        <label>Validate Order Currency</label>
        <locationX>480</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Set_Error_As_Currency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Order_Currency_equal_Project_Currency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Project.CurrencyIsoCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Project_Order_Visibility</targetReference>
            </connector>
            <label>Order Currency equal Project Currency</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Project_Order_Visibility</name>
        <label>Validate Project/Order Visibility</label>
        <locationX>480</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference>Set_Error_As_Visibility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Order_Project_Same_Visibility</name>
            <conditionLogic>((1 OR 2) AND 3) OR ((4 OR 5) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Order.Sales_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Order.OCI_Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project.Project_Visibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Federal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Order.Sales_Channel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Order.OCI_Order_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project.Project_Visibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Order_to_Project</targetReference>
            </connector>
            <label>Order/Project Same Visibility</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Project_Phase</name>
        <label>Validate Project Phase</label>
        <locationX>477</locationX>
        <locationY>582</locationY>
        <defaultConnector>
            <targetReference>Validate_Order_Currency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Prevent_Association</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Project.pse__Project_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Execute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project.pse__Project_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NeedsApproval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Manager</targetReference>
            </connector>
            <label>Prevent Association</label>
        </rules>
    </decisions>
    <description>Added call no link order to milestone subflow</description>
    <formulas>
        <name>ChatterErrorMessage</name>
        <dataType>String</dataType>
        <expression>IF({!CurrencyError}, &quot;its Currency does not match the Project&#39;s Currency&quot;,  IF({!VisibilityError}, &quot;its Visibility does not match the Project&#39;s Visibility&quot;, &quot; &quot;))</expression>
    </formulas>
    <formulas>
        <name>ChatterMessage</name>
        <dataType>String</dataType>
        <expression>{!ProjectOwnerString} &amp; &quot;The order &quot; &amp; {!Order.OrderNumber__c} &amp; &quot; could not be associated to this project because &quot; &amp; {!ChatterErrorMessage} &amp; &quot;. It has been sent to the Unnassociated Queue.&quot;</expression>
    </formulas>
    <formulas>
        <name>ProjectIDtoText</name>
        <dataType>String</dataType>
        <expression>{!ProjectId}</expression>
    </formulas>
    <formulas>
        <name>ProjectOwnerString</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!UserId}),NULL, &quot;@[&quot; &amp; {!UserId} &amp; &quot;] &quot;)</expression>
    </formulas>
    <formulas>
        <name>ProjectSupportAnalystString</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!ProjectSupportAnalyst}), NULL, &quot;@[&quot;&amp; {!ProjectSupportAnalyst} &amp; &quot;] &quot;)</expression>
    </formulas>
    <interviewLabel>IDS - Associate Project to Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDS - Associate Project to Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>343</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Project_Phase</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Order_Approval_Status__c</queriedFields>
        <queriedFields>OrderNumber__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Sales_Channel__c</queriedFields>
        <queriedFields>OCI_Order_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner</name>
        <label>Get Owner</label>
        <locationX>192</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>50</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputReference>Project</outputReference>
        <queriedFields>pse__Project_ID__c</queriedFields>
        <queriedFields>pse__Project_Phase__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>pse__Project_Manager__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Project_Support_Analyst__c</queriedFields>
        <queriedFields>Project_Visibility__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Manager</name>
        <label>Get Project Manager</label>
        <locationX>484</locationX>
        <locationY>761</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Project_Id_On_Order</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project.pse__Project_Manager__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Manager</outputReference>
        <queriedFields>pse__Salesforce_User__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>614</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Link_Order_to_Milestone</targetReference>
        </connector>
        <inputReference>Order</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_2</name>
        <label>Update Order 2</label>
        <locationX>873</locationX>
        <locationY>765</locationY>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <inputReference>Order</inputReference>
    </recordUpdates>
    <startElementReference>Get_Project</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Budget_for_Project</name>
        <label>Create Budget for Project</label>
        <locationX>910</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Run_Sku_Effort_Mapping</targetReference>
        </connector>
        <flowName>Create_Order_Budget_for_Project</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Link_Order_to_Milestone</name>
        <label>Link Order to Milestone</label>
        <locationX>745</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Create_Budget_for_Project</targetReference>
        </connector>
        <flowName>IDS_Link_Order_to_Milestone</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Populate_Project_contacts_from_order</name>
        <label>Populate Project contacts from order</label>
        <locationX>1384</locationX>
        <locationY>211</locationY>
        <connector>
            <targetReference>Create_and_Associate_Order_Sites</targetReference>
        </connector>
        <flowName>IDS_Populate_Project_Contacts_from_Order</flowName>
        <inputAssignments>
            <name>orderId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>projectId</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderId</assignToReference>
            <name>orderId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectId</assignToReference>
            <name>projectId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Run_Sku_Effort_Mapping</name>
        <label>Run Sku Effort Mapping</label>
        <locationX>1071</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Add_Skills_to_Resource_Request</targetReference>
        </connector>
        <flowName>Add_Tasks_based_on_SKU_Mapping</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsProjectAssociation</name>
            <value>
                <elementReference>IsProjectAssociation</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_Project_Sales_Rep</name>
        <label>Set Project Sales Rep</label>
        <locationX>1384</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Populate_Project_contacts_from_order</targetReference>
        </connector>
        <flowName>IDS_Set_Project_Sales_Rep_Based_on_Order_Sales_Rep</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderId</assignToReference>
            <name>OrderId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CurrencyError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsProjectAssociation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Manager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>MilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NeedsApproval</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectSupportAnalyst</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>User Id of the owner</description>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisibilityError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
