force-app/main/default/flows/IDS_Unassociate_Associate_Order_to_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Flow_Output</name>
        <label>Set Flow Output</label>
        <locationX>544</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Associated_Succesfully</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flow_Output_0</name>
        <label>Set Flow Output</label>
        <locationX>553</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_of_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flow_Output_0_0</name>
        <label>Set Flow Output</label>
        <locationX>786</locationX>
        <locationY>89</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Associated_Succesfully_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_order_already_associated_to_a_Project</name>
        <label>Check if order already associated to a Project</label>
        <locationX>342</locationX>
        <locationY>88</locationY>
        <defaultConnector>
            <targetReference>Associate_Order_to_Project_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_already_associated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Unassociate_Associate_confirmation</targetReference>
            </connector>
            <label>Is already associated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Confirmed</name>
        <label>User Confirmed?</label>
        <locationX>339</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_Flow_Output_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>User_confirmed_association</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Associate_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Order_to_Project_1</targetReference>
            </connector>
            <label>User confirmed association</label>
        </rules>
    </decisions>
    <interviewLabel>IDS - Unassociate/Associate Order to Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDS - Unassociate/Associate Order to Project w/ Header</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>134</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_order_already_associated_to_a_Project</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
    </recordLookups>
    <screens>
        <name>End_of_Flow</name>
        <label>End of Flow</label>
        <locationX>719</locationX>
        <locationY>349</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowHeader1</name>
            <extensionName>c:OrderAssociationFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EndOfFlow</name>
            <fieldText>The order wasn&#39;t associated.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Associated_Succesfully</name>
        <label>Order Associated Succesfully</label>
        <locationX>744</locationX>
        <locationY>506</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowHeader2</name>
            <extensionName>c:OrderAssociationFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OrderAssociated</name>
            <fieldText>Order successfully associated with project!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Associated_Succesfully_0</name>
        <label>Order Associated Succesfully</label>
        <locationX>975</locationX>
        <locationY>88</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowHeader3</name>
            <extensionName>c:OrderAssociationFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OrderAssociated_0</name>
            <fieldText>Order successfully associated!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Unassociate_Associate_confirmation</name>
        <label>Project Association</label>
        <locationX>340</locationX>
        <locationY>232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Confirmed</targetReference>
        </connector>
        <fields>
            <name>FlowHeader</name>
            <extensionName>c:OrderAssociationFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>Would you like to associate Order {!Order.OrderNumber} with the selected Project?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Associate_Order</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Associate Order?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Order</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Associate_Order_to_Project_0</name>
        <label>Associate Order to Project</label>
        <locationX>568</locationX>
        <locationY>91</locationY>
        <connector>
            <targetReference>Set_Flow_Output_0_0</targetReference>
        </connector>
        <flowName>Unassociate_Associate_Order_to_Project_Processing</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Associate_Order_to_Project_1</name>
        <label>Associate Order to Project</label>
        <locationX>337</locationX>
        <locationY>505</locationY>
        <connector>
            <targetReference>Set_Flow_Output</targetReference>
        </connector>
        <flowName>Unassociate_Associate_Order_to_Project_Processing</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>projectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>result</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
