force-app/main/default/flows/IDS_Link_Order_to_Milestone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Milestone_Id_to_empty</name>
        <label>Set Milestone Id to empty</label>
        <locationX>497</locationX>
        <locationY>19</locationY>
        <assignmentItems>
            <assignToReference>MilestoneId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Order_Milestone</name>
        <label>Set Order Milestone</label>
        <locationX>213</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>Order.Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastCompletationDate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastCompletationDate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Milestone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Forecast_Completation_Date</name>
        <label>Has Forecast Completation Date</label>
        <locationX>213</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>Set_Milestone_Id_to_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Forecast_Completation_Date_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForecastCompletationDate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order</targetReference>
            </connector>
            <label>Forecast Completation Date Is Not Null</label>
        </rules>
    </decisions>
    <interviewLabel>IDS - Link Order to Milestone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDS - Link Order to Milestone</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get &#39;Current&#39; project milestone</description>
        <name>Get_Milestone</name>
        <label>Get Milestone</label>
        <locationX>50</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Forecast_Completation_Date</targetReference>
        </connector>
        <filters>
            <field>Current__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>pse__Milestone__c</object>
        <outputReference>ForecastCompletationDate</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>213</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_Milestone</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Milestone__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Milestone</name>
        <label>Update Order Milestone</label>
        <locationX>214</locationX>
        <locationY>401</locationY>
        <inputReference>Order</inputReference>
    </recordUpdates>
    <startElementReference>Get_Milestone</startElementReference>
    <status>Active</status>
    <variables>
        <name>ForecastCompletationDate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <name>MilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
