force-app/main/default/flows/IDS_Set_Project_Sales_Rep_Based_on_Order_Sales_Rep.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Project_Sales_Rep</name>
        <label>Set Project Sales Rep</label>
        <locationX>122</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Project.Sales_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.Sales_Rep__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Project_sales_rep_validation</name>
        <label>Project sales rep validation</label>
        <locationX>123</locationX>
        <locationY>212</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Project_does_not_have_sales_rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project.Sales_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Sales_Rep</targetReference>
            </connector>
            <label>Project does not have sales rep</label>
        </rules>
    </decisions>
    <interviewLabel>IDS - Set Project Sales Rep Based on Order Sales Rep {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDS - Set Project Sales Rep Based on Order Sales Rep</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Sales_Rep</name>
        <label>Get Order Sales Rep</label>
        <locationX>123</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Project_Sales_Rep</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>Order.Sales_Rep__c</assignToReference>
            <field>Sales_Rep__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Sales_Rep</name>
        <label>Get Project Sales Rep</label>
        <locationX>122</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_sales_rep_validation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputAssignments>
            <assignToReference>Project.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Project.Sales_Rep__c</assignToReference>
            <field>Sales_Rep__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>121</locationX>
        <locationY>568</locationY>
        <inputReference>Project</inputReference>
    </recordUpdates>
    <startElementReference>Get_Project_Sales_Rep</startElementReference>
    <status>Active</status>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
