force-app/main/default/flows/IDS_Deal_Id_Rule_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_output_to_association</name>
        <label>Set output_to_association</label>
        <locationX>355</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>BeAssociation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderIdByAssociation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderFound.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectIdToAssociation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_output_to_no_association</name>
        <label>Set output_to_no_association</label>
        <locationX>53</locationX>
        <locationY>795</locationY>
        <assignmentItems>
            <assignToReference>BeAssociation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Existing_Project_By_Deal_Id</name>
        <label>Existing Project By Deal Id</label>
        <locationX>52</locationX>
        <locationY>631</locationY>
        <defaultConnector>
            <targetReference>Set_output_to_no_association</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Project found</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project.pse__Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project.pse__Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_output_to_association</targetReference>
            </connector>
            <label>Yes Existing Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Federal_Order_Validation</name>
        <label>Federal Order Validation</label>
        <locationX>50</locationX>
        <locationY>387</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_same_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderFoundIsFederal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MatchedOrderIsFederal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project</targetReference>
            </connector>
            <label>Has same type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_DealId</name>
        <label>Has DealId</label>
        <locationX>54</locationX>
        <locationY>146</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Deal_Id_Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderFound.Deal_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_By_Deal_Id</targetReference>
            </connector>
            <label>Yes Deal Id Not null</label>
        </rules>
    </decisions>
    <description>Added federal order validation</description>
    <formulas>
        <name>MatchedOrderIsFederal</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(UPPER({!MatchedOrder.OCI_Order_Type__c}), &quot;FED&quot;) || CONTAINS(UPPER({!MatchedOrder.Sales_Channel__c}), &quot;FED&quot;)</expression>
    </formulas>
    <formulas>
        <name>OrderFoundIsFederal</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(UPPER({!OrderFound.OCI_Order_Type__c}), &quot;FED&quot;) || CONTAINS(UPPER({!OrderFound.Sales_Channel__c}), &quot;FED&quot;)</expression>
    </formulas>
    <interviewLabel>IDS Deal Id Rule Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDS Deal Id Rule Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_By_Id</name>
        <label>Get Order By Id</label>
        <locationX>54</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_DealId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>OrderFound.CreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.CurrencyIsoCode</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.Deal_ID__c</assignToReference>
            <field>Deal_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.OCI_Order_Type__c</assignToReference>
            <field>OCI_Order_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderFound.Sales_Channel__c</assignToReference>
            <field>Sales_Channel__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>51</locationX>
        <locationY>512</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Project_By_Deal_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectObj.Id</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputReference>Project</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>pse__Stage__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_By_Deal_Id</name>
        <label>Get Project By Deal Id</label>
        <locationX>50</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Federal_Order_Validation</targetReference>
        </connector>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFound.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deal_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderFound.Deal_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OrderFound.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>MatchedOrder.OCI_Order_Type__c</assignToReference>
            <field>OCI_Order_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>projectObj.Id</assignToReference>
            <field>Project__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MatchedOrder.Sales_Channel__c</assignToReference>
            <field>Sales_Channel__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Order_By_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>BeAssociation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MatchedOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Order_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderIdByAssociation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>ProjectIdToAssociation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>projectObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
</Flow>
