force-app/main/default/flows/IDS_Update_Work_Order_Status_By_Work_Order_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_False_To_Is_Equal</name>
        <label>Add False To Is Equal</label>
        <locationX>170</locationX>
        <locationY>885</locationY>
        <assignmentItems>
            <assignToReference>IsLineItemStatusEqual</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_All_Work_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_True_To_Is_Equal</name>
        <label>Add True To Is Equal</label>
        <locationX>776</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>IsLineItemStatusEqual</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_All_Work_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_to_Closed</name>
        <label>Update Status to Closed</label>
        <locationX>1023</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>workOrderLineItemStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FF - Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Work_Order_Line_Items_Equal</name>
        <label>Are Work Order Line Items Equal?</label>
        <locationX>294</locationX>
        <locationY>737</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Are_Work_Order_Line_Items_Equal_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsLineItemStatusEqual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Work_Order_Line_Item_Status_Equal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Cancelled_or_Closed_or_Invalid</name>
        <label>Is Status Cancelled or Closed or Invalid?</label>
        <locationX>287</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>Is_Status_Work_In_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Status_Cancelled_or_Closed_or_Invalid_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>workOrderLineItemStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FF - Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workOrderLineItemStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FF - Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workOrderLineItemStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FF - Service Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workOrderLineItemStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FF - Invalid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Work_Order_Line_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Equal_Completed_or_Service_Complete</name>
        <label>Is Status Equal Completed or Service Complete</label>
        <locationX>715</locationX>
        <locationY>459</locationY>
        <defaultConnector>
            <targetReference>Update_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_is_Equal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>workOrderLineItemStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FF - Service Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workOrderLineItemStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FF - Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Closed</targetReference>
            </connector>
            <label>It is Equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Work_In_Progress</name>
        <label>Is Status Work In Progress?</label>
        <locationX>495</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Status_Work_In_Progress_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrderLineItemStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FF - Work In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_var_IsLineItemStatusEqual_Equal_True</name>
        <label>Is the var IsLineItemStatusEqual Equal True?</label>
        <locationX>482</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_the_var_IsLineItemStatusEqual_Equal_True_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsLineItemStatusEqual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Status_Equal_Completed_or_Service_Complete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Work_Order_Line_Item_Status_Equal</name>
        <label>Is Work Order Line Item Status Equal?</label>
        <locationX>519</locationX>
        <locationY>790</locationY>
        <defaultConnector>
            <targetReference>Add_False_To_Is_Equal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Work_Order_Line_Item_Status_Equal_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderLineItemLoop.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>workOrderLineItemStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_True_To_Is_Equal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>IDS - Update Work Order Status By Work Order Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDS - Update Work Order Status By Work Order Line Item</label>
    <loops>
        <name>Check_All_Work_Order_Line_Items</name>
        <label>Check All Work Order Line Items</label>
        <locationX>294</locationX>
        <locationY>522</locationY>
        <assignNextValueToReference>WorkOrderLineItemLoop</assignNextValueToReference>
        <collectionReference>WorkOrderLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Are_Work_Order_Line_Items_Equal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_the_var_IsLineItemStatusEqual_Equal_True</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Work_Order_Line_Items</name>
        <label>Get All Work Order Line Items</label>
        <locationX>297</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_All_Work_Order_Line_Items</targetReference>
        </connector>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WorkOrderLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>969</locationX>
        <locationY>277</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>workOrderLineItemStatus</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <startElementReference>Is_Status_Cancelled_or_Closed_or_Invalid</startElementReference>
    <status>Draft</status>
    <variables>
        <name>IsLineItemStatusEqual</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>workOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineItemLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>workOrderLineItemStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
