force-app/main/default/flows/IDS_Post_Message_to_Project_Chatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Message_to_Project_Chatter</name>
        <label>Post Message to Project Chatter</label>
        <locationX>872</locationX>
        <locationY>313</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>If_Order_Has_Project</name>
        <label>If Order Has Project</label>
        <locationX>152</locationX>
        <locationY>459</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Order_Has_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_From_order</targetReference>
            </connector>
            <label>Order Has Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Order_Id_Not_Null</name>
        <label>If Order Id Not Null</label>
        <locationX>155</locationX>
        <locationY>234</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Order_Id_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Id_From_Order</targetReference>
            </connector>
            <label>Order Id Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Project_Id_Not_Null</name>
        <label>If Project Id Not Null</label>
        <locationX>156</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>If_Order_Id_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Project_Id_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project</targetReference>
            </connector>
            <label>Project Id Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Project_Not_Null</name>
        <label>If Project Not Null</label>
        <locationX>620</locationX>
        <locationY>306</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Project_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Message_to_Project_Chatter</targetReference>
            </connector>
            <label>Project Found</label>
        </rules>
    </decisions>
    <interviewLabel>IDS - Post Message to Project Chatter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDS - Post Message to Project Chatter</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>412</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Project_Not_Null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputAssignments>
            <assignToReference>Project.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_From_order</name>
        <label>Get Project From order</label>
        <locationX>412</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Project_Not_Null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Project__c</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputAssignments>
            <assignToReference>Project.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Id_From_Order</name>
        <label>Get Project Id From Order</label>
        <locationX>154</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Order_Has_Project</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>Order.Project__c</assignToReference>
            <field>Project__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>If_Project_Id_Not_Null</startElementReference>
    <status>Active</status>
    <variables>
        <name>ChatterMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectIdFromOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
