force-app/main/default/flows/IDS_Populate_Project_Contacts_from_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Bill_To_Contact_Already_Exists</name>
        <label>Bill To Contact Already Exists</label>
        <locationX>907</locationX>
        <locationY>450</locationY>
        <defaultConnector>
            <targetReference>CreateBillToContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add Bill To Contact</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Add_Bill_To_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Order.BillToContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Order.Direct_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Order.BillToContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Order.Sold_to_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Order.BillToContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ship_To_Contact_Already_Exists</targetReference>
            </connector>
            <label>Do Not Add Bill To Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_project_has_contacts</name>
        <label>Check if project has contacts</label>
        <locationX>562</locationX>
        <locationY>173</locationY>
        <defaultConnector>
            <targetReference>Sold_To_Contact_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No contacts</defaultConnectorLabel>
        <rules>
            <name>Has_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectContactsList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Has contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Direct_Contact_Already_Exists</name>
        <label>Direct Contact Already Exists</label>
        <locationX>908</locationX>
        <locationY>318</locationY>
        <defaultConnector>
            <targetReference>CreateDirectContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add Direct Contact</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Add_Direct_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Order.Direct_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Order.Sold_to_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Order.Direct_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bill_To_Contact_Already_Exists</targetReference>
            </connector>
            <label>Do Not Add Direct Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ship_To_Contact_Already_Exists</name>
        <label>Ship To Contact Already Exists</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>CreateShipToContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add Ship To Contact</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Add_Ship_To_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Order.ShipToContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Order.BillToContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Order.ShipToContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Order.Sold_to_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Order.ShipToContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Order.Direct_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Order.ShipToContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Do Not Add Ship To Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sold_To_Contact_Not_Null</name>
        <label>Sold To Contact Not Null</label>
        <locationX>907</locationX>
        <locationY>189</locationY>
        <defaultConnector>
            <targetReference>Direct_Contact_Already_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Add Sold To Contact</defaultConnectorLabel>
        <rules>
            <name>Add_Sold_To_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Sold_to_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSoldToPrimary</targetReference>
            </connector>
            <label>Add Sold To Contact</label>
        </rules>
    </decisions>
    <interviewLabel>IDS - Populate Project Contacts from Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDS - Populate Project Contacts from Order</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateBillToContact</name>
        <label>CreateBillToContact</label>
        <locationX>565</locationX>
        <locationY>477</locationY>
        <connector>
            <targetReference>Ship_To_Contact_Already_Exists</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Order.BillToContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Contact__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateDirectContact</name>
        <label>CreateDirectContact</label>
        <locationX>560</locationX>
        <locationY>389</locationY>
        <connector>
            <targetReference>Bill_To_Contact_Already_Exists</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Order.Direct_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Contact__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateShipToContact</name>
        <label>CreateShipToContact</label>
        <locationX>567</locationX>
        <locationY>568</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Order.ShipToContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Contact__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateSoldToPrimary</name>
        <label>CreateSoldToPrimary</label>
        <locationX>563</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Direct_Contact_Already_Exists</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Order.Sold_to_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Contact__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>112</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Order</outputReference>
        <queriedFields>BillToContactId</queriedFields>
        <queriedFields>ShipToContactId</queriedFields>
        <queriedFields>Direct_Contact__c</queriedFields>
        <queriedFields>Sold_to_Contact__c</queriedFields>
        <queriedFields>Sales_Rep__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>256</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Contacts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputReference>Project</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Contacts</name>
        <label>Get Project Contacts</label>
        <locationX>402</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Contact</targetReference>
        </connector>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </filters>
        <object>Project_Contact__c</object>
        <outputReference>ProjectContactsList</outputReference>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Primary_Contact</name>
        <label>Primary Contact</label>
        <locationX>561</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_project_has_contacts</targetReference>
        </connector>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </filters>
        <object>Project_Contact__c</object>
        <outputReference>PrimaryContact</outputReference>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Order</startElementReference>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Contact__c</objectType>
    </variables>
    <variables>
        <name>HasPrimary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Contact__c</objectType>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>ProjectContactsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Contact__c</objectType>
    </variables>
    <variables>
        <name>projectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
