force-app/main/default/flows/IDS_Unassociate_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Order_Unassociation_to_Onwer_on_Project_Chatter</name>
        <label>Post Order Unassociation to Onwer on Project Chatter</label>
        <locationX>459</locationX>
        <locationY>206</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>if_existing_budget</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!Project.OwnerId}] the order {!Order.OrderNumber__c} was unassociated from the Project.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Order_Unassociation_to_Project_Chatter</name>
        <label>Post Order Unassociation to Project Chatter</label>
        <locationX>580</locationX>
        <locationY>247</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>if_existing_budget</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>The order {!Order.OrderNumber__c} was unassociated from the Project.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Remove_Project_and_Milestone_from_Order</name>
        <label>Remove Project and Milestone from Order</label>
        <locationX>280</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>Order.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order.Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Chatter_Decision_Owner_is_an_User</name>
        <label>Chatter Decision Owner is an User</label>
        <locationX>458</locationX>
        <locationY>348</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_an_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Order_Unassociation_to_Onwer_on_Project_Chatter</targetReference>
            </connector>
            <label>Is an User</label>
        </rules>
        <rules>
            <name>Is_Not_an_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Order_Unassociation_to_Project_Chatter</targetReference>
            </connector>
            <label>Is Not an User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_order_is_associated</name>
        <label>Check if order is associated</label>
        <locationX>87</locationX>
        <locationY>145</locationY>
        <defaultConnectorLabel>Is Not Associated</defaultConnectorLabel>
        <rules>
            <name>Is_Associated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project</targetReference>
            </connector>
            <label>Is Associated</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_existing_budget</name>
        <label>if existing budget</label>
        <locationX>814</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Remove_Tasks_From_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>if_budget_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Budget</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Budget</targetReference>
            </connector>
            <label>if budget exists</label>
        </rules>
    </decisions>
    <interviewLabel>IDS - Unassociate Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDS - Unassociate Order</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Budget</name>
        <label>Get Budget</label>
        <locationX>92</locationX>
        <locationY>482</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_Project_and_Milestone_from_Order</targetReference>
        </connector>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <object>pse__Budget__c</object>
        <outputReference>Budget</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>87</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_order_is_associated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>OrderNumber__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>88</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Project__c</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputReference>Project</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>87</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Budget</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>457</locationX>
        <locationY>480</locationY>
        <connector>
            <targetReference>Chatter_Decision_Owner_is_an_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Milestone__c</field>
            <value>
                <elementReference>Order.Milestone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Order.Project__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <startElementReference>Get_Order</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Delete_Budget</name>
        <label>Delete Budget</label>
        <locationX>814</locationX>
        <locationY>318</locationY>
        <connector>
            <targetReference>Remove_Tasks_From_Project</targetReference>
        </connector>
        <flowName>IDS_Delete_Budet</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Log</assignToReference>
            <name>LogId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Remove_Tasks_From_Project</name>
        <label>Remove Tasks From Project</label>
        <locationX>1059</locationX>
        <locationY>268</locationY>
        <flowName>Remove_Tasks_or_Hours_when_order_was_cancelled</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Budget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Budget__c</objectType>
    </variables>
    <variables>
        <name>Log</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
