force-app/main/default/flows/IDS_Order_RuleEngine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Found_project_by_Deal_Id</name>
        <label>Found project by Deal Id?</label>
        <locationX>566</locationX>
        <locationY>554</locationY>
        <defaultConnector>
            <targetReference>Dpid_rule_flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No project found</defaultConnectorLabel>
        <rules>
            <name>Project_found_dealid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldAssociate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Order_To_Project</targetReference>
            </connector>
            <label>Project found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_project_by_Dpid</name>
        <label>Found project by Dpid?</label>
        <locationX>568</locationX>
        <locationY>840</locationY>
        <defaultConnectorLabel>No project found</defaultConnectorLabel>
        <rules>
            <name>Project_found_dpid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShouldAssociate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Order_To_Project</targetReference>
            </connector>
            <label>Project found</label>
        </rules>
        <rules>
            <name>Can_Create_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>canOrderCreateProject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Project_By_Order</targetReference>
            </connector>
            <label>Can Create Project?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_project_by_PO_Number</name>
        <label>Found project by PO Number?</label>
        <locationX>568</locationX>
        <locationY>280</locationY>
        <defaultConnector>
            <targetReference>Deal_Id_rule_flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No project found</defaultConnectorLabel>
        <rules>
            <name>Project_found_ponumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldAssociate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Order_To_Project</targetReference>
            </connector>
            <label>Project found</label>
        </rules>
    </decisions>
    <description>The times are a changing and so is Rules Engine. The 3.0 version is smaller, faster and much easier to read. Without logs. With IsAssociation validation</description>
    <interviewLabel>IDS - Order Rule Engine {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDS - Order Rule Engine 3.0</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_By_Id</name>
        <label>Get Order By Id</label>
        <locationX>564</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PO_Number_rule_flow</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>orderDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>customerNumber</assignToReference>
            <field>CustomerNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>dpId</assignToReference>
            <field>DPID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>dealId</assignToReference>
            <field>Deal_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ponumber</assignToReference>
            <field>PoNumber</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Order_By_Id</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Associate_Order_To_Project</name>
        <label>Associate Order To Project</label>
        <locationX>1233</locationX>
        <locationY>615</locationY>
        <flowName>IDS_Associate_Project_to_Order</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NeedsApproval</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsProjectAssociation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>orderId</assignToReference>
            <name>OrderId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Project.Id</assignToReference>
            <name>ProjectId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Project_By_Order</name>
        <label>Create Project By Order</label>
        <locationX>576</locationX>
        <locationY>1061</locationY>
        <flowName>Create_Project_By_Order</flowName>
        <inputAssignments>
            <name>orderid</name>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Deal_Id_rule_flow</name>
        <label>Deal Id rule flow</label>
        <locationX>568</locationX>
        <locationY>427</locationY>
        <connector>
            <targetReference>Found_project_by_Deal_Id</targetReference>
        </connector>
        <flowName>IDS_Deal_Id_Rule_Flow</flowName>
        <inputAssignments>
            <name>Order_Id</name>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ShouldAssociate</assignToReference>
            <name>BeAssociation</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Project.Id</assignToReference>
            <name>ProjectIdToAssociation</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Dpid_rule_flow</name>
        <label>Dpid rule flow</label>
        <locationX>570</locationX>
        <locationY>707</locationY>
        <connector>
            <targetReference>Found_project_by_Dpid</targetReference>
        </connector>
        <flowName>IDS_DPID_Rule_Flow</flowName>
        <inputAssignments>
            <name>Order_Id</name>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ShouldAssociate</assignToReference>
            <name>BeAssociation</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Project.Id</assignToReference>
            <name>ProjectIdToAssociation</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PO_Number_rule_flow</name>
        <label>PO Number rule flow</label>
        <locationX>566</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Found_project_by_PO_Number</targetReference>
        </connector>
        <flowName>IDS_PO_Number_Rule_Flow</flowName>
        <inputAssignments>
            <name>Order_Id</name>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ShouldAssociate</assignToReference>
            <name>ShouldAssociate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Project.Id</assignToReference>
            <name>ProjectIdAssociate</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>canOrderCreateProject</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>customerNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dealId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ponumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>ShouldAssociate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
