force-app/main/default/flows/IDS_Associate_Imported_Order_to_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invalid_federal_classification_To_Owner</name>
        <label>Invalid federal classification To Owner</label>
        <locationX>291</locationX>
        <locationY>418</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Order_Import_Queue_Success</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Error_Federal_Classification</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>832</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Order_Import_Queue_Success</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Federal_Order_Validation</name>
        <label>Federal Order Validation</label>
        <locationX>44</locationX>
        <locationY>306</locationY>
        <defaultConnector>
            <targetReference>Invalid_federal_classification_To_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_same_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImportedOrderIsFederal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProjectToAssociateIsFederal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sibling_Orders</targetReference>
            </connector>
            <label>Has same type</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Sibling_has_Same_Currency</name>
        <label>If Sibling has Same Currency</label>
        <locationX>646</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>For_All_Siblings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Same_Currency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sibling.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OrderCurrency</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Order_to_Project</targetReference>
            </connector>
            <label>Same Currency</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Siblings</name>
        <label>Validate Siblings</label>
        <locationX>288</locationX>
        <locationY>42</locationY>
        <defaultConnector>
            <targetReference>Associate_Order_to_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Siblings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Siblings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_All_Siblings</targetReference>
            </connector>
            <label>Has Siblings</label>
        </rules>
    </decisions>
    <description>Added federal order validation</description>
    <formulas>
        <name>ChatterMessage</name>
        <dataType>String</dataType>
        <expression>{!Notify_Owner} &amp; &quot;The order &quot; &amp;  {!ImportedOrder.OrderNumber} &amp; &quot; was manually imported but its currency does not match the currency of the project. It has been sent to the Unnassociated Queue.&quot;</expression>
    </formulas>
    <formulas>
        <name>Error_Federal_Classification</name>
        <dataType>String</dataType>
        <expression>{!Notify_Owner} &amp; &quot; The order &quot;&amp;{!ImportedOrder.OrderNumber} &amp;&quot; was manually imported but does not match to the federal classification of the project. The order is available on the Unassociated list.&quot;</expression>
    </formulas>
    <formulas>
        <name>ImportedOrderIsFederal</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(UPPER({!ImportedOrder.OCI_Order_Type__c}), &quot;FED&quot;) || CONTAINS(UPPER({!ImportedOrder.Sales_Channel__c}), &quot;FED&quot;)</expression>
    </formulas>
    <formulas>
        <name>Notify_Owner</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!UserId}),NULL, &quot;@[&quot; &amp; {!UserId} &amp; &quot;] &quot;)</expression>
    </formulas>
    <formulas>
        <name>ProjectToAssociateIsFederal</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!ProjectToAssociate.Project_Visibility__c}, &quot;Federal&quot;)</expression>
    </formulas>
    <interviewLabel>IDS - Associate Imported Order to Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDS - Associate Imported Order to Project</label>
    <loops>
        <name>For_All_Siblings</name>
        <label>For All Siblings</label>
        <locationX>559</locationX>
        <locationY>42</locationY>
        <assignNextValueToReference>Sibling</assignNextValueToReference>
        <collectionReference>Siblings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Sibling_has_Same_Currency</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Post_to_Chatter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>45</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>ImportedOrder.OCI_Order_Type__c</assignToReference>
            <field>OCI_Order_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ImportedOrder.OrderNumber</assignToReference>
            <field>OrderNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ImportedOrder.Project__c</assignToReference>
            <field>Project__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ImportedOrder.Sales_Channel__c</assignToReference>
            <field>Sales_Channel__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>45</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputAssignments>
            <assignToReference>ProjectId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Project.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Project.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectToAssociate.Project_Visibility__c</assignToReference>
            <field>Project_Visibility__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Sibling_Orders</name>
        <label>Get Sibling Orders</label>
        <locationX>288</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Siblings</targetReference>
        </connector>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Siblings</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>45</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Federal_Order_Validation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Import_Queue_Success</name>
        <label>Update Order Import Queue Success</label>
        <locationX>647</locationX>
        <locationY>418</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderImportId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ProcessedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Import_Queue__c</object>
    </recordUpdates>
    <startElementReference>Get_Order</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Associate_Order_to_Project</name>
        <label>Associate Order to Project</label>
        <locationX>435</locationX>
        <locationY>204</locationY>
        <connector>
            <targetReference>Update_Order_Import_Queue_Success</targetReference>
        </connector>
        <flowName>IDS_Associate_Project_to_Order</flowName>
        <inputAssignments>
            <name>IsProjectAssociation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NeedsApproval</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>InvalidFederalClassification</name>
        <text>@[{!Project.OwnerId}], the order {!ImportedOrder.OrderNumber} was manually imported but the order does not match to the federal classification of the project. The order is available on the Unassociated list.</text>
    </textTemplates>
    <variables>
        <name>ImportedOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderCurrency</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderImportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectSupportAnalyst</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectToAssociate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>Sibling</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Siblings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
