force-app/main/default/flows/Notify_Case_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Owner</name>
        <label>Notify Owner</label>
        <locationX>437</locationX>
        <locationY>249</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>MatchedCase.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hello @{!User.Name}, a task has been created on Case #  {!MatchedCase.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItemId.Id</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <constants>
        <name>UserId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_related_to_Case</name>
        <label>Is related to Case</label>
        <locationX>430</locationX>
        <locationY>117</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchedCase.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>UserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseOwner</targetReference>
            </connector>
            <label>Case Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOwnerFound</name>
        <label>IsOwnerFound</label>
        <locationX>723</locationX>
        <locationY>241</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseOwner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Owner</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Notify Case Owner on task creation through Delta</description>
    <interviewLabel>{!Task.Id}</interviewLabel>
    <label>Notify Case Owner</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CaseOwner</name>
        <label>CaseOwner</label>
        <locationX>719</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsOwnerFound</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchedCase.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>User</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Task_Parent_Case</name>
        <label>Task Parent Case</label>
        <locationX>163</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_related_to_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>MatchedCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <startElementReference>Task_Parent_Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>FeedItemId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>MatchedCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
