force-app/main/default/flows/Order_Classification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Order_Classification</name>
        <label>Order Classification</label>
        <locationX>545</locationX>
        <locationY>333</locationY>
        <actionName>OrderClassification</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Order_Rule_Engine</targetReference>
        </connector>
        <inputParameters>
            <name>orderIds</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>shouldCreateProject</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Validate_Country_and_State</name>
        <label>Validate Country and State</label>
        <locationX>542</locationX>
        <locationY>189</locationY>
        <actionName>ValidateCountryAndState</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Order_Classification</targetReference>
        </connector>
        <inputParameters>
            <name>orderIds</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>If_Project_Id_not_null</name>
        <label>If Order Was Requested Manually</label>
        <locationX>170</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Validate_Country_and_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order was not requested manually</defaultConnectorLabel>
        <rules>
            <name>Order_was_requested_manually</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderImportQueue.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Imported_Order</targetReference>
            </connector>
            <label>Order was requested manually</label>
        </rules>
    </decisions>
    <description>Added the code to validate the State and Country</description>
    <interviewLabel>Order Classification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Classification v2</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Import_Queue</name>
        <label>Get Order Import Queue</label>
        <locationX>168</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Project_Id_not_null</targetReference>
        </connector>
        <filters>
            <field>BUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.BUID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.OrderNumber__c</elementReference>
            </value>
        </filters>
        <object>Order_Import_Queue__c</object>
        <outputAssignments>
            <assignToReference>OrderImportQueue.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderImportQueue.Project__c</assignToReference>
            <field>Project__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Order_Import_Queue</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Associate_Imported_Order</name>
        <label>Associate Imported Order</label>
        <locationX>168</locationX>
        <locationY>314</locationY>
        <flowName>IDS_Associate_Imported_Order_to_Project</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderImportId</name>
            <value>
                <elementReference>OrderImportQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>OrderImportQueue.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderCurrency</name>
            <value>
                <elementReference>Order.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Order_Rule_Engine</name>
        <label>Order Rule Engine</label>
        <locationX>546</locationX>
        <locationY>474</locationY>
        <flowName>IDS_Order_RuleEngine</flowName>
        <inputAssignments>
            <name>orderId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>canOrderCreateProject</name>
            <value>
                <elementReference>shouldCreateProject</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Order.Id</assignToReference>
            <name>orderId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderImportQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Import_Queue__c</objectType>
    </variables>
    <variables>
        <name>shouldCreateProject</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
