force-app/main/default/flows/ParentCaseOrigin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>IsItFound</name>
        <label>IsItFound</label>
        <locationX>182</locationX>
        <locationY>171</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTask</targetReference>
            </connector>
            <label>CaseFound</label>
        </rules>
    </decisions>
    <interviewLabel>{!Task.Id}</interviewLabel>
    <label>ParentCaseOrigin</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ParentCase</name>
        <label>ParentCase</label>
        <locationX>183</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsItFound</targetReference>
        </connector>
        <filters>
            <field>Case_Source__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>OLS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>MatchedCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Origin</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTask</name>
        <label>UpdateTask</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchedCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentCaseOrigin__c</field>
            <value>
                <elementReference>MatchedCase.Origin</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>ParentCase</startElementReference>
    <status>Active</status>
    <variables>
        <name>MatchedCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
