force-app/main/default/flows/Part_Commodity_Diagnostic_Teir.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Part_Commodity_Assignment</name>
        <label>Part Commodity Assignment</label>
        <locationX>360</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>PartCommodityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstPart.PartCommodity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Parts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Part_Commodity_Assignment_0</name>
        <label>Part Commodity Assignment</label>
        <locationX>583</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>Teir_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommoditySObject.Teir1_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tier_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommoditySObject.Teir2_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResaonCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommoditySObject.Reason_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Commodities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Null_or_Not</name>
        <label>check  Null or Not</label>
        <locationX>63</locationX>
        <locationY>476</locationY>
        <defaultConnectorLabel>Is Null_v1</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Null_v1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstPart.PartCommodity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Part_Commodity_Assignment</targetReference>
            </connector>
            <label>Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Null_or_Not_0</name>
        <label>check  Null or Not</label>
        <locationX>823</locationX>
        <locationY>210</locationY>
        <defaultConnectorLabel>Is Null_v1</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Null_v1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CommoditySObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Part_Commodity_Assignment_0</targetReference>
            </connector>
            <label>Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Part_Commodity_Null_Check</name>
        <label>Part Commodity Null Check</label>
        <locationX>594</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Part Commodity is NULL</defaultConnectorLabel>
        <rules>
            <name>PartCommodity_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartCommodityName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commodity_Teir_LookUp</targetReference>
            </connector>
            <label>PartCommodity Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>WorkOrderIdNullCheck</name>
        <label>WorkOrderId Null Check</label>
        <locationX>240</locationX>
        <locationY>131</locationY>
        <defaultConnectorLabel>is Null</defaultConnectorLabel>
        <rules>
            <name>is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrderId_ip</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_Up_on_Parts</targetReference>
            </connector>
            <label>is Not Null</label>
        </rules>
    </decisions>
    <interviewLabel>Part Commodity Diagnostic Teir {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Part Commodity Diagnostic Teir</label>
    <loops>
        <name>Loop_Thru_Commodities</name>
        <label>Loop Thru Commodities</label>
        <locationX>631</locationX>
        <locationY>59</locationY>
        <assignNextValueToReference>CommoditySObject</assignNextValueToReference>
        <collectionReference>CommodityTierList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Null_or_Not_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Work_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Parts</name>
        <label>Loop Thru Parts</label>
        <locationX>239</locationX>
        <locationY>355</locationY>
        <assignNextValueToReference>FirstPart</assignNextValueToReference>
        <collectionReference>PartsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Null_or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Part_Commodity_Null_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Commodity_Teir_LookUp</name>
        <label>Commodity Teir LookUp</label>
        <locationX>394</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Commodities</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartCommodityName</elementReference>
            </value>
        </filters>
        <object>Commodity_Diagnostic_Teir_Reason_Code__mdt</object>
        <outputReference>CommodityTierList</outputReference>
        <queriedFields>Label</queriedFields>
        <queriedFields>Teir1_Value__c</queriedFields>
        <queriedFields>Teir2_Value__c</queriedFields>
        <queriedFields>Reason_Code__c</queriedFields>
        <sortField>Label</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_on_Parts</name>
        <label>Look Up on Parts</label>
        <locationX>244</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Parts</targetReference>
        </connector>
        <filters>
            <field>Selected_By_user__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId_ip</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>PartsList</outputReference>
        <queriedFields>PartCommodity__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Selected_By_user__c</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <sortField>PartCommodity__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>848</locationX>
        <locationY>61</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId_ip</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Diagnostic_Tier_Type__c</field>
            <value>
                <stringValue>Commodity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISPDiagnosticTier1__c</field>
            <value>
                <elementReference>Teir_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISPDiagnosticTier2__c</field>
            <value>
                <elementReference>Tier_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISPDiagnosticTier3__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISPDispatchReasonCode__c</field>
            <value>
                <elementReference>ResaonCode</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <startElementReference>WorkOrderIdNullCheck</startElementReference>
    <status>Active</status>
    <variables>
        <name>CommoditySObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commodity_Diagnostic_Teir_Reason_Code__mdt</objectType>
    </variables>
    <variables>
        <name>CommodityTierList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commodity_Diagnostic_Teir_Reason_Code__mdt</objectType>
    </variables>
    <variables>
        <name>FirstPart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>PartCommodityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>PartsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>ResaonCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Teir_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>Tier_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderId_ip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
