force-app/main/default/flows/Perform_Case_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Apex_class_method_to_invoke_business_hours_api</name>
        <label>Call Apex class method to invoke business hours api</label>
        <locationX>461</locationX>
        <locationY>4918</locationY>
        <actionName>CheckAvailabilityUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>To_Check_Multiple_Shifts_or_Not</targetReference>
        </connector>
        <inputParameters>
            <name>bhours</name>
            <value>
                <elementReference>BusinessHoursRecord</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>WithInBusinessHours</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>To_Check_Shift_Two_is_In_or_Out_of_Hours</name>
        <label>To Check Shift Two is In or Out of Hours</label>
        <locationX>462</locationX>
        <locationY>5147</locationY>
        <actionName>CheckAvailabilityUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Queue_is_within_business_hours</targetReference>
        </connector>
        <inputParameters>
            <name>bhours</name>
            <value>
                <elementReference>BusinessHoursRecordShiftTwo</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ShiftTwoInorOut</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_DefaultSource_Variable_to_All</name>
        <label>Assign DefaultSource Variable to All</label>
        <locationX>99</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>DefaultSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_records_with_Source_equal_to_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_BUID_Field</name>
        <label>Assign empty string value to query Routing Rules Record BUID Field</label>
        <locationX>950</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>RR_BUID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Region_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_Class_Field</name>
        <label>Assign empty string value to query Routing Rules Record Class Field</label>
        <locationX>994</locationX>
        <locationY>1732</locationY>
        <assignmentItems>
            <assignToReference>RR_Class</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SubClass_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_Company_Number_Field</name>
        <label>Assign empty string value to query Routing Rules Record Company Number Field</label>
        <locationX>968</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>RR_CompanyNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_LOB_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_Extra1_Field</name>
        <label>Assign empty string value to query Routing Rules Record Extra1 Field</label>
        <locationX>1078</locationX>
        <locationY>3957</locationY>
        <assignmentItems>
            <assignToReference>RR_Extra1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Extra2_field_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_Extra2_Field</name>
        <label>Assign empty string value to query Routing Rules Record Extra2 Field</label>
        <locationX>1072</locationX>
        <locationY>4214</locationY>
        <assignmentItems>
            <assignToReference>RR_Extra2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Source_for_filtering_routing_rule_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_Language_Field</name>
        <label>Assign empty string value to query Routing Rules Record Language Field</label>
        <locationX>1012</locationX>
        <locationY>2429</locationY>
        <assignmentItems>
            <assignToReference>RR_Language</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Segment_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_LOB_Field</name>
        <label>Assign empty string value to query Routing Rules Record LOB Field</label>
        <locationX>982</locationX>
        <locationY>1480</locationY>
        <assignmentItems>
            <assignToReference>RR_LOB</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Class_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_Local_Channel_Field</name>
        <label>Assign empty string value to query Routing Rules Record Local Channel Field</label>
        <locationX>1050</locationX>
        <locationY>3712</locationY>
        <assignmentItems>
            <assignToReference>RR_LocalChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Extra1_field_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_Premier_Type_Field</name>
        <label>Assign empty string value to query Routing Rules Record Premier Type Field</label>
        <locationX>1003</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>RR_PremierType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Language_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_Product_Field</name>
        <label>Assign empty string value to query Routing Rules Record Product Field</label>
        <locationX>1040</locationX>
        <locationY>3195</locationY>
        <assignmentItems>
            <assignToReference>RR_Product</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Local_Channel_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_Region_Field</name>
        <label>Assign empty string value to query Routing Rules Record Region Field</label>
        <locationX>955</locationX>
        <locationY>749</locationY>
        <assignmentItems>
            <assignToReference>RR_Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Company_Number_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_Segment_Field</name>
        <label>Assign empty string value to query Routing Rules Record Segment Field</label>
        <locationX>1020</locationX>
        <locationY>2703</locationY>
        <assignmentItems>
            <assignToReference>RR_Segment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SLC_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_SLC_Field</name>
        <label>Assign empty string value to query Routing Rules Record SLC Field</label>
        <locationX>1030</locationX>
        <locationY>2931</locationY>
        <assignmentItems>
            <assignToReference>RR_SLC</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Product_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_SubClass_Field</name>
        <label>Assign empty string value to query Routing Rules Record SubClass Field</label>
        <locationX>1005</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>RR_SubClass</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Premier_Type_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OOH_Queue_Name_to_RR_QueueName_Variable</name>
        <label>Assign OOH Queue Name to RR_QueueName Variable</label>
        <locationX>1267</locationX>
        <locationY>5166</locationY>
        <assignmentItems>
            <assignToReference>RR_QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RR_OOH_QueueName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_Queue_Id_using_Queue_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Name_to_RR_QueueName_Variable</name>
        <label>Assign Queue Name to RR_QueueName Variable</label>
        <locationX>763</locationX>
        <locationY>5115</locationY>
        <assignmentItems>
            <assignToReference>RR_QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RR_QueueName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_Queue_Id_using_Queue_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Source_as_All</name>
        <label>Assign Source as All</label>
        <locationX>643</locationX>
        <locationY>4466</locationY>
        <assignmentItems>
            <assignToReference>RR_Source</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_for_Routing_Rule_record_that_meets_the_criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Source_as_Case_Source</name>
        <label>Assign Source as Case Source</label>
        <locationX>1072</locationX>
        <locationY>4468</locationY>
        <assignmentItems>
            <assignToReference>RR_Source</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Case_Source__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_for_Routing_Rule_record_that_meets_the_criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_System_Type_DRM_to_LOB</name>
        <label>Assign System Type DRM to LOB</label>
        <locationX>493</locationX>
        <locationY>1481</locationY>
        <assignmentItems>
            <assignToReference>RR_LOB</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.System_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Class_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Case_Record_to_query_Routing_Rules</name>
        <label>Assign value from Case Record to query Routing Rules</label>
        <locationX>620</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>RR_BUID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.BUID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Region_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Class_Field</name>
        <label>Assign value from Case Record to query Routing Rules Record Class Field</label>
        <locationX>610</locationX>
        <locationY>1720</locationY>
        <assignmentItems>
            <assignToReference>RR_Class</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Class__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SubClass_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Company_Number_Field</name>
        <label>Assign value from Case Record to query Routing Rules Record Company Number Field</label>
        <locationX>611</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>RR_CompanyNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Customer_Reference_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_LOB_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Extra1_Field</name>
        <label>Assign value from Case Record to query Routing Rules Record Extra1 Field</label>
        <locationX>624</locationX>
        <locationY>3951</locationY>
        <assignmentItems>
            <assignToReference>RR_Extra1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Extra1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Extra2_field_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Extra2_Field</name>
        <label>Assign value from Case Record to query Routing Rules Record Extra2 Field</label>
        <locationX>624</locationX>
        <locationY>4204</locationY>
        <assignmentItems>
            <assignToReference>RR_Extra2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Extra2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Source_for_filtering_routing_rule_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Language_Field</name>
        <label>Assign value from Case Record to query Routing Rules Record Language Field</label>
        <locationX>621</locationX>
        <locationY>2433</locationY>
        <assignmentItems>
            <assignToReference>RR_Language</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Segment_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_LOB_Field</name>
        <label>Assign value from Case Record to query Routing Rules Record LOB Field</label>
        <locationX>767</locationX>
        <locationY>1472</locationY>
        <assignmentItems>
            <assignToReference>RR_LOB</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.LOB__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Class_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Local_Channel_Field</name>
        <label>Assign value from Case Record to query Routing Rules Record Local Channel Field</label>
        <locationX>640</locationX>
        <locationY>3714</locationY>
        <assignmentItems>
            <assignToReference>RR_LocalChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Local_Channel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Extra1_field_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Premier_Type_Field</name>
        <label>Assign value from Case Record to query Routing Rules Record Premier Type Field</label>
        <locationX>634</locationX>
        <locationY>2199</locationY>
        <assignmentItems>
            <assignToReference>RR_PremierType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Premier_Type_for_Routing_Rules__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Language_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Product_Field</name>
        <label>Assign value from Case Record to query Routing Rules Record Product Field</label>
        <locationX>644</locationX>
        <locationY>3189</locationY>
        <assignmentItems>
            <assignToReference>RR_Product</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Product_Line__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Local_Channel_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Region_Field</name>
        <label>Assign value from Case Record to query Routing Rules Record Region Field</label>
        <locationX>614</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>RR_Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Region__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Company_Number_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Segment_Field</name>
        <label>Assign value from Case Record to query Routing Rules Record Segment Field</label>
        <locationX>616</locationX>
        <locationY>2708</locationY>
        <assignmentItems>
            <assignToReference>RR_Segment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Segment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SLC_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_SLC_Field</name>
        <label>Assign value from Case Record to query Routing Rules Record SLC Field</label>
        <locationX>634</locationX>
        <locationY>2926</locationY>
        <assignmentItems>
            <assignToReference>RR_SLC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.SLC__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Product_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_SubClass_Field</name>
        <label>Assign value from Case Record to query Routing Rules Record SubClass Field</label>
        <locationX>630</locationX>
        <locationY>1950</locationY>
        <assignmentItems>
            <assignToReference>RR_SubClass</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.SubClass__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Premier_Type_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Value_to_IsHoliday_Flow_Varaible</name>
        <label>Assigning Value to IsHoliday Flow Varaible</label>
        <locationX>1099</locationX>
        <locationY>4640</locationY>
        <assignmentItems>
            <assignToReference>IsHoliday</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsHolidayOrNot</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AllSource</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </constants>
    <constants>
        <name>Web2Case</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Web2Case</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Assign_Source_for_filtering_routing_rule_record</name>
        <label>Assign Source for filtering routing rule record</label>
        <locationX>842</locationX>
        <locationY>4328</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Assign_Source_equal_to_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefaultSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AllSource</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Source_as_All</targetReference>
            </connector>
            <label>Assign Source equal to All</label>
        </rules>
        <rules>
            <name>Assign_Source_equal_to_Case_Source</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefaultSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AllSource</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Source_as_Case_Source</targetReference>
            </connector>
            <label>Assign Source equal to Case Source</label>
        </rules>
    </decisions>
    <decisions>
        <name>BusinessHoursRecordsAvaiableOrNot</name>
        <label>BusinessHoursRecordsAvaiableOrNot</label>
        <locationX>1364</locationX>
        <locationY>4748</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CMT_BusHrs_RecName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_Hour_record</targetReference>
            </connector>
            <label>Available</label>
        </rules>
        <rules>
            <name>NotAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CMT_BusHrs_RecName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OOH_Queue_Name_to_RR_QueueName_Variable</targetReference>
            </connector>
            <label>NotAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_BUID_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check BUID for Search Criteria used to query Routing Rule records</label>
        <locationX>792</locationX>
        <locationY>282</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BUID_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.BUID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Case_Record_to_query_Routing_Rules</targetReference>
            </connector>
            <label>BUID Checked</label>
        </rules>
        <rules>
            <name>BUID_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.BUID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_BUID_Field</targetReference>
            </connector>
            <label>BUID Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Class_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check Class for Search Criteria used to query Routing Rule records</label>
        <locationX>802</locationX>
        <locationY>1588</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Class_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Class_Field</targetReference>
            </connector>
            <label>Class Checked</label>
        </rules>
        <rules>
            <name>Class_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_Class_Field</targetReference>
            </connector>
            <label>Class Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Company_Number_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check Company Number for Search Criteria used to query Routing Rule records</label>
        <locationX>787</locationX>
        <locationY>850</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Company_Number_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Company_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Company_Number_Field</targetReference>
            </connector>
            <label>Company Number Checked</label>
        </rules>
        <rules>
            <name>company_Number_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Company_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_Company_Number_Field</targetReference>
            </connector>
            <label>company Number Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Extra1_field_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check Extra1 field for Search Criteria used to query Routing Rule records</label>
        <locationX>852</locationX>
        <locationY>3823</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Extra1_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Extra1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Extra1_Field</targetReference>
            </connector>
            <label>Extra1 Checked</label>
        </rules>
        <rules>
            <name>Extra1_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Extra1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_Extra1_Field</targetReference>
            </connector>
            <label>Extra1 Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Extra2_field_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check Extra2 field for Search Criteria used to query Routing Rule records</label>
        <locationX>858</locationX>
        <locationY>4071</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Extra2_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Extra2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Extra2_Field</targetReference>
            </connector>
            <label>Extra2 Checked</label>
        </rules>
        <rules>
            <name>Extra2_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Extra2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_Extra2_Field</targetReference>
            </connector>
            <label>Extra2 Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Queue_is_within_business_hours</name>
        <label>Check if Queue is within business hours</label>
        <locationX>905</locationX>
        <locationY>4917</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Within_Business_Hours</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>WithInBusinessHours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShiftTwoInorOut</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Queue_Name_to_RR_QueueName_Variable</targetReference>
            </connector>
            <label>Within Business Hours</label>
        </rules>
        <rules>
            <name>Not_within_business_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WithInBusinessHours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShiftTwoInorOut</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OOH_Queue_Name_to_RR_QueueName_Variable</targetReference>
            </connector>
            <label>Not within business hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Queue_Name_is_found</name>
        <label>Check if Queue Name is found</label>
        <locationX>285</locationX>
        <locationY>4758</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Queue_Name_is_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RR_QueueName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ToCheckTodayIsHolidayOrNot</targetReference>
            </connector>
            <label>Queue Name is found</label>
        </rules>
        <rules>
            <name>Queue_Name_is_Null_and_Source_not_equal_to_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RR_QueueName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DefaultSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AllSource</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_Priority_Mapping_Records</targetReference>
            </connector>
            <label>Queue Name is Null and Source not equal to All</label>
        </rules>
        <rules>
            <name>Queue_Name_Not_found_for_Source_eqaul_to_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RR_QueueName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DefaultSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AllSource</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_records_with_Source_equal_to_All</targetReference>
            </connector>
            <label>Queue Name Not found for Source eqaul to All</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Source_is_DRM</name>
        <label>Check if Source is DRM</label>
        <locationX>602</locationX>
        <locationY>1342</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Source_is_DRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Case_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_System_Type_DRM_to_LOB</targetReference>
            </connector>
            <label>Source is DRM</label>
        </rules>
        <rules>
            <name>Source_is_not_DRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Case_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_LOB_Field</targetReference>
            </connector>
            <label>Source is not DRM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_SR_Source_is_onboarded_to_Priority_Mapping</name>
        <label>Check if SR Source is onboarded to Priority Mapping</label>
        <locationX>93</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Execute_logic_for_Priority_based_Routing_rules</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SourceOnboarded</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_for_Priority_Mapping_records_for_given_SR_Source</targetReference>
            </connector>
            <label>Execute logic for Priority based Routing rules</label>
        </rules>
        <rules>
            <name>Execute_logic_for_Legacy_Routing_rules</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SourceOnboarded</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Execute logic for Legacy Routing rules</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Language_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check Language for Search Criteria used to query Routing Rule records</label>
        <locationX>829</locationX>
        <locationY>2320</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Language_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Language_Field</targetReference>
            </connector>
            <label>Language Checked</label>
        </rules>
        <rules>
            <name>Language_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_Language_Field</targetReference>
            </connector>
            <label>Language Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_LOB_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check LOB for Search Criteria used to query Routing Rule records</label>
        <locationX>783</locationX>
        <locationY>1161</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>LOB_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Source_is_DRM</targetReference>
            </connector>
            <label>LOB Checked</label>
        </rules>
        <rules>
            <name>LOB_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_LOB_Field</targetReference>
            </connector>
            <label>LOB Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Local_Channel_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check Local Channel for Search Criteria used to query Routing Rule records</label>
        <locationX>849</locationX>
        <locationY>3482</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Local_Channel_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Local_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Local_Channel_Field</targetReference>
            </connector>
            <label>Local Channel Checked</label>
        </rules>
        <rules>
            <name>Local_Channel_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Local_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_Local_Channel_Field</targetReference>
            </connector>
            <label>Local Channel Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Premier_Type_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check Premier Type for Search Criteria used to query Routing Rule records</label>
        <locationX>805</locationX>
        <locationY>2033</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Premier_Type_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Premier_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Premier_Type_Field</targetReference>
            </connector>
            <label>Premier Type Checked</label>
        </rules>
        <rules>
            <name>Premier_Type_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Premier_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_Premier_Type_Field</targetReference>
            </connector>
            <label>Premier Type Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check Product for Search Criteria used to query Routing Rule records</label>
        <locationX>836</locationX>
        <locationY>3055</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Product_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Product_Field</targetReference>
            </connector>
            <label>Product Checked</label>
        </rules>
        <rules>
            <name>Product_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_Product_Field</targetReference>
            </connector>
            <label>Product Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Region_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check Region for Search Criteria used to query Routing Rule records</label>
        <locationX>782</locationX>
        <locationY>598</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Region_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Region_Field</targetReference>
            </connector>
            <label>Region Checked</label>
        </rules>
        <rules>
            <name>Region_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_Region_Field</targetReference>
            </connector>
            <label>Region Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Segment_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check Segment for Search Criteria used to query Routing Rule records</label>
        <locationX>828</locationX>
        <locationY>2558</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Segment_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_Segment_Field</targetReference>
            </connector>
            <label>Segment Checked</label>
        </rules>
        <rules>
            <name>Segment_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_Segment_Field</targetReference>
            </connector>
            <label>Segment Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SLC_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check SLC for Search Criteria used to query Routing Rule records</label>
        <locationX>826</locationX>
        <locationY>2808</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SLC_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.SLC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_SLC_Field</targetReference>
            </connector>
            <label>SLC Checked</label>
        </rules>
        <rules>
            <name>SLC_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.SLC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_SLC_Field</targetReference>
            </connector>
            <label>SLC Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SubClass_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check SubClass for Search Criteria used to query Routing Rule records</label>
        <locationX>807</locationX>
        <locationY>1815</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SubClass_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.SubClass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Case_Record_to_query_Routing_Rules_Record_SubClass_Field</targetReference>
            </connector>
            <label>SubClass Checked</label>
        </rules>
        <rules>
            <name>SubClass_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.SubClass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_SubClass_Field</targetReference>
            </connector>
            <label>SubClass Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Hours_Record_Present_Or_Not</name>
        <label>Exception Hours Record Present Or Not</label>
        <locationX>792</locationX>
        <locationY>4638</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Record_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExceptionHoursRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Value_to_IsHoliday_Flow_Varaible</targetReference>
            </connector>
            <label>Record Available</label>
        </rules>
        <rules>
            <name>Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExceptionHoursRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsHolidayOrNot</targetReference>
            </connector>
            <label>Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsHolidayOrNot</name>
        <label>IsHolidayOrNot</label>
        <locationX>884</locationX>
        <locationY>4756</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Holiday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsHoliday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OOH_Queue_Name_to_RR_QueueName_Variable</targetReference>
            </connector>
            <label>Holiday</label>
        </rules>
        <rules>
            <name>WorkingDay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsHoliday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_Business_Hours_record_using_Queue_Name</targetReference>
            </connector>
            <label>WorkingDay</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_Check_Multiple_Shifts_or_Not</name>
        <label>To Check Multiple Shifts or Not</label>
        <locationX>677</locationX>
        <locationY>4916</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>One_Shift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WithInBusinessHours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Queue_is_within_business_hours</targetReference>
            </connector>
            <label>One Shift</label>
        </rules>
        <rules>
            <name>Two_Shifts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShiftTwo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WithInBusinessHours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Second_Shift_Business_Hours</targetReference>
            </connector>
            <label>Two Shifts</label>
        </rules>
        <rules>
            <name>Only_1_shift_and_OOBH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShiftTwo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WithInBusinessHours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OOH_Queue_Name_to_RR_QueueName_Variable</targetReference>
            </connector>
            <label>Only 1 shift and OOBH</label>
        </rules>
    </decisions>
    <description>Flow created to execute the Case Routing logic</description>
    <interviewLabel>Perform Case Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Perform Case Routing</label>
    <loops>
        <name>Iterate_through_Priority_Mapping_Records</name>
        <label>Iterate through Priority Mapping Records</label>
        <locationX>365</locationX>
        <locationY>273</locationY>
        <assignNextValueToReference>PriorityMappingRecord</assignNextValueToReference>
        <collectionReference>PriorityMappingRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_BUID_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Priority_Mapping_object_for_All_Source_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_records_with_Source_equal_to_All</name>
        <label>Loop through records with Source equal to All</label>
        <locationX>102</locationX>
        <locationY>716</locationY>
        <assignNextValueToReference>PriorityMappingRecord</assignNextValueToReference>
        <collectionReference>PriorityMappingRecordsAllSource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_BUID_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Priority_Mapping_object_for_All_Source_records</name>
        <label>Check Priority Mapping object for All Source records</label>
        <locationX>99</locationX>
        <locationY>471</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_DefaultSource_Variable_to_All</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Rule_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web2Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AllSource</elementReference>
            </value>
        </filters>
        <object>Priority_Mapping__c</object>
        <outputReference>PriorityMappingRecordsAllSource</outputReference>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>Priority__c</queriedFields>
        <queriedFields>BUID__c</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <queriedFields>Company_Number__c</queriedFields>
        <queriedFields>System_Type_DRM__c</queriedFields>
        <queriedFields>Line_of_Business__c</queriedFields>
        <queriedFields>Class__c</queriedFields>
        <queriedFields>SubClass__c</queriedFields>
        <queriedFields>Premier_Type__c</queriedFields>
        <queriedFields>Language__c</queriedFields>
        <queriedFields>Segment__c</queriedFields>
        <queriedFields>SLC__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>OOW__c</queriedFields>
        <queriedFields>Local_Channel__c</queriedFields>
        <queriedFields>Extra1__c</queriedFields>
        <queriedFields>Extra2__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Priority__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Hour_record</name>
        <label>Get Business Hour record</label>
        <locationX>276</locationX>
        <locationY>4878</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Apex_class_method_to_invoke_business_hours_api</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CMT_BusHrs_RecName</elementReference>
            </value>
        </filters>
        <object>BusinessHours</object>
        <outputReference>BusinessHoursRecord</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>TimeZoneSidKey</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Business_Hours_record_using_Queue_Name</name>
        <label>Get the Business Hours record using Queue Name</label>
        <locationX>1164</locationX>
        <locationY>4748</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BusinessHoursRecordsAvaiableOrNot</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_QueueName</elementReference>
            </value>
        </filters>
        <object>MapQueueBH__mdt</object>
        <outputAssignments>
            <assignToReference>CMT_BusHrs_RecName</assignToReference>
            <field>Business_Hours_Record_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShiftTwo</assignToReference>
            <field>ShiftTwo__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Queue_Id_using_Queue_Name</name>
        <label>Get the Queue Id using Queue Name</label>
        <locationX>899</locationX>
        <locationY>5296</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_QueueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_for_Priority_Mapping_records_for_given_SR_Source</name>
        <label>Query for Priority Mapping records for given SR Source</label>
        <locationX>94</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Priority_Mapping_Records</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Rule_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web2Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Case_Source__c</elementReference>
            </value>
        </filters>
        <object>Priority_Mapping__c</object>
        <outputReference>PriorityMappingRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Priority__c</queriedFields>
        <queriedFields>BUID__c</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <queriedFields>Company_Number__c</queriedFields>
        <queriedFields>System_Type_DRM__c</queriedFields>
        <queriedFields>Line_of_Business__c</queriedFields>
        <queriedFields>Class__c</queriedFields>
        <queriedFields>SubClass__c</queriedFields>
        <queriedFields>Premier_Type__c</queriedFields>
        <queriedFields>Language__c</queriedFields>
        <queriedFields>Segment__c</queriedFields>
        <queriedFields>SLC__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>OOW__c</queriedFields>
        <queriedFields>Local_Channel__c</queriedFields>
        <queriedFields>Extra1__c</queriedFields>
        <queriedFields>Extra2__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Priority__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Search_for_Routing_Rule_record_that_meets_the_criteria</name>
        <label>Search for Routing Rule record that meets the criteria</label>
        <locationX>852</locationX>
        <locationY>4522</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Queue_Name_is_found</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_BUID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_Class</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_CompanyNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>Extra1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_Extra1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Extra2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_Extra2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_Language</elementReference>
            </value>
        </filters>
        <filters>
            <field>Line_of_Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_LOB</elementReference>
            </value>
        </filters>
        <filters>
            <field>Local_Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_LocalChannel</elementReference>
            </value>
        </filters>
        <filters>
            <field>Premier_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_PremierType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_Product</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_Region</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rule_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web2Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>SLC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_SLC</elementReference>
            </value>
        </filters>
        <filters>
            <field>Segment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_Segment</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_Source</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubClass__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_SubClass</elementReference>
            </value>
        </filters>
        <object>Routing_Rules__c</object>
        <outputAssignments>
            <assignToReference>RR_Country_Holiday</assignToReference>
            <field>Country_Holiday__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RR_Country</assignToReference>
            <field>Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RR_RecordNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RR_OOH_QueueName</assignToReference>
            <field>OOH_Queue_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RR_QueueName</assignToReference>
            <field>Queue_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Search_for_SR_Source_in_Source_Onboarded_records</name>
        <label>Search for SR Source in Source Onboarded records</label>
        <locationX>90</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_SR_Source_is_onboarded_to_Priority_Mapping</targetReference>
        </connector>
        <filters>
            <field>Onboarded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Case_Source__c</elementReference>
            </value>
        </filters>
        <object>Source_Onboarding__c</object>
        <outputAssignments>
            <assignToReference>SourceOnboarded</assignToReference>
            <field>Onboarded__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Second_Shift_Business_Hours</name>
        <label>Second Shift Business Hours</label>
        <locationX>463</locationX>
        <locationY>5037</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>To_Check_Shift_Two_is_In_or_Out_of_Hours</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShiftTwo</elementReference>
            </value>
        </filters>
        <object>BusinessHours</object>
        <outputReference>BusinessHoursRecordShiftTwo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TimeZoneSidKey</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ToCheckTodayIsHolidayOrNot</name>
        <label>ToCheckTodayIsHolidayOrNot</label>
        <locationX>611</locationX>
        <locationY>4756</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Hours_Record_Present_Or_Not</targetReference>
        </connector>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_Country_Holiday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>Exception_Hours__c</object>
        <outputAssignments>
            <assignToReference>ExceptionHoursRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExceptionHoursRecord.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>1163</locationX>
        <locationY>5294</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Queue__c</field>
            <value>
                <elementReference>RR_QueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_Mapping_Rule_Name__c</field>
            <value>
                <elementReference>PriorityMappingRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Rules_Record_Number__c</field>
            <value>
                <elementReference>RR_RecordNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Search_for_SR_Source_in_Source_Onboarded_records</startElementReference>
    <status>Active</status>
    <variables>
        <name>ApexClassMethodOutput</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApexMethodOutput</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BusinessHoursRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BusinessHours</objectType>
    </variables>
    <variables>
        <description>Story : 5458375 - To Support Multiple Shifts in Same Day</description>
        <name>BusinessHoursRecordShiftTwo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessHours</objectType>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CMT_BusHrs_RecName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DefaultSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExceptionHoursRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exception_Hours__c</objectType>
    </variables>
    <variables>
        <name>IsHoliday</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Contains one record at a time from a loop iteration</description>
        <name>PriorityMappingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Priority_Mapping__c</objectType>
    </variables>
    <variables>
        <name>PriorityMappingRecordAllSource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Priority_Mapping__c</objectType>
    </variables>
    <variables>
        <name>PriorityMappingRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Priority_Mapping__c</objectType>
    </variables>
    <variables>
        <name>PriorityMappingRecordsAllSource</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Priority_Mapping__c</objectType>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_BUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_Class</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_CompanyNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>RR_Country_Holiday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>RR_Extra1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_Extra2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_ExtraOne</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_LOB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_LocalChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_OOH_QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_OOW</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_PremierType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_Product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_RecordNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_Segment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_SLC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_SubClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_SystemTypeDRM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Story : 5458375 - To support multiple shift hours in same day.</description>
        <name>ShiftTwo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>ShiftTwoInorOut</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SourceOnboarded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WithInBusinessHours</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
