force-app/main/default/flows/Perform_Chat_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Empty_String_to_all_other_routing_rule_variables</name>
        <label>Assign Empty String to all other routing rule variables</label>
        <locationX>518</locationX>
        <locationY>2569</locationY>
        <assignmentItems>
            <assignToReference>RR_SystemTypeDRM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RR_Class</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RR_SubClass</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RR_SLC</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RR_Segment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RR_Extra2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RR_Product</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RR_FamilyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Flow_PriorityMappingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriorityMappingRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_for_Routing_Rule_record_that_meets_the_criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_BUID_Field</name>
        <label>Assign empty string value to query Routing Rules Record BUID Field</label>
        <locationX>616</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>RR_BUID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Extra_1_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_CompanyNumber_Field</name>
        <label>Assign empty string value to query Routing Rules Record CompanyNumber Field</label>
        <locationX>683</locationX>
        <locationY>1806</locationY>
        <assignmentItems>
            <assignToReference>RR_CompanyNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_LOB_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_Extra1_Field</name>
        <label>Assign empty string value to query Routing Rules Record Extra1 Field</label>
        <locationX>612</locationX>
        <locationY>762</locationY>
        <assignmentItems>
            <assignToReference>RR_Extra1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Language_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_Language_Field</name>
        <label>Assign empty string value to query Routing Rules Record Language Field</label>
        <locationX>649</locationX>
        <locationY>1050</locationY>
        <assignmentItems>
            <assignToReference>RR_Language</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Premier_Type_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_LOB_Field</name>
        <label>Assign empty string value to query Routing Rules Record LOB Field</label>
        <locationX>671</locationX>
        <locationY>2038</locationY>
        <assignmentItems>
            <assignToReference>RR_LOB</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_ProductCode_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_LocalChannel</name>
        <label>Assign empty string value to query Routing Rules Record LocalChannel Field</label>
        <locationX>674</locationX>
        <locationY>1573</locationY>
        <assignmentItems>
            <assignToReference>RR_LocalChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_CompanyNumber_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_PremierType_Field</name>
        <label>Assign empty string value to query Routing Rules Record PremierType Field</label>
        <locationX>664</locationX>
        <locationY>1324</locationY>
        <assignmentItems>
            <assignToReference>RR_PremierType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Local_Channel_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_ProductCode_Field</name>
        <label>Assign empty string value to query Routing Rules Record ProductCode Field</label>
        <locationX>695</locationX>
        <locationY>2314</locationY>
        <assignmentItems>
            <assignToReference>RR_ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Offer_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_string_value_to_query_Routing_Rules_Record_Region_Field</name>
        <label>Assign empty string value to query Routing Rules Record Region Field</label>
        <locationX>620</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>RR_Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_BUID_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RoutingFailed_Variable_to_Y</name>
        <label>Assign RoutingFailed Variable to Y</label>
        <locationX>61</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>Flow_RoutingFailed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoutingFailed</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_BUID_Field</name>
        <label>Assign value from Flow Variable to query Routing Rules Record BUID Field</label>
        <locationX>382</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>RR_BUID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_BUID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Extra_1_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_CompanyNumber</name>
        <label>Assign value from Flow Variable to query Routing Rules Record CompanyNumber Field</label>
        <locationX>343</locationX>
        <locationY>1812</locationY>
        <assignmentItems>
            <assignToReference>RR_CompanyNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_CompanyNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_LOB_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_Extra1_Field</name>
        <label>Assign value from Flow Variable to query Routing Rules Record Extra1 Field</label>
        <locationX>363</locationX>
        <locationY>765</locationY>
        <assignmentItems>
            <assignToReference>RR_Extra1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_Extra1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Language_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_Language_Field</name>
        <label>Assign value from Flow Variable to query Routing Rules Record Language Field</label>
        <locationX>330</locationX>
        <locationY>1039</locationY>
        <assignmentItems>
            <assignToReference>RR_Language</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_Language</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Premier_Type_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_LOB_Field</name>
        <label>Assign value from Flow Variable to query Routing Rules Record LOB Field</label>
        <locationX>345</locationX>
        <locationY>2046</locationY>
        <assignmentItems>
            <assignToReference>RR_LOB</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_FamilyName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_ProductCode_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_Local_Channel</name>
        <label>Assign value from Flow Variable to query Routing Rules Record Local Channel Field</label>
        <locationX>337</locationX>
        <locationY>1572</locationY>
        <assignmentItems>
            <assignToReference>RR_LocalChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_LocalChannel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_CompanyNumber_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_Offer_Field</name>
        <label>Assign value from Flow Variable to query Routing Rules Record Offer Field</label>
        <locationX>385</locationX>
        <locationY>2461</locationY>
        <assignmentItems>
            <assignToReference>RR_Offer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_Offer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Empty_String_to_all_other_routing_rule_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_Offer_UnCheck</name>
        <label>Assign value from Flow Variable to query Routing Rules Record Offer UnCheck</label>
        <locationX>709</locationX>
        <locationY>2459</locationY>
        <assignmentItems>
            <assignToReference>RR_Offer</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Empty_String_to_all_other_routing_rule_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_PremierType_Field</name>
        <label>Assign value from Flow Variable to query Routing Rules Record PremierType Field</label>
        <locationX>334</locationX>
        <locationY>1328</locationY>
        <assignmentItems>
            <assignToReference>RR_PremierType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_PremierType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RR_Offer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_Offer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Local_Channel_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_ProductCode_Field</name>
        <label>Assign value from Flow Variable to query Routing Rules Record ProductCode Field</label>
        <locationX>342</locationX>
        <locationY>2308</locationY>
        <assignmentItems>
            <assignToReference>RR_ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Offer_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_Region_Field</name>
        <label>Assign value from Flow Variable to query Routing Rules Record Region Field</label>
        <locationX>385</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>RR_Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_Region</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_BUID_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Routing_Falied</name>
        <label>Routing Falied</label>
        <locationX>245</locationX>
        <locationY>3127</locationY>
        <assignmentItems>
            <assignToReference>Flow_RoutingFailed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoutingNotFailed</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>RoutingFailed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </constants>
    <constants>
        <name>RoutingNotFailed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_BUID_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check BUID for Search Criteria used to query Routing Rule records</label>
        <locationX>480</locationX>
        <locationY>405</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BUID_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.BUID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_BUID_Field</targetReference>
            </connector>
            <label>BUID Checked</label>
        </rules>
        <rules>
            <name>BUID_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.BUID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_BUID_Field</targetReference>
            </connector>
            <label>BUID Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CompanyNumber_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check CompanyNumber for Search Criteria used to query Routing Rule records</label>
        <locationX>507</locationX>
        <locationY>1699</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Company_Number_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Company_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_CompanyNumber</targetReference>
            </connector>
            <label>Company Number Checked</label>
        </rules>
        <rules>
            <name>Company_Number_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Company_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_CompanyNumber_Field</targetReference>
            </connector>
            <label>Company Number Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Extra_1_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check Extra 1 for Search Criteria used to query Routing Rule records</label>
        <locationX>468</locationX>
        <locationY>643</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Extra1_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Extra1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_Extra1_Field</targetReference>
            </connector>
            <label>Extra1 Checked</label>
        </rules>
        <rules>
            <name>Extra1_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Extra1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_Extra1_Field</targetReference>
            </connector>
            <label>Extra1 Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Routing_Rule_is_met_and_Chat_Button_Id_populated</name>
        <label>Check if Routing Rule is met and Chat Button Id populated</label>
        <locationX>241</locationX>
        <locationY>2690</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Chat_Button_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flow_ChatButtonId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Flow_ResumeChatButtonId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Flow_QueueName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Routing_Falied</targetReference>
            </connector>
            <label>Chat Button is not null</label>
        </rules>
        <rules>
            <name>Chat_Button_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flow_ChatButtonId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_Priority_Mapping_Records</targetReference>
            </connector>
            <label>Chat Button is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Language_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check Language for Search Criteria used to query Routing Rule records</label>
        <locationX>465</locationX>
        <locationY>884</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Language_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_Language_Field</targetReference>
            </connector>
            <label>Language Checked</label>
        </rules>
        <rules>
            <name>Language_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_Language_Field</targetReference>
            </connector>
            <label>Language Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_LOB_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check LOB for Search Criteria used to query Routing Rule records</label>
        <locationX>513</locationX>
        <locationY>1931</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>LOB_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_LOB_Field</targetReference>
            </connector>
            <label>LOB Checked</label>
        </rules>
        <rules>
            <name>LOB_Unchecked</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_LOB_Field</targetReference>
            </connector>
            <label>LOB Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Local_Channel_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check Local Channel for Search Criteria used to query Routing Rule records</label>
        <locationX>496</locationX>
        <locationY>1441</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Local_Channel_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Local_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_Local_Channel</targetReference>
            </connector>
            <label>Local Channel Checked</label>
        </rules>
        <rules>
            <name>Local_Channel_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Local_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_LocalChannel</targetReference>
            </connector>
            <label>Local Channel Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Offer_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check Offer for Search Criteria used to query Routing Rule records</label>
        <locationX>512</locationX>
        <locationY>2362</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Offer_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Offer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_Offer_Field</targetReference>
            </connector>
            <label>Offer Checked</label>
        </rules>
        <rules>
            <name>Offer_UnChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Offer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_Offer_UnCheck</targetReference>
            </connector>
            <label>Offer_UnChecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Premier_Type_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check Premier Type for Search Criteria used to query Routing Rule records</label>
        <locationX>478</locationX>
        <locationY>1177</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Premier_Type_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Premier_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_PremierType_Field</targetReference>
            </connector>
            <label>Premier Type Checked</label>
        </rules>
        <rules>
            <name>Premier_Type_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Premier_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_PremierType_Field</targetReference>
            </connector>
            <label>Premier Type Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ProductCode_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check ProductCode for Search Criteria used to query Routing Rule records</label>
        <locationX>519</locationX>
        <locationY>2181</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Product_Code_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_ProductCode_Field</targetReference>
            </connector>
            <label>Product Code Checked</label>
        </rules>
        <rules>
            <name>Product_Code_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_ProductCode_Field</targetReference>
            </connector>
            <label>Product Code Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Region_for_Search_Criteria_used_to_query_Routing_Rule_records</name>
        <label>Check Region for Search Criteria used to query Routing Rule records</label>
        <locationX>479</locationX>
        <locationY>154</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Region_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_from_Flow_Variable_to_query_Routing_Rules_Record_Region_Field</targetReference>
            </connector>
            <label>Region Checked</label>
        </rules>
        <rules>
            <name>Region_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorityMappingRecord.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_value_to_query_Routing_Rules_Record_Region_Field</targetReference>
            </connector>
            <label>Region Unchecked</label>
        </rules>
    </decisions>
    <interviewLabel>Perform Chat Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Perform Chat Routing</label>
    <loops>
        <name>Iterate_through_Priority_Mapping_Records</name>
        <label>Iterate through Priority Mapping Records</label>
        <locationX>231</locationX>
        <locationY>154</locationY>
        <assignNextValueToReference>PriorityMappingRecord</assignNextValueToReference>
        <collectionReference>PriorityMappingRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Region_for_Search_Criteria_used_to_query_Routing_Rule_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_RoutingFailed_Variable_to_Y</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_for_Priority_Mapping_records_for_Chat_OIM_Source</name>
        <label>Query for Priority Mapping records for Chat OIM Source</label>
        <locationX>234</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Priority_Mapping_Records</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Flow_PM_RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OIM</stringValue>
            </value>
        </filters>
        <object>Priority_Mapping__c</object>
        <outputReference>PriorityMappingRecords</outputReference>
        <queriedFields>Region__c</queriedFields>
        <queriedFields>BUID__c</queriedFields>
        <queriedFields>Extra1__c</queriedFields>
        <queriedFields>Language__c</queriedFields>
        <queriedFields>Premier_Type__c</queriedFields>
        <queriedFields>Local_Channel__c</queriedFields>
        <queriedFields>Company_Number__c</queriedFields>
        <queriedFields>Family_Name__c</queriedFields>
        <queriedFields>Product_Code__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Line_of_Business__c</queriedFields>
        <queriedFields>Offer__c</queriedFields>
        <sortField>Priority__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Search_for_Routing_Rule_record_that_meets_the_criteria</name>
        <label>Search for Routing Rule record that meets the criteria</label>
        <locationX>523</locationX>
        <locationY>2688</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Routing_Rule_is_met_and_Chat_Button_Id_populated</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_BUID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_Class</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_CompanyNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>Extra1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_Extra1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Extra2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_Extra2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Family_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_FamilyName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_Language</elementReference>
            </value>
        </filters>
        <filters>
            <field>Line_of_Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_LOB</elementReference>
            </value>
        </filters>
        <filters>
            <field>Local_Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_LocalChannel</elementReference>
            </value>
        </filters>
        <filters>
            <field>Offer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_Offer</elementReference>
            </value>
        </filters>
        <filters>
            <field>Premier_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_PremierType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_ProductCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_Product</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Flow_RR_RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_Region</elementReference>
            </value>
        </filters>
        <filters>
            <field>SLC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_SLC</elementReference>
            </value>
        </filters>
        <filters>
            <field>Segment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_Segment</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OIM</stringValue>
            </value>
        </filters>
        <filters>
            <field>SubClass__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_SubClass</elementReference>
            </value>
        </filters>
        <filters>
            <field>System_Type_DRM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RR_SystemTypeDRM</elementReference>
            </value>
        </filters>
        <object>Routing_Rules__c</object>
        <outputAssignments>
            <assignToReference>Flow_ChatButtonId</assignToReference>
            <field>Chat_Button_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RR_RecordNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Flow_QueueName</assignToReference>
            <field>Queue_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Flow_ResumeChatButtonId</assignToReference>
            <field>Resume_Chat_Button_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Query_for_Priority_Mapping_records_for_Chat_OIM_Source</startElementReference>
    <status>Active</status>
    <variables>
        <name>ChatRoutingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_BUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_ChatButtonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_CompanyNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_Extra1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_FamilyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_LocalChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_Offer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_PM_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_PremierType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_Priority_MappingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_PriorityMappingName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_ProductCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_ResumeChatButtonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_RoutingFailed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_RoutingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_RR_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PriorityMappingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Priority_Mapping__c</objectType>
    </variables>
    <variables>
        <name>PriorityMappingRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Priority_Mapping__c</objectType>
    </variables>
    <variables>
        <name>RR_BUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_Class</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_CompanyNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_Extra1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_Extra2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_FamilyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_LOB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_LocalChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_Offer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>RR_PremierType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_Product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_ProductCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_RecordNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_Segment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_SLC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_SubClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_SystemTypeDRM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
