force-app/main/default/flows/Remove_Tasks_or_Hours_when_order_was_cancelled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Project_Complexity</name>
        <label>Calculate Project Complexity</label>
        <locationX>387</locationX>
        <locationY>145</locationY>
        <actionName>ProjectComplexityCalculator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Remove_Task_or_Hour_When_Order_was_cancelled</name>
        <label>Remove Task or Hour When Order was cancelled</label>
        <locationX>185</locationX>
        <locationY>146</locationY>
        <actionName>SKUEffortManagementRemovalService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Calculate_Project_Complexity</targetReference>
        </connector>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Milestone</name>
        <label>Update Milestone</label>
        <locationX>619</locationX>
        <locationY>145</locationY>
        <actionName>CalculateForecastCompletionMilestone</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>projectIds</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <description>Added call to update milestone apex</description>
    <interviewLabel>Remove Tasks or Hours when order was cancelled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove Tasks or Hours when order was cancelled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Remove_Task_or_Hour_When_Order_was_cancelled</startElementReference>
    <status>Active</status>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
