force-app/main/default/flows/ScreenMeet_LCT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>IsFound</name>
        <label>IsFound</label>
        <locationX>509</locationX>
        <locationY>207</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedLiveChatTranscriptID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DellConnect_update</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <interviewLabel>ScreenMeet_LCT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenMeet_LCT</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Live_Chat_ID_Search</name>
        <label>Live Chat ID Search</label>
        <locationX>389</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsFound</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenMeetCase.screenmeet__Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InProgress</stringValue>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputReference>MatchedLiveChatTranscriptID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>DellConnect_update</name>
        <label>DellConnect update</label>
        <locationX>614</locationX>
        <locationY>84</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenMeetCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Live_Chat_Transcript_ID__c</field>
            <value>
                <elementReference>MatchedLiveChatTranscriptID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>screenmeet__ScreenMeet_Sesion__c</object>
    </recordUpdates>
    <startElementReference>Live_Chat_ID_Search</startElementReference>
    <status>Draft</status>
    <variables>
        <name>MatchedLiveChatTranscriptID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>ScreenMeetCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>screenmeet__ScreenMeet_Sesion__c</objectType>
    </variables>
</Flow>
