force-app/main/default/flows/ServiceTagValidation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>flowoutput</name>
        <label>flowoutput</label>
        <locationX>867</locationX>
        <locationY>40</locationY>
        <assignmentItems>
            <assignToReference>Res</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>true</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>res2</name>
        <label>res2</label>
        <locationX>848</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>Res</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>false</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ValidationDecision</name>
        <label>ValidationDecision</label>
        <locationX>600</locationX>
        <locationY>189</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IfExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowoutput</targetReference>
            </connector>
            <label>IfExists</label>
        </rules>
        <rules>
            <name>NotExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>res2</targetReference>
            </connector>
            <label>NotExists</label>
        </rules>
    </decisions>
    <description>Service Tag Validation + Case Number + Field values</description>
    <interviewLabel>ServiceTagValidation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ServiceTagValidation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetServiceTagValidation</name>
        <label>GetServiceTagValidation</label>
        <locationX>357</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidationDecision</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Servicetag</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>AssetID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>GetServiceTagValidation</startElementReference>
    <status>Active</status>
    <variables>
        <name>AssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Res</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Servicetag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
