force-app/main/default/flows/SplitTextOnCommas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddStringB4CommatoCollection</name>
        <label>AddStringB4CommatoCollection</label>
        <locationX>348</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>SplitStrings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>leftString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetRemainingText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitializeRemainingText</name>
        <label>InitializeRemainingText</label>
        <locationX>165</locationX>
        <locationY>81</locationY>
        <assignmentItems>
            <assignToReference>RemainingText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckInputTextHasCommas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoCommasReturnOriginalText</name>
        <label>NoCommasReturnOriginalText</label>
        <locationX>30</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>SplitStrings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RemainingText</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the first comma position in the remaining text to a variable to be used to split the text</description>
        <name>SetFirstCommaPos</name>
        <label>SetFirstCommaPos</label>
        <locationX>305</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>FirstCommaPosition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>posComma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckStringNotNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Continue to split remaining text</description>
        <name>SetRemainingText</name>
        <label>SetRemainingText</label>
        <locationX>547</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>RemainingText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rightText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckInputTextHasCommas</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Does input have any commas at all?</description>
        <name>CheckInputTextHasCommas</name>
        <label>CheckInputTextHasCommas</label>
        <locationX>167</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>CheckRemainingTextNotNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HasCommas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>posComma</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetFirstCommaPos</targetReference>
            </connector>
            <label>HasCommas</label>
        </rules>
    </decisions>
    <decisions>
        <description>If remaining text not null add it to the returning collection</description>
        <name>CheckRemainingTextNotNull</name>
        <label>CheckRemainingTextNotNull</label>
        <locationX>66</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>NoCommasReturnOriginalText</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RemainingTextNotNull</defaultConnectorLabel>
        <rules>
            <name>RemainingTextNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemainingText</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>RemainingTextNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStringNotNull</name>
        <label>CheckStringNotNull</label>
        <locationX>302</locationX>
        <locationY>449</locationY>
        <defaultConnector>
            <targetReference>AddStringB4CommatoCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>StringBeforeCommaIsNotNull</defaultConnectorLabel>
        <rules>
            <name>StringBeforeCommaIsNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>leftString</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>leftString</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&quot;&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRemainingText</targetReference>
            </connector>
            <label>StringBeforeCommaIsNull</label>
        </rules>
    </decisions>
    <formulas>
        <name>leftString</name>
        <dataType>String</dataType>
        <expression>LEFT({!RemainingText},{!FirstCommaPosition}-1)</expression>
    </formulas>
    <formulas>
        <name>posComma</name>
        <dataType>Number</dataType>
        <expression>FIND(&quot;,&quot;,{!RemainingText})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>rightText</name>
        <dataType>String</dataType>
        <expression>RIGHT({!RemainingText},LEN({!RemainingText})-{!FirstCommaPosition})</expression>
    </formulas>
    <interviewLabel>SplitTextOnCommas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SplitTextOnCommas</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>InitializeRemainingText</startElementReference>
    <status>Active</status>
    <variables>
        <name>FirstCommaPosition</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nCommas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RemainingText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SplitStrings</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StringLeftOfComma</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
