force-app/main/default/flows/TaskCompletionCheck.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>istask_open</name>
        <label>istask open</label>
        <locationX>529</locationX>
        <locationY>105</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>matchedtask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_casefield_true</targetReference>
            </connector>
            <label>yes</label>
        </rules>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>matchedtask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_casefield_false</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <description>Story #4934845</description>
    <interviewLabel>TaskCompletionCheck {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TaskCompletionCheck</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lookup_task</name>
        <label>lookup task</label>
        <locationX>355</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>istask_open</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskid.WhatId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>matchedtask</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_casefield_false</name>
        <label>update casefield false</label>
        <locationX>717</locationX>
        <locationY>274</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskid.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OpenTasks__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_casefield_true</name>
        <label>update casefield true</label>
        <locationX>770</locationX>
        <locationY>104</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskid.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OpenTasks__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>lookup_task</startElementReference>
    <status>Active</status>
    <variables>
        <name>caseID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>HasOpenTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>matchedtask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
