force-app/main/default/flows/Unassociate_Associate_Order_to_Project_Processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_if_order_already_associated_to_a_Project</name>
        <label>Check if order already associated to a Project</label>
        <locationX>350</locationX>
        <locationY>95</locationY>
        <defaultConnector>
            <targetReference>Associate_Order_to_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_already_associated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desassociate_Order_from_Current_Project</targetReference>
            </connector>
            <label>Is already associated?</label>
        </rules>
    </decisions>
    <description>Added boolean association validation</description>
    <formulas>
        <name>PauseTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-(59.8/1440)</expression>
    </formulas>
    <interviewLabel>Unassociate/Associate Order to Project - Processing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unassociate/Associate Order to Project - Processing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>180</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_order_already_associated_to_a_Project</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
    </recordLookups>
    <startElementReference>Get_Order</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Add_Tasks_based_on_SKU_Mapping</name>
        <label>Add Tasks based on SKU Mapping</label>
        <locationX>1196</locationX>
        <locationY>99</locationY>
        <flowName>Add_Tasks_based_on_SKU_Mapping</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsProjectAssociation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Associate_Order_to_Project</name>
        <label>Associate Order to Project</label>
        <locationX>947</locationX>
        <locationY>99</locationY>
        <connector>
            <targetReference>Add_Tasks_based_on_SKU_Mapping</targetReference>
        </connector>
        <flowName>IDS_Associate_Project_to_Order</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NeedsApproval</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Desassociate_Order_from_Current_Project</name>
        <label>Desassociate Order from Current Project</label>
        <locationX>352</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>Pause</targetReference>
        </connector>
        <flowName>IDS_Unassociate_Order</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause</name>
        <label>Pause</label>
        <locationX>623</locationX>
        <locationY>224</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>PausePause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Associate_Order_to_Project</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>PauseTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause</label>
        </waitEvents>
    </waits>
</Flow>
