force-app/main/default/flows/Update_Case_with_Service_Tag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>It will update Case with New Servce Tag provided from customer in chatBot flow</description>
    <interviewLabel>Update Case with Service Tag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case with Service Tag</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_using_service_tag</name>
        <label>Get Asset using service tag</label>
        <locationX>216</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lct_with_asset_id</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_tag</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>StoreAssetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_CaseID_from_LCT</name>
        <label>Get CaseID from LCT</label>
        <locationX>691</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Service_tag_on_Case_Object</targetReference>
        </connector>
        <filters>
            <field>ChatKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>in_ChatKey</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputAssignments>
            <assignToReference>StoreCaseId</assignToReference>
            <field>CaseId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lct_with_asset_id</name>
        <label>Update Lct with asset id</label>
        <locationX>440</locationX>
        <locationY>76</locationY>
        <connector>
            <targetReference>Get_CaseID_from_LCT</targetReference>
        </connector>
        <filters>
            <field>ChatKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>in_ChatKey</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>StoreAssetId</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_tag_on_Case_Object</name>
        <label>Update Service tag on Case Object</label>
        <locationX>965</locationX>
        <locationY>113</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>StoreAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Tag__c</field>
            <value>
                <elementReference>Service_tag</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Get_Asset_using_service_tag</startElementReference>
    <status>Active</status>
    <variables>
        <name>in_ChatKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>Service_tag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>StoreAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
