force-app/main/default/flows/Update_Case_Field_For_Log.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>CheckAccountIsNull</name>
        <label>CheckAccountIsNull</label>
        <locationX>168</locationX>
        <locationY>260</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AccountChecking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountRelatedToCase</targetReference>
            </connector>
            <label>AccountChecking</label>
        </rules>
    </decisions>
    <decisions>
        <name>CondtionsCheckingToUpdateTask</name>
        <label>CondtionsCheckingToUpdateTask</label>
        <locationX>165</locationX>
        <locationY>485</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CheckingToUpdate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Account.Account_Identifier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S360</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Case_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OLS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskUpdate</targetReference>
            </connector>
            <label>CheckingToUpdate</label>
        </rules>
    </decisions>
    <description>Updating Case&#39;s UpdateLog__C(Dummy Field) for triggering All Process on Case PB</description>
    <interviewLabel>Update Case Field For Log {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case Field For Log</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AccountRelatedToCase</name>
        <label>AccountRelatedToCase</label>
        <locationX>167</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CondtionsCheckingToUpdateTask</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Account_Identifier__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>CaseRelatedToTask</name>
        <label>CaseRelatedToTask</label>
        <locationX>167</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckAccountIsNull</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRecord.WhatId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case_Source__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>TaskUpdate</name>
        <label>TaskUpdate</label>
        <locationX>467</locationX>
        <locationY>488</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EMC_Task__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>CaseRelatedToTask</startElementReference>
    <status>Active</status>
    <variables>
        <description>Account Which is Related to Case</description>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Case Related to the Task</description>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>The Case which needs to be updated</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Record which needs to be updated.</description>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
