force-app/main/default/flows/UpdateRelatedCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>IncreementCounter</name>
        <label>IncreementCounter</label>
        <locationX>821</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>Number</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EqualToOne</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>StartIndex</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>CaseFound</name>
        <label>CaseFound</label>
        <locationX>312</locationX>
        <locationY>208</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>IsFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>EqualToOne</name>
        <label>EqualToOne</label>
        <locationX>820</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>IsTrue</label>
        </rules>
    </decisions>
    <interviewLabel>{!contact.Id}</interviewLabel>
    <label>UpdateRelatedCase</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>318</locationX>
        <locationY>389</locationY>
        <assignNextValueToReference>CaseLoop</assignNextValueToReference>
        <collectionReference>Case</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateCase</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lookup_case</name>
        <label>lookup case</label>
        <locationX>316</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseFound</targetReference>
        </connector>
        <filters>
            <field>Case_Source__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>OLS</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>556</locationX>
        <locationY>388</locationY>
        <connector>
            <targetReference>IncreementCounter</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseLoop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CaseLoop.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseLoop.Description</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>lookup_case</startElementReference>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>StartIndex</elementReference>
        </value>
    </variables>
</Flow>
