force-app/main/default/flows/Update_contact_when_asset_is_changed_in_Live_Chat_Transcript.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_if_contact_match_found</name>
        <label>Check if contact match found</label>
        <locationX>234</locationX>
        <locationY>41</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MatchedContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Live_Chat_s_Account_and_Contact</targetReference>
            </connector>
            <label>MatchedContact</label>
        </rules>
        <rules>
            <name>Match_Not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_contact_based_on_Account_Firstname_Lastname_Email</targetReference>
            </connector>
            <label>Match Not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Contact_Found_with_email</name>
        <label>is Contact Found?</label>
        <locationX>609</locationX>
        <locationY>45</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Matched_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Live_Chat_s_Account_and_Contact</targetReference>
            </connector>
            <label>Matched found</label>
        </rules>
        <rules>
            <name>No_Match_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_contact_based_on_Account_Firstname_Lastname_Primaryphone</targetReference>
            </connector>
            <label>No Match found</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Contact_found_with_primaryphone</name>
        <label>is Contact found?</label>
        <locationX>833</locationX>
        <locationY>163</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Match_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Live_Chat_s_Account_and_Contact</targetReference>
            </connector>
            <label>Match found</label>
        </rules>
        <rules>
            <name>No_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_new_contact</targetReference>
            </connector>
            <label>No Match</label>
        </rules>
    </decisions>
    <interviewLabel>Update contact when asset is changed in Live Chat Transcript {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update contact when asset is changed in Live Chat Transcript</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_new_contact</name>
        <label>Create a new contact</label>
        <locationX>835</locationX>
        <locationY>292</locationY>
        <assignRecordIdToReference>NewContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Account_in_Live_Chat</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Phone__c</field>
            <value>
                <elementReference>PrimaryPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Check_for_contact_match_in_new_account</name>
        <label>Check for contact match in new account based on Account,Firstname, Lastname, Email and Primaryphoen</label>
        <locationX>26</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_contact_match_found</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryPhone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Primary_Phone__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_contact_based_on_Account_Firstname_Lastname_Email</name>
        <label>Lookup contact based on Account, Firstname, Lastname, Email</label>
        <locationX>453</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Contact_Found_with_email</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Primary_Phone__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_contact_based_on_Account_Firstname_Lastname_Primaryphone</name>
        <label>Lookup contact based on Account, Firstname, Lastname, Primaryphone</label>
        <locationX>830</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Contact_found_with_primaryphone</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryPhone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Primary_Phone__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_in_Live_Chat</name>
        <label>Update Account in Live Chat</label>
        <locationX>835</locationX>
        <locationY>396</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TranscriptId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>NewContactId</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Live_Chat_s_Account_and_Contact</name>
        <label>Update Live Chat&#39;s Account and Contact</label>
        <locationX>366</locationX>
        <locationY>282</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TranscriptId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <startElementReference>Check_for_contact_match_in_new_account</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TranscriptId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
