force-app/main/default/flows/Update_contact_when_asset_is_changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_if_contact_match_found</name>
        <label>Check if contact match found</label>
        <locationX>320</locationX>
        <locationY>121</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MatchedContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_s_contact</targetReference>
            </connector>
            <label>MatchedContact</label>
        </rules>
        <rules>
            <name>Match_Not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_contact_based_on_Account_Firstname_Lastname_Email</targetReference>
            </connector>
            <label>Match Not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Contact_Found_with_email</name>
        <label>is Contact Found?</label>
        <locationX>687</locationX>
        <locationY>120</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Matched_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_s_contact</targetReference>
            </connector>
            <label>Matched Contact</label>
        </rules>
        <rules>
            <name>No_Contact_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_contact_based_on_Account_Firstname_Lastname_Primaryphone</targetReference>
            </connector>
            <label>No Contact found</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Contact_Found_with_primaryphone</name>
        <label>is Contact Found?</label>
        <locationX>807</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Matched_Contact_primary_phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_s_contact</targetReference>
            </connector>
            <label>Matched Contact</label>
        </rules>
        <rules>
            <name>No_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contact</targetReference>
            </connector>
            <label>No Matches</label>
        </rules>
    </decisions>
    <interviewLabel>Update contact when asset is changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update contact when asset is changed</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>809</locationX>
        <locationY>444</locationY>
        <assignRecordIdToReference>NewContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Case_s_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Phone__c</field>
            <value>
                <elementReference>PrimaryPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Check_for_contact_match_in_new_account</name>
        <label>Check for contact match in new account based on Account, Firstname, Lastname, Email and Phone</label>
        <locationX>159</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_contact_match_found</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryPhone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Primary_Phone__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_contact_based_on_Account_Firstname_Lastname_Email</name>
        <label>Lookup contact based on Account, Firstname, Lastname, Email</label>
        <locationX>513</locationX>
        <locationY>121</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Contact_Found_with_email</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Primary_Phone__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_contact_based_on_Account_Firstname_Lastname_Primaryphone</name>
        <label>Lookup contact based on Account, Firstname, Lastname, Primaryphone</label>
        <locationX>809</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Contact_Found_with_primaryphone</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryPhone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Primary_Phone__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_s_Account</name>
        <label>Update Case&#39;s Account</label>
        <locationX>810</locationX>
        <locationY>557</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>NewContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_s_contact</name>
        <label>Update Case&#39;s contact</label>
        <locationX>321</locationX>
        <locationY>337</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Check_for_contact_match_in_new_account</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
