force-app/main/default/flows/Update_SKU_Effort_Map_Description.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_SKU_Number</name>
        <label>Set SKU Number</label>
        <locationX>114</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>SKUNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SKUDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SKU_Effort_Map</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SKU_Effort_Map_Found</name>
        <label>SKU Effort Map Found</label>
        <locationX>558</locationX>
        <locationY>47</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Item_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SKU_Effort_Map_to_Modify</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SKU_Description</targetReference>
            </connector>
            <label>Item Found</label>
        </rules>
    </decisions>
    <interviewLabel>Update SKU Effort Map Description {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update SKU Effort Map Description</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SKU_Effort_Map</name>
        <label>Get SKU Effort Map</label>
        <locationX>347</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SKU_Effort_Map_Found</targetReference>
        </connector>
        <filters>
            <field>SKU_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SKUNumber</elementReference>
            </value>
        </filters>
        <object>SKU_Effort_Map__c</object>
        <outputAssignments>
            <assignToReference>SKU_Effort_Map_to_Modify.Description__c</assignToReference>
            <field>Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SKU_Effort_Map_to_Modify.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SKU_Effort_Map_to_Modify.SKU_Number__c</assignToReference>
            <field>SKU_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_SKU_Description</name>
        <label>Update_SKU_Description</label>
        <locationX>560</locationX>
        <locationY>223</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SKU_Effort_Map_to_Modify.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>SKUDescription</elementReference>
            </value>
        </inputAssignments>
        <object>SKU_Effort_Map__c</object>
    </recordUpdates>
    <startElementReference>Set_SKU_Number</startElementReference>
    <status>Active</status>
    <variables>
        <name>ProductDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SKU_Effort_Map_to_Modify</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SKU_Effort_Map__c</objectType>
    </variables>
    <variables>
        <name>SKUDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SKUNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
