force-app/main/default/flows/Waybill_Direction_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>CheckInputValue</name>
        <label>CheckInputValue</label>
        <locationX>30</locationX>
        <locationY>256</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NotNullInput</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DPS_Waybill_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_DPS_Waybill</targetReference>
            </connector>
            <label>NotNullInput</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsDPSWBFound</name>
        <label>IsDPSWBFound</label>
        <locationX>359</locationX>
        <locationY>49</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>WBFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DPS_WayBill</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FetchWorkOrderDetails</targetReference>
            </connector>
            <label>WBFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutboundStampingCriteria</name>
        <label>OutboundStampingCriteria</label>
        <locationX>751</locationX>
        <locationY>43</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>StampOutbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderDetails.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mail_In</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderDetails.MessageTypeID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ServiceCallClosure</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DPS_WayBill.ISP_FSD_WayBill_Direction__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StampOutboundField</targetReference>
            </connector>
            <label>StampOutbound</label>
        </rules>
        <rules>
            <name>InboundStampingCriteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DPS_WayBill.ISP_FSD_WayBill_Direction__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDirection</targetReference>
            </connector>
            <label>InboundStampingCriteria</label>
        </rules>
    </decisions>
    <interviewLabel>Waybill_Direction_Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Waybill_Direction_Update</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FetchWorkOrderDetails</name>
        <label>FetchWorkOrderDetails</label>
        <locationX>565</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OutboundStampingCriteria</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DPS_WayBill.Work_Order__c</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderDetails</outputReference>
        <queriedFields>MessageTypeID__c</queriedFields>
        <queriedFields>Service_Type__c</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_DPS_Waybill</name>
        <label>Lookup DPS Waybill</label>
        <locationX>128</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsDPSWBFound</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DPS_Waybill_Id</elementReference>
            </value>
        </filters>
        <object>DispatchWaybill__c</object>
        <outputReference>DPS_WayBill</outputReference>
        <queriedFields>ISP_FSD_DPS_Number__c</queriedFields>
        <queriedFields>ISP_FSD_WayBill_Direction__c</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>StampOutboundField</name>
        <label>StampOutbound</label>
        <locationX>567</locationX>
        <locationY>236</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DPS_WayBill.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISP_FSD_WayBill_Direction__c</field>
            <value>
                <elementReference>Outbound</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchWaybill__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDirection</name>
        <label>UpdateDirection</label>
        <locationX>953</locationX>
        <locationY>232</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DPS_WayBill.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISP_FSD_WayBill_Direction__c</field>
            <value>
                <elementReference>Inbound</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchWaybill__c</object>
    </recordUpdates>
    <startElementReference>CheckInputValue</startElementReference>
    <status>Active</status>
    <variables>
        <description>Dispatch Way Bill</description>
        <name>DPS_WayBill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchWaybill__c</objectType>
    </variables>
    <variables>
        <name>DPS_Waybill_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>WayBId</stringValue>
        </value>
    </variables>
    <variables>
        <name>Inbound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Inbound</stringValue>
        </value>
    </variables>
    <variables>
        <description>Mail in checking</description>
        <name>Mail_In</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Mail-In</stringValue>
        </value>
    </variables>
    <variables>
        <name>Outbound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Outbound</stringValue>
        </value>
    </variables>
    <variables>
        <name>ServiceCallClosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ServiceCallClosure</stringValue>
        </value>
    </variables>
    <variables>
        <name>WorkOrderDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
