force-app/main/default/flows/Work_Order_Service_Event_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendExceptionEmail</name>
        <label>sendExceptionEmail</label>
        <locationX>631</locationX>
        <locationY>437</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Exception_Record</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A Error Occured While Ceating Service Event</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>Rodrigo_Carpio@Dell.com, sri_harsha_gangiredd@dellteam.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>ExceptionAssignment</name>
        <label>ExceptionAssignment</label>
        <locationX>274</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>ApiErrorCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>101</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApiErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceEventId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendExceptionEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ExceptionOutput_if_Work_Order_is_Null</name>
        <label>ExceptionOutput- if Work Order is Null</label>
        <locationX>289</locationX>
        <locationY>19</locationY>
        <assignmentItems>
            <assignToReference>ApiErrorCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>101</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApiErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WorkOrder is Null. This is Mandatory Field</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceEventId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ExceptionOutput_if_Work_Order_is_Null_0</name>
        <label>ExceptionOutput- if Work Order is Null</label>
        <locationX>285</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>ApiErrorCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>101</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApiErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ReplyCode is Null. This is Mandatory Field</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceEventId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OutputAssignment</name>
        <label>OutputAssignment</label>
        <locationX>30</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>EventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceEventId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApiErrorCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>100</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApiErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>SuccessfulCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>100000</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Reply_Code</name>
        <label>Check for Reply Code</label>
        <locationX>22</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>Check_for_Service_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reply Code Not 100000</defaultConnectorLabel>
        <rules>
            <name>Reply_Code_100000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReplyCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SuccessfulCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Event_Record</targetReference>
            </connector>
            <label>Reply Code 100000</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Service_Event_Id_is_not_null</name>
        <label>Check if Service Event Id is not null</label>
        <locationX>528</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>Update_Service_Event_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_if_Service_Event_Id_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceEventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Event_Record</targetReference>
            </connector>
            <label>Check if Service Event Id is  null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_Order_Id</name>
        <label>Check Work Order Id</label>
        <locationX>24</locationX>
        <locationY>19</locationY>
        <defaultConnector>
            <targetReference>ExceptionOutput_if_Work_Order_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Work_Order_Id_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Repy_Code_Blank_Check</targetReference>
            </connector>
            <label>Work Order Id is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Repy_Code_Blank_Check</name>
        <label>Repy Code Blank Check</label>
        <locationX>24</locationX>
        <locationY>124</locationY>
        <defaultConnector>
            <targetReference>ExceptionOutput_if_Work_Order_is_Null_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Reply_Code_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReplyCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Reply_Code</targetReference>
            </connector>
            <label>Reply Code is Not Null</label>
        </rules>
    </decisions>
    <description>This will handle the create/update of service events</description>
    <formulas>
        <name>var_CurrentUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.Username}</expression>
    </formulas>
    <interviewLabel>Work Order Service Event Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Service Event Creation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exception_Record</name>
        <label>Create Exception Record</label>
        <locationX>605</locationX>
        <locationY>79</locationY>
        <assignRecordIdToReference>ExceptionLogRecordId</assignRecordIdToReference>
        <inputAssignments>
            <field>Apex_Class__c</field>
            <value>
                <stringValue>Work Order Service Event Creation Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>ApiErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Code__c</field>
            <value>
                <elementReference>ApiErrorCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Record_SF_Id__c</field>
            <value>
                <elementReference>ExceptionLogRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Dated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method_Name__c</field>
            <value>
                <stringValue>Method 0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Module__c</field>
            <value>
                <stringValue>Dispatch Management</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Name__c</field>
            <value>
                <elementReference>var_CurrentUserName</elementReference>
            </value>
        </inputAssignments>
        <object>ExceptionLogger__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Event_Record</name>
        <label>Create Service Event Record</label>
        <locationX>25</locationX>
        <locationY>333</locationY>
        <assignRecordIdToReference>ServiceEventId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Work_Order_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ExceptionAssignment</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>DSP_Code__c</field>
            <value>
                <elementReference>DSPCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DSP_Reference__c</field>
            <value>
                <elementReference>ISPConfirmationNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Code__c</field>
            <value>
                <elementReference>EventCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_DateTime__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Source__c</field>
            <value>
                <elementReference>EventSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason__c</field>
            <value>
                <elementReference>ReplyMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reply_Code_Description__c</field>
            <value>
                <elementReference>ReplyMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reply_Code__c</field>
            <value>
                <elementReference>ReplyCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Event__c</field>
            <value>
                <elementReference>ServiceEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Transaction_DateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchServiceEvent__c</object>
    </recordCreates>
    <recordLookups>
        <description>search for existing service event under work order</description>
        <name>Check_for_Service_Event</name>
        <label>Check for Service Event</label>
        <locationX>323</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Service_Event_Id_is_not_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ExceptionAssignment</targetReference>
        </faultConnector>
        <filters>
            <field>DSP_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DSPCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Event_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reply_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReplyCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>DispatchServiceEvent__c</object>
        <outputAssignments>
            <assignToReference>ServiceEventId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Event_Record</name>
        <label>Update Service Event Record</label>
        <locationX>273</locationX>
        <locationY>565</locationY>
        <connector>
            <targetReference>Update_Work_Order_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ExceptionAssignment</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceEventId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DSP_Code__c</field>
            <value>
                <elementReference>DSPCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DSP_Reference__c</field>
            <value>
                <elementReference>ISPConfirmationNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Code__c</field>
            <value>
                <elementReference>EventCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_DateTime__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Transaction_DateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchServiceEvent__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order_Record</name>
        <label>Update Work Order Record</label>
        <locationX>27</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>OutputAssignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ExceptionAssignment</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>StartDate_Dummy_Var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsScheduled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleEndDate__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleStartDate__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduling_URL__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>StartDate_Dummy_Var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>schedulingInternalLogic__c</field>
            <value>
                <stringValue>Neither</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <startElementReference>Check_Work_Order_Id</startElementReference>
    <status>Active</status>
    <variables>
        <description>Error Code - 100 on Sucess, 101 on failure</description>
        <name>ApiErrorCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Api Error Message</description>
        <name>ApiErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>DSPCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>EventId</description>
        <name>EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Event Source from API Input</description>
        <name>EventSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>ExceptionLogRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>To Store ISPConfirmationNumber from Service</description>
        <name>ISPConfirmationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>ReplyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReplyMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>ServiceEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>StartDate_Dummy_Var</description>
        <name>StartDate_Dummy_Var</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>UUID Value for the API</description>
        <name>uuid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
