force-app/main/default/flows/Work_Order_Manual_Part_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>version13 - Final</description>
    <interviewLabel>Manual Part Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Manual Part Selection</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Work_Order_Information</name>
        <label>Get Work Order Information</label>
        <locationX>140</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manual_Part_Selection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>addressBUID</assignToReference>
            <field>AddressBUID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assetId</assignToReference>
            <field>AssetId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>serviceTag</assignToReference>
            <field>ServiceTag__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Manual_Part_Selection</name>
        <label>Manual Part Selection</label>
        <locationX>309</locationX>
        <locationY>147</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Parts</targetReference>
        </connector>
        <fields>
            <name>ManualPartSelection</name>
            <extensionName>c:DispatchManualPartSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>WorkOrderRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressBUID</name>
                <value>
                    <elementReference>addressBUID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTag</name>
                <value>
                    <elementReference>serviceTag</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>WorkOrderRecordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>commodityList</assignToReference>
                <name>selectedCommodityArray</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>searchText</assignToReference>
                <name>searchText</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Parts</name>
        <label>Select Parts</label>
        <locationX>515</locationX>
        <locationY>147</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DispatchManualPartsLists</name>
            <extensionName>c:DispatchManualPartsList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressBUID</name>
                <value>
                    <elementReference>addressBUID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTag</name>
                <value>
                    <elementReference>serviceTag</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>assetId</name>
                <value>
                    <elementReference>assetId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>WorkOrderRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>commodityArray</name>
                <value>
                    <elementReference>commodityList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchText</name>
                <value>
                    <elementReference>searchText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>WorkOrderRecordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>listOfCommodity</assignToReference>
                <name>commodityList</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Work_Order_Information</startElementReference>
    <status>Active</status>
    <variables>
        <name>addressBUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>commodityList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listOfCommodity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>If user Manually enters the data</description>
        <name>searchText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>serviceTag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
