force-app/main/default/flows/WorkOrderTimeZoneUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_WorkOrderIsNull</name>
        <label>Check WorkOrderIsNull</label>
        <locationX>139</locationX>
        <locationY>101</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>WorkOrderIsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TimeZoneLookup</targetReference>
            </connector>
            <label>WorkOrderIsNotNull</label>
        </rules>
    </decisions>
    <interviewLabel>WorkOrderTimeZoneUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrderTimeZoneUpdate</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>TimeZoneLookup</name>
        <label>TimeZoneLookup</label>
        <locationX>129</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TimeZoneUpdate</targetReference>
        </connector>
        <filters>
            <field>DeltaTimezone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeltaTimeZone</elementReference>
            </value>
        </filters>
        <object>Timezone__mdt</object>
        <outputAssignments>
            <assignToReference>Timezone</assignToReference>
            <field>Label</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>TimeZoneUpdate</name>
        <label>TimeZoneUpdate</label>
        <locationX>124</locationX>
        <locationY>330</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Timezone__c</field>
            <value>
                <elementReference>Timezone</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <startElementReference>Check_WorkOrderIsNull</startElementReference>
    <status>Active</status>
    <variables>
        <name>DeltaTimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Timezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
